Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

set codecov commits in env clause for the stage
  Jenkinsfile
Due: none

added dpp and dpp mode argument
  scilpy/tractograms/streamline_operations.py
  scripts/scil_tractogram_point_math.py
Due: Scripts, Library

added overwrite functionality
  scripts/scil_tractogram_point_math.py
Due: Scripts

simplify overwrite
  scripts/scil_tractogram_point_math.py
Due: Scripts

remove append option
  scripts/scil_tractogram_point_math.py
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

arg multiinput just narg+
  scripts/scil_tractogram_point_math.py
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

fixed project map tests
  scripts/tests/test_tractogram_project_map_to_streamlines.py
Due: Scripts

rm doc reference to endpoints
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

update test tractogram point math new args
  scripts/tests/test_tractogram_point_math.py
Due: Scripts

updated name of to dpp_math
  scripts/scil_tractogram_dpp_math.py
  scripts/tests/test_tractogram_dpp_math.py
Due: Scripts

update doc for clearer on what happens in 4D case
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

remove print
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

first draft to fix the doc
  docs/.readthedocs.yaml
  docs/source/conf.py
  docs/source/documentation/construct_participants_tsv_file.rst
  docs/source/documentation/create_overlapping_slice_mosaics.rst
  docs/source/documentation/tractogram_registration.rst
  docs/source/modules/scilpy.connectivity.rst
  docs/source/modules/scilpy.denoise.rst
  docs/source/modules/scilpy.dwi.rst
  docs/source/modules/scilpy.gpuparallel.rst
  docs/source/modules/scilpy.gradients.rst
  docs/source/modules/scilpy.gradientsampling.rst
  docs/source/modules/scilpy.image.rst
  docs/source/modules/scilpy.io.rst
  docs/source/modules/scilpy.reconst.rst
  docs/source/modules/scilpy.rst
  docs/source/modules/scilpy.segment.rst
  docs/source/modules/scilpy.stats.rst
  docs/source/modules/scilpy.surfaces.rst
  docs/source/modules/scilpy.tracking.rst
  docs/source/modules/scilpy.tractanalysis.rst
  docs/source/modules/scilpy.tractograms.rst
  docs/source/modules/scilpy.utils.rst
  docs/source/modules/scilpy.viz.rst
Due: none

added newline
  scilpy/utils/util.py
Due: Library

First pass emmanuel comments
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_pairwise_comparison.py
Due: Scripts, Library

Fix typo/errors
  scripts/scil_tractogram_pairwise_comparison.py
Due: Scripts

Ensure that we get the right data even if ArraySequence's view is not ordered
  scripts/scil_tractogram_assign_custom_color.py
Due: Scripts

Rename test files
  scripts/tests/test_tractogram_assign_custom_color.py
  scripts/tests/test_tractogram_assign_uniform_color.py
Due: Scripts

Adding --in_jsons in docs
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts

Adding doc to in_jsons
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts

Changing output names for extended
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts

moved project func to new file
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts, Library

changed metric to map
  scilpy/tractograms/dps_and_dpp_management.py
Due: Library

changed metric to map
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

added dummy test for dpp management
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
  scilpy/tractograms/tests/test_streamline_operations.py
Due: Library

4D dps math - now outputs array per streamline
  scilpy/tractograms/streamline_operations.py
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts, Library

pep8 issues
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_tractogram_dpp_math.py
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts, Library

Adding warning for TR in seconds
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts

Suppress INFO loggings
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts

Removing logging.warning for the moment
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts

revert and debug
  .github/workflows/test.yml
  setup.py
Due: none

remove mesa-dri
  .github/workflows/test.yml
Due: none

remove python install, should be handled by the setup-python action
  .github/workflows/test.yml
Due: none

sleepfor debug purposes
  .github/workflows/test.yml
Due: none

use importlib
  scripts/scil_tractogram_filter_by_anatomy.py
Due: Scripts

put sleep after pytest to investiguate
  .github/workflows/test.yml
Due: none

include package data via manifest, as should be
  MANIFEST.in
  setup.py
Due: none

run failing test only
  .github/workflows/test.yml
Due: none

fix checkout
  .github/workflows/test.yml
Due: none

remove verbose install
  .github/workflows/test.yml
Due: none
