Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

run flake8 on the script
  scripts/scil_search_keywords.py
Due: Scripts

fix francois commens
  scilpy/surfaces/surface_operations.py
  scripts/scil_surface_apply_transform.py
Due: Scripts, Library

fix documentation
  scripts/scil_surface_apply_transform.py
Due: Scripts

Update doc + terminology
  scilpy/tracking/fibertube.py
  scilpy/tracking/propagator.py
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
  scripts/scil_ft_fibers_metrics.py
  scripts/scil_ft_tracking.py
  scripts/scil_ft_visualize_collisions.py
  scripts/scil_ft_visualize_reconstruction.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/tests/test_ft_fibers_metrics.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts, Library

Add demo to project (Will be removed later)
  demo/DEMO.md
  demo/disco_centerlines_resampled.tck
  demo/disco_diameters.txt
  demo/disco_mask.nii.gz
Due: none

Add lines between docstring and imports
  scripts/scil_ft_fibers_metrics.py
  scripts/scil_ft_reconstruction_metrics.py
  scripts/scil_ft_tracking.py
  scripts/scil_ft_visualize_collisions.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts

Update doc + terminology (Lab PC version)
  scilpy/image/volume_space_management.py
  scilpy/io/utils.py
  scilpy/tracking/fibertube.py
  scilpy/tracking/propagator.py
  scilpy/tracking/seed.py
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
  scripts/scil_ft_fibers_metrics.py
  scripts/scil_ft_reconstruction_metrics.py
  scripts/scil_ft_tracking.py
  scripts/scil_ft_visualize_collisions.py
  scripts/scil_ft_visualize_reconstruction.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/tests/test_ft_fibers_metrics.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts, Library

useless import
  scilpy/io/utils.py
Due: Library

All done: test + documentation + split 4D
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
  scripts/scil_lesions_generate_nawm.py
Due: Scripts, Library

Full recap of scripts after coming back from vacation.
  scilpy/tracking/fibertube.py
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
  scripts/scil_ft_reconstruction_metrics.py
  scripts/scil_ft_tracking.py
  scripts/scil_ft_visualize_collisions.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/scil_viz_tractogram_seeds.py
Due: Scripts, Library

Detailled the --split_4D
  scripts/scil_lesions_generate_nawm.py
Due: Scripts

Make tractogram_filter_collision more generic.
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts

First pass of PR fixes since comeback. Not much left. :)
  scilpy/image/volume_space_management.py
  scilpy/tracking/fibertube.py
  scilpy/tracking/propagator.py
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_ft_reconstruction_metrics.py
  scripts/scil_ft_tracking.py
  scripts/scil_ft_visualize_collisions.py
Due: Scripts, Library

Add notImplementedError to unimplemented function in FibertubeDataVolume
  scilpy/image/volume_space_management.py
Due: Library

Remove all masks arguments + clean FibertubeSeeder
  scilpy/image/volume_space_management.py
  scilpy/tracking/fibertube.py
  scilpy/tracking/seed.py
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
  scripts/scil_ft_tracking.py
Due: Scripts, Library

Fix for pep8
  scripts/scil_ft_fibers_metrics.py
  scripts/scil_ft_reconstruction_metrics.py
  scripts/scil_ft_tracking.py
  scripts/scil_ft_visualize_collisions.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts

Update scilpy/image/volume_space_management.py
  scilpy/image/volume_space_management.py
Due: Library

Few code fixes
  scilpy/tracking/fibertube.py
  scilpy/tracking/seed.py
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
Due: Library

Save diameters locally for fibertube testing
  scripts/tests/test_ft_fibers_metrics.py
  scripts/tests/test_ft_tracking.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts

Fix the previous fixes
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

Finalize pep8
  scilpy/image/volume_space_management.py
  scilpy/tracking/fibertube.py
  scilpy/tracking/propagator.py
  scilpy/tracking/seed.py
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
Due: Library

Add doc in ft tracking
  scripts/scil_ft_tracking.py
Due: Scripts

try to fix tests
  .github/workflows/test.yml
Due: none

try to have a specific python version
  .python-version
Due: none

update .python-version for tests
  .python-version
Due: none

fix coverage
  .github/workflows/test.yml
Due: none

test with python 3.11
  .github/workflows/test.yml
  .python-version
Due: none

test with 3.10.15
  .python-version
Due: none

dpp_dps: Add tests. Fix error in dpp_to_dps"
  scilpy/tests/utils.py
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
Due: Library

get_values: more explicit name, fix return type
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
  scripts/scil_tractogram_assign_custom_color.py
Due: Scripts, Library

Add lazy operations tests
  scilpy/tractograms/lazy_tractogram_operations.py
  scilpy/tractograms/tests/test_lazy_tractogram_operations.py
  scripts/scil_tractogram_count_streamlines.py
  scripts/scil_tractogram_print_info.py
Due: Scripts, Library

Test get_angles
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
  scripts/scil_tractogram_assign_custom_color.py
Due: Scripts, Library

Test compress_sft
  scilpy/tractograms/tests/test_streamline_operations.py
Due: Library

Remove 16x4 redondant imports
  scilpy/tractograms/tests/test_streamline_operations.py
Due: Library

Test cut_invalid: FIX: one too many point was cut
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
Due: Library

update test for new script names
  scripts/tests/test_fibertube_reconstruction_metrics.py
  scripts/tests/test_fibertube_tracking.py
  scripts/tests/test_ft_fibers_metrics.py
  scripts/tests/test_ft_reconstruction_metrics.py
  scripts/tests/test_viz_tractogram_collisions.py
Due: Scripts

Update /tracking tests documentation
  scilpy/tracking/tests/test_propagator.py
  scilpy/tracking/tests/test_tracker.py
Due: Library
