Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Refactor and Emma comment
  scilpy/tractanalysis/reproducibility_measures.py
  scripts/scil_bundle_pairwise_comparison.py
  scripts/scil_volume_pairwise_comparison.py
Due: Scripts, Library

WIP: fODF interpolation
  scilpy/reconst/fodf.py
  scripts/scil_fodf_interpolate.py
Due: Scripts, Library

WIP: merge fodf resample
  scilpy/image/volume_operations.py
  scilpy/reconst/fodf.py
  scripts/scil_fodf_interpolate.py
  scripts/scil_volume_resample.py
Due: Scripts, Library

ENH: comments
  scilpy/image/volume_operations.py
Due: Library

ENH: projection + GA/GFA
  scilpy/image/volume_operations.py
  scilpy/reconst/fodf.py
  scilpy/reconst/sh.py
  scripts/scil_fodf_metrics.py
Due: Scripts, Library

add hidden folder to gitignore
  .gitignore
Due: none

add nltk to requirements
  requirements.txt
Due: none

WIP: fODF resampling almost but doesn't quite work
  scilpy/reconst/fodf.py
  scilpy/reconst/sh.py
Due: Library

Removing unused argument in parser
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Update after Stan comments
  scripts/scil_volume_pairwise_comparison.py
Due: Scripts

ENH: pad or crop volume
  scilpy/image/volume_operations.py
  scripts/scil_volume_reshape.py
Due: Scripts, Library

ENH: resample comment
  scripts/scil_volume_resample.py
Due: Scripts

ENH: tests
  scilpy/image/tests/test_volume_operations.py
  scripts/tests/test_volume_reshape.py
Due: Scripts, Library

ENH: more tests
  scilpy/image/tests/test_volume_operations.py
  scripts/tests/test_volume_reshape.py
Due: Scripts, Library

added a try-except block for importing nltk with a message if the package is not installed
  scripts/scil_search_keywords.py
Due: Scripts

delete generate_help_files script and add it as a function to scilpy_bot.py
  scilpy/utils/generate_help_files.py
  scilpy/utils/scilpy_bot.py
Due: Library

lesions_info now use labels as input
  scripts/scil_lesions_info.py
Due: Scripts

Improved doc
  scripts/scil_lesions_info.py
Due: Scripts

Reverse output of the result
  scripts/scil_search_keywords.py
Due: Scripts

merge synonyms acronyms and keywords in the same json file
  scilpy/utils/Vocabulary/Vocabulary.json
Due: Library

change vocabulary json file's path and adapt the scripts to that
  data/Vocabulary/Vocabulary.json
  scilpy/utils/Vocabulary/Keywords.json
  scilpy/utils/Vocabulary/Synonyms.json
  scilpy/utils/Vocabulary/acronyms.json
  scilpy/utils/scilpy_bot.py
  scripts/scil_search_keywords.py
Due: Scripts, Library

ENH: renaming
  scripts/legacy/scil_reshape_to_reference.py
  scripts/scil_volume_reshape_to_reference.py
  scripts/scil_volume_reslice_to_reference.py
  scripts/tests/test_volume_reslice_to_reference.py
Due: Scripts

Transfer arg
  scilpy/image/labels.py
  scripts/scil_labels_from_mask.py
  scripts/scil_lesions_info.py
Due: Scripts, Library

change the _calculate_score function to use regex to match the whole words only (words between 2 whitespaces)
  scilpy/utils/scilpy_bot.py
Due: Library

modify docstring
  scripts/scil_search_keywords.py
Due: Scripts

change the _generate_help_files function to display progress of files generation
  scilpy/utils/scilpy_bot.py
Due: Library

delete useless files os and subprocess
  os
  subprocess
Due: none

run autopep8 on the changed and new scripts
  scilpy/utils/scilpy_bot.py
  scripts/scil_search_keywords.py
Due: Scripts, Library

Update scripts/scil_bundle_alter_to_target_dice.py
  scripts/scil_bundle_alter_to_target_dice.py
Due: Scripts

Forgotten Em comments
  scilpy/tractograms/tractogram_operations.py
Due: Library

Last round of review
  scilpy/tractanalysis/reproducibility_measures.py
  scripts/scil_bundle_pairwise_comparison.py
  scripts/scil_volume_pairwise_comparison.py
  scripts/tests/test_bundle_pairwise_comparison.py
Due: Scripts, Library

add a test for the search_category and no_synonyms args
  scripts/tests/test_search_keywords.py
Due: Scripts

run flake8 on the changed scripts
  scilpy/utils/scilpy_bot.py
  scripts/scil_search_keywords.py
  scripts/tests/test_search_keywords.py
Due: Scripts, Library

update script to compute TODI model selection
  scripts/scil_mrds_modsel_todi.py
Due: Scripts

compute MRDS metrics
  scripts/scil_compute_mrds_metrics.py
Due: Scripts

fit MRDS
  scripts/scil_fit_mrds.py
Due: Scripts

Add missing line
  scilpy/image/labels.py
Due: Library
