Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Finish dps/dpp tests
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
  scripts/scil_tractogram_dpp_math.py
  scripts/tests/test_tractogram_dpp_math.py
Due: Scripts, Library

Fix data type (list instead of array)
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/viz/utils.py
Due: Library

Revert change in legacy test file
  scripts/legacy/tests/test_legacy_scripts.py
Due: Scripts

Fix squeeze error
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
Due: Library

FT Core: collision filtering + tracking
  scilpy/image/volume_space_management.py
  scilpy/io/utils.py
  scilpy/tracking/fibertube.py
  scilpy/tracking/propagator.py
  scilpy/tracking/seed.py
  scilpy/tractograms/intersection_finder.py
  scripts/scil_ft_tracking.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts, Library

FT Analysis: fibers and reconstruction metrics
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_ft_fibers_metrics.py
  scripts/scil_ft_reconstruction_metrics.py
Due: Scripts, Library

FT visual: visualize collisions and reconstructions
  scripts/scil_ft_visualize_collisions.py
  scripts/scil_ft_visualize_reconstruction.py
Due: Scripts

numba in requirements + pep8 fix
  requirements.txt
  scilpy/tracking/fibertube.py
  scripts/scil_ft_tracking.py
Due: Scripts, Library

Test for each new script + Fix accordingly
  requirements.txt
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_ft_fibers_metrics.py
  scripts/scil_ft_reconstruction_metrics.py
  scripts/scil_ft_tracking.py
  scripts/scil_ft_visualize_reconstruction.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/tests/test_ft_fibers_metrics.py
  scripts/tests/test_ft_reconstruction_metrics.py
  scripts/tests/test_ft_tracking.py
  scripts/tests/test_ft_visualize_collisions.py
  scripts/tests/test_ft_visualize_reconstruction.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts, Library

Style for pep8
  scripts/tests/test_ft_fibers_metrics.py
  scripts/tests/test_ft_tracking.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts

FIX: scorer when only NC
  scilpy/segment/tractogram_from_roi.py
Due: Library

NF - add PTT options to the local tracking script
  scilpy/tracking/utils.py
  scripts/scil_tracking_local.py
Due: Scripts, Library

PEP8
  scilpy/tracking/utils.py
Due: Library

TST - ptt tracking
  scripts/tests/test_tracking_local.py
Due: Scripts

STYLE - removed unnecessary '+'
  scilpy/tracking/utils.py
Due: Library

STYLE - format --help
  scilpy/tracking/utils.py
Due: Library

centroid -> centerline
  scilpy/image/volume_space_management.py
  scilpy/tracking/fibertube.py
  scilpy/tracking/seed.py
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_ft_fibers_metrics.py
  scripts/scil_ft_reconstruction_metrics.py
  scripts/scil_ft_tracking.py
  scripts/scil_ft_visualize_reconstruction.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts, Library

Answer Arnaud
  scilpy/tractograms/dps_and_dpp_management.py
Due: Library

Review changes for collision filtering script
  scilpy/tractograms/intersection_finder.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts, Library

English
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts

Review changes for collision visualization
  scripts/scil_ft_visualize_collisions.py
  scripts/scil_ft_visualize_reconstruction.py
  scripts/scil_visualize_seeds.py
Due: Scripts

Fix get_colormap renaming
  scilpy/viz/legacy/chord_chart.py
  scripts/scil_bundle_diameter.py
  scripts/scil_bundle_label_map.py
  scripts/scil_screenshot_bundle.py
  scripts/scil_visualize_connectivity.py
Due: Scripts, Library

Change camera parameters we use (setting view angle doesn't require knowing the viewport previous zoom factor)
  scilpy/viz/backends/fury.py
Due: Library

Create legacy module for stuff to move or change.
  scilpy/viz/legacy/__init__.py
  scilpy/viz/legacy/chord_chart.py
  scripts/scil_visualize_connectivity.py
Due: Scripts, Library

Improve docstring. remove unused imports in fury backend
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/color.py
  scilpy/viz/gradient_sampling.py
  scilpy/viz/screenshot.py
Due: Library

Start refactoring fury to merge legacy
  scilpy/viz/backends/fury.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

create util for axis, coordinate and basis vector naming and indexing
  scilpy/image/utils.py
  scilpy/io/utils.py
  scilpy/utils/util.py
  scilpy/viz/backends/fury.py
  scilpy/viz/screenshot.py
  scilpy/viz/utils.py
  scripts/scil_screenshot_bundle.py
  scripts/scil_screenshot_dti.py
  scripts/scil_screenshot_volume.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

First refactor pass at the visualization module
  .devcontainer/devcontainer.json
  scilpy/viz/backends/__init__.py
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/chord_chart.py
  scilpy/viz/legacy.py
  scilpy/viz/scene_utils.py
  scilpy/viz/screenshot.py
  scilpy/viz/utils.py
  scilpy/viz/volume_slicing.py
  scripts/scil_bundle_diameter.py
  scripts/scil_screenshot_bundle.py
  scripts/scil_screenshot_dti.py
  scripts/scil_screenshot_volume.py
  scripts/scil_screenshot_volume_mosaic_overlap.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_connectivity.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Make all vizualisation lazy
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Code standards in PIL module
  scilpy/viz/backends/pil.py
Due: Library

Update screenshotting to use generators to lower RAM usage
  scilpy/utils/util.py
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/color.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_screenshot_volume.py
Due: Scripts, Library

Apply scil code style. Fix camera parameters setting. Add overlay possibility to contours snapshotter.
  scilpy/viz/backends/fury.py
  scilpy/viz/screenshot.py
  scripts/scil_bundle_diameter.py
  scripts/scil_screenshot_volume.py
  scripts/scil_visualize_bingham_fit.py
Due: Scripts, Library

Fix pep8
  scilpy/utils/util.py
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/legacy/__init__.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scilpy/viz/utils.py
  scripts/scil_screenshot_volume.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Create color module. Move PIL out of fury backend. Add todos.
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/color.py
  scilpy/viz/gradient_sampling.py
  scilpy/viz/legacy/chord_chart.py
  scilpy/viz/screenshot.py
  scripts/scil_bundle_diameter.py
  scripts/scil_screenshot_bundle.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_connectivity.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Start renaming in code to abide with scil conventions
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/color.py
  scilpy/viz/screenshot.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Further split backend
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Apply scil code style. Fix camera parameters setting. Add overlay possibility to contours snapshotter.
  scilpy/viz/screenshot.py
Due: Library

answer most of Emanuelle's comments
  scilpy/io/utils.py
  scilpy/utils/util.py
  scilpy/viz/backends/fury.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scilpy/viz/utils.py
  scripts/scil_bingham_visualize.py
  scripts/scil_btensor_metrics.py
  scripts/scil_dwi_compute_snr.py
  scripts/scil_fodf_visualize.py
  scripts/scil_script_rename.py
  scripts/scil_volume_screenshot.py
  scripts/scil_volume_screenshot_mosaic.py
Due: Scripts, Library

fix mosaic
  scilpy/io/utils.py
  scilpy/viz/backends/pil.py
  scilpy/viz/screenshot.py
  scripts/scil_volume_screenshot_mosaic.py
Due: Scripts, Library
