Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Add tests structure in tractogram_operations
  scilpy/tractograms/tests/test_tractogram_operations.py
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_fix_trk.py
Due: Scripts, Library

Add more coverage in assign_custom_color tests
  scripts/tests/test_tractogram_assign_custom_color.py
Due: Scripts

Oups. Add bundle_operations to git
  scilpy/tractanalysis/bundle_operations.py
Due: Library

Fix wrong import
  scilpy/segment/tractogram_from_roi.py
Due: Library

Fix pep8
  scilpy/tractanalysis/bundle_operations.py
  scilpy/tractograms/streamline_operations.py
Due: Library

add error when sft is empty
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts

Remove toDo
  scripts/scil_tracking_local.py
  scripts/scil_tracking_local_dev.py
Due: Scripts

Move option out of common args, to local_tracking.py only
  scilpy/tracking/utils.py
  scripts/scil_tracking_local.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

fix merge master
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts

Answer Charles's comments
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
  scilpy/tractograms/tractogram_operations.py
  scilpy/viz/utils.py
Due: Library

Remove overlapping points
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts, Library

transfer to functions
  scilpy/utils/streamlines.py
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts, Library

Add comments and docstring
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/utils/streamlines.py
Due: Library

remove whitespace
  scilpy/utils/streamlines.py
Due: Library

apply_transform_to_hdf5: OK
  scripts/scil_tractogram_apply_transform_to_hdf5.py
  scripts/tests/test_tractogram_apply_transform.py
  scripts/tests/test_tractogram_apply_transform_to_hdf5.py
Due: Scripts

BREAKING CHANGE. Make management of invalid same in both, same as description.
  scripts/scil_tractogram_apply_transform.py
  scripts/scil_tractogram_apply_transform_to_hdf5.py
Due: Scripts

tractogram_apply_transform: just clarifying help
  scripts/scil_tractogram_apply_transform.py
  scripts/tests/test_tractogram_apply_transform.py
Due: Scripts

tractogram_cut_streamlines: ok
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
  scripts/tests/test_tractogram_cut_streamlines.py
Due: Scripts, Library

Clean script scil_tractogram_assign_uniform_color
  scilpy/viz/utils.py
  scripts/scil_tractogram_assign_uniform_color.py
Due: Scripts, Library

Manage case with rejected streamlines in cut_streamlines
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts, Library

Fix failed test
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
Due: Library

New methods in scilpy.io.hdf5
  scilpy/io/hdf5.py
  scilpy/io/streamlines.py
  scripts/scil_bundle_mean_fixel_afd_from_hdf5.py
  scripts/scil_connectivity_compute_matrices.py
  scripts/scil_connectivity_hdf5_average_density_map.py
  scripts/scil_tractogram_apply_transform_to_hdf5.py
  scripts/scil_tractogram_commit.py
  scripts/scil_tractogram_convert_hdf5_to_trk.py
Due: Scripts, Library

assign_uniform: Add more test coverage
  scripts/scil_tractogram_assign_uniform_color.py
  scripts/tests/test_tractogram_assign_uniform_color.py
Due: Scripts

Answer Antoine's comments
  scripts/scil_tractogram_apply_transform.py
  scripts/scil_tractogram_assign_uniform_color.py
Due: Scripts

fix but tests still failing - compress
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts, Library

fix script
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts

pep8
  scripts/tests/test_tractogram_cut_streamlines.py
Due: Scripts

create util for axis, coordinate and basis vector naming and indexing
  scilpy/image/utils.py
  scilpy/io/utils.py
  scilpy/utils/util.py
  scilpy/viz/backends/fury.py
  scilpy/viz/screenshot.py
  scilpy/viz/utils.py
  scripts/scil_screenshot_bundle.py
  scripts/scil_screenshot_dti.py
  scripts/scil_screenshot_volume.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Start refactoring fury to merge legacy
  scilpy/viz/backends/fury.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

First refactor pass at the visualization module
  .devcontainer/devcontainer.json
  scilpy/viz/backends/__init__.py
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/chord_chart.py
  scilpy/viz/legacy.py
  scilpy/viz/scene_utils.py
  scilpy/viz/screenshot.py
  scilpy/viz/utils.py
  scilpy/viz/volume_slicing.py
  scripts/scil_bundle_diameter.py
  scripts/scil_screenshot_bundle.py
  scripts/scil_screenshot_dti.py
  scripts/scil_screenshot_volume.py
  scripts/scil_screenshot_volume_mosaic_overlap.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_connectivity.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Create legacy module for stuff to move or change.
  scilpy/viz/legacy/__init__.py
  scilpy/viz/legacy/chord_chart.py
  scripts/scil_visualize_connectivity.py
Due: Scripts, Library

Fix pep8
  scilpy/utils/util.py
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/legacy/__init__.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scilpy/viz/utils.py
  scripts/scil_screenshot_volume.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Further split backend
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Create color module. Move PIL out of fury backend. Add todos.
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/color.py
  scilpy/viz/gradient_sampling.py
  scilpy/viz/legacy/chord_chart.py
  scilpy/viz/screenshot.py
  scripts/scil_bundle_diameter.py
  scripts/scil_screenshot_bundle.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_connectivity.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Update screenshotting to use generators to lower RAM usage
  scilpy/utils/util.py
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/color.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_screenshot_volume.py
Due: Scripts, Library

Start renaming in code to abide with scil conventions
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/color.py
  scilpy/viz/screenshot.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Change camera parameters we use (setting view angle doesn't require knowing the viewport previous zoom factor)
  scilpy/viz/backends/fury.py
Due: Library

Code standards in PIL module
  scilpy/viz/backends/pil.py
Due: Library

Make all vizualisation lazy
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Apply scil code style. Fix camera parameters setting. Add overlay possibility to contours snapshotter.
  scilpy/viz/backends/fury.py
  scilpy/viz/screenshot.py
  scripts/scil_bundle_diameter.py
  scripts/scil_screenshot_volume.py
  scripts/scil_visualize_bingham_fit.py
Due: Scripts, Library
