Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

Update README.md
  README.md
Due: none

ENH: reshape optional dtype
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
Due: Library

ENH: --data_type option
  scripts/scil_volume_reshape.py
  scripts/tests/test_volume_reshape.py
Due: Scripts

FIX: typo
  scilpy/image/volume_operations.py
Due: Library

rc1 for pypi
  .github/workflows/publish_to_testpypi.yml
  README.md
  scilpy/version.py
Due: Library

DOC: Fix script name in volume reslicing script documentation example
  scripts/scil_volume_reslice_to_reference.py
Due: Scripts

fix sentence
  README.md
Due: none

Update version.py
  scilpy/version.py
Due: Library

FIX: default to default bundles
  scripts/scil_fodf_bundleparc.py
Due: Scripts

ENH: comments
  scilpy/ml/bundleparc/bundleparcnet.py
  scilpy/ml/bundleparc/utils.py
  scripts/scil_fodf_bundleparc.py
Due: Scripts, Library

FIX: ope
  scripts/scil_fodf_bundleparc.py
Due: Scripts

FIX: remove useless check
  scripts/scil_fodf_bundleparc.py
Due: Scripts

ENH: shorten --help
  scripts/scil_fodf_bundleparc.py
Due: Scripts

See coverage from scripts tests only
  pytest.ini
Due: none

remove scripts from tests
  pytest.ini
Due: none

Adding tests for energy_comparison
  scilpy/gradients/tests/test_gen_gradient_sampling.py
Due: Library

Removing fetcher
  scilpy/gradients/tests/test_gen_gradient_sampling.py
Due: Library

mandatory reference
  scripts/scil_surface_convert.py
Due: Scripts

ENH: Add miscellaneous tractogram extensions to header check
  scilpy/io/utils.py
Due: Library

WIP - hurdle tracking
  scilpy/tracking/tracker.py
  scripts/scil_tracking_hurdle.py
Due: Scripts, Library

WIP - prototype implementation of hurdle tracking
  scilpy/tracking/hurdle.py
  scilpy/tracking/tracker.py
  scripts/scil_tracking_hurdle.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

raise error if the hurdle method is wrong
  scilpy/tracking/tracker.py
Due: Library

fixes test for hurdle method name
  scilpy/tracking/tracker.py
Due: Library

moved the 'hurdle fct' before the propagation step
  scilpy/tracking/tracker.py
Due: Library

Change default hurdle method to None
  scripts/scil_tracking_local_dev.py
Due: Scripts

RF - changed hurdle to RAP
  scilpy/tracking/rap.py
  scilpy/tracking/tracker.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

PEP - removed CAPS from variable names
  scilpy/tracking/tracker.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

TST - rap tracking script
  scripts/tests/test_tracking_local_dev.py
Due: Scripts

GAB's work
  scilpy/tracking/rap.py
  scilpy/tracking/tracker.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

Using a new class
  scilpy/tracking/rap.py
  scilpy/tracking/tracker.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

PEP - removed warning
  scripts/scil_tracking_local_dev.py
Due: Scripts

BF - args param checks
  scripts/scil_tracking_local_dev.py
Due: Scripts

ENH: BundleParc - continuous and distance-based parcellation
  scilpy/ml/bundleparc/labels.py
  scilpy/ml/bundleparc/predict.py
  scilpy/ml/bundleparc/utils.py
  scripts/scil_fodf_bundleparc.py
  scripts/tests/test_fodf_bundleparc.py
Due: Scripts, Library

ENH: reworked comments and docstring
  scilpy/ml/bundleparc/labels.py
  scilpy/ml/bundleparc/predict.py
Due: Library

ENH: basis --help
  scripts/scil_fodf_bundleparc.py
Due: Scripts

ENH: basis --help pt.2
  scripts/scil_fodf_bundleparc.py
Due: Scripts

feat: Upgrade to Python 3.12
  .python-version
  pyproject.toml
  requirements.txt
Due: none

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
