Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Fix pep8
  scripts/scil_tractogram_compute_density_map.py
Due: Scripts

Small fixes viz
  scilpy/io/utils.py
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scripts/scil_viz_fodf.py
  scripts/scil_viz_volume_screenshot.py
  scripts/tests/test_viz_fodf.py
  scripts/tests/test_viz_volume_screenshot.py
Due: Scripts, Library

Fix test (thanks Alex)
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/color.py
  scilpy/viz/screenshot.py
  scripts/scil_viz_fodf.py
  scripts/tests/test_viz_fodf.py
Due: Scripts, Library

Adding new axis only when not 2D
  scilpy/viz/backends/pil.py
Due: Library

WIP: segment fix, still some errors
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

WIP
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

WIP: fix? but still some problems
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

FIX: fixed and somewhat simplified streamline cutting
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

ENH: remove working changes
  scilpy/tractograms/streamline_operations.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

ENH: address comments
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

FIX: bogus commit for workflow
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

Add test in viz_volume_screenshot_mosaic
  scripts/tests/test_viz_volume_screenshot_mosaic.py
Due: Scripts

Add option in test_bundle_diameter
  scripts/tests/test_bundle_diameter.py
Due: Scripts

Add option 'ambiant_occlusion' and 'local_orientation`
  scilpy/viz/backends/pil.py
  scripts/tests/test_tractogram_assign_custom_color.py
  scripts/tests/test_viz_volume_screenshot.py
Due: Scripts, Library

Simplify scil_viz_fodf
  scripts/scil_bundle_diameter.py
  scripts/scil_viz_bingham_fit.py
  scripts/scil_viz_fodf.py
Due: Scripts

Ignore some coverage
  scilpy/viz/backends/fury.py
Due: Library

Add test for viz_seeds_3d
  scilpy/viz/color.py
  scripts/scil_viz_tractogram_seeds_3d.py
  scripts/tests/test_viz_tractogram_seeds_3d.py
Due: Scripts, Library

Ignoring functions in viz.gradients
  scilpy/viz/gradients.py
Due: Library

New test for scil_viz_volume_screenshot
  scilpy/viz/screenshot.py
  scripts/scil_viz_volume_screenshot.py
  scripts/tests/test_viz_volume_screenshot.py
Due: Scripts, Library

remove scripts from tests
  pytest.ini
Due: none

See coverage from scripts tests only
  pytest.ini
Due: none

Fix usage of os.chdir in test
  scripts/tests/test_bundle_label_map.py
Due: Scripts

FIX: linear search
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tractogram_operations.py
Due: Library

EHH: remove wip prints
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/tractogram_operations.py
Due: Library

ENH: remove unused changes
  scilpy/tractograms/tractogram_operations.py
Due: Library

FIX: revert ray changes
  scilpy/tractograms/streamline_operations.py
Due: Library

FIX: remove removed return
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

ENH: compute_streamline_segment tests
  scilpy/tests/streamlines.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
Due: Library

FIX: comment to prevent np.searchsorted to creep back in
  scilpy/tractograms/streamline_operations.py
Due: Library

Update scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

FIX: scil_bundle_label_map crash
  scripts/scil_bundle_label_map.py
Due: Scripts

now we can use float or integer with addition, subtraction, multiplication and division
  scilpy/image/tests/test_volume_math.py
  scilpy/image/volume_math.py
Due: Library

add reverse opersation test
  scilpy/image/tests/test_volume_math.py
Due: Library

FIX: revert back to initial functions
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/streamline_operations.py
Due: Library

FIX: remove asserts
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

FIX: scil_bundle_label_map min labelled streamline length
  scripts/scil_bundle_label_map.py
Due: Scripts

ENH: hausdorff + labels to mask compare
  scilpy/tractanalysis/reproducibility_measures.py
  scripts/scil_volume_pairwise_comparison.py
Due: Scripts, Library

ENH: add tests
  scripts/tests/test_volume_pairwise_comparison.py
Due: Scripts

some fixes for connectoflow
  scilpy/io/hdf5.py
  scripts/scil_connectivity_hdf5_average_density_map.py
  scripts/tests/test_connectivity_hdf5_average_density_map.py
Due: Scripts, Library

Switch from error to warning for DPP
  scilpy/io/hdf5.py
Due: Library
