Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Reduce logging
  scilpy/io/hdf5.py
Due: Library

Update index.rst
  docs/source/index.rst
Due: none

fix commit2 with hdf5 used with connectoflow
  scripts/scil_tractogram_commit.py
Due: Scripts

remove verbose
  scripts/scil_tractogram_commit.py
Due: Scripts

copy file to out folder
  scripts/scil_tractogram_commit.py
Due: Scripts

allow and check if sft is empty
  scripts/scil_bundle_mean_fixel_afd_from_hdf5.py
Due: Scripts

try to fix afd in hdf5
  scilpy/io/hdf5.py
  scripts/scil_tractogram_apply_transform_to_hdf5.py
Due: Scripts, Library

ENH: BundleParc v2
  scilpy/ml/bundleparc/bundleparcnet.py
  scilpy/ml/bundleparc/predict.py
  scilpy/ml/bundleparc/utils.py
  scripts/scil_fodf_bundleparc.py
Due: Scripts, Library

FIX: example and assert
  scripts/scil_fodf_bundleparc.py
Due: Scripts

fix nb_threads
  scripts/scil_freewater_maps.py
Due: Scripts

change condition
  scilpy/io/hdf5.py
Due: Library

remove typo
  scilpy/io/hdf5.py
Due: Library

ENH: unit tests
  scilpy/ml/bundleparc/predict.py
  scilpy/ml/bundleparc/tests/test_bundleparc_utils.py
  scilpy/ml/bundleparc/utils.py
Due: Library

FIX: tests + default dir
  scilpy/ml/bundleparc/predict.py
  scilpy/ml/bundleparc/tests/test_bundleparc_utils.py
  scripts/scil_fodf_bundleparc.py
Due: Scripts, Library

ENH: cleanup
  scilpy/ml/bundleparc/predict.py
  scilpy/ml/bundleparc/utils.py
Due: Library

answer Francois comments
  scilpy/io/hdf5.py
  scripts/scil_tractogram_commit.py
Due: Scripts, Library

FIX: tests
  scripts/scil_fodf_bundleparc.py
  scripts/tests/test_fodf_bundleparc.py
Due: Scripts

ENH: ML test workflow
  .github/workflows/test.yml
Due: none

fix odf actor sf or sh
  scilpy/viz/backends/fury.py
  scilpy/viz/slice.py
  scripts/scil_viz_fodf.py
Due: Scripts, Library

remove print
  scripts/scil_viz_fodf.py
Due: Scripts

fix var name
  scilpy/viz/backends/fury.py
  scilpy/viz/slice.py
Due: Library

FIX: test
  scripts/tests/test_fodf_bundleparc.py
Due: Scripts

Update cibuildwheel.toml
  cibuildwheel.toml
Due: none

Update publish_to_testpypi.yml
  .github/workflows/publish_to_testpypi.yml
Due: none

ENH: specific bundle prediction
  scilpy/ml/bundleparc/predict.py
  scilpy/ml/bundleparc/utils.py
  scripts/scil_fodf_bundleparc.py
  scripts/tests/test_fodf_bundleparc.py
Due: Scripts, Library

ENH: conditional test
  .github/workflows/test.yml
Due: none

FIX: optional workflow
  .github/workflows/test-ml.yml
Due: none

FIX: workflow
  .github/workflows/test-ml.yml
Due: none

FIX: workflow concurrency
  .github/workflows/test-ml.yml
Due: none

fixes for building wheels
  .github/workflows/publish_to_testpypi.yml
  cibuildwheel.toml
Due: none

fix cibuild version
  .github/workflows/publish_to_testpypi.yml
Due: none

FIX: init files
  scilpy/ml/__init__.py
  scilpy/ml/bundleparc/__init__.py
Due: Library

Update version.py
  scilpy/version.py
Due: Library

FIX: torch tripwire msg
  scilpy/ml/bundleparc/attention.py
  scilpy/ml/bundleparc/bundleparcnet.py
  scilpy/ml/bundleparc/encodings.py
  scilpy/ml/bundleparc/predict.py
  scilpy/ml/bundleparc/utils.py
  scilpy/ml/utils.py
  scripts/scil_fodf_bundleparc.py
Due: Scripts, Library

FIX: francois' comments
  scripts/scil_fodf_bundleparc.py
Due: Scripts

FIX: out folder
  scripts/scil_fodf_bundleparc.py
Due: Scripts

FIX: pep8
  scilpy/ml/bundleparc/bundleparcnet.py
Due: Library

ENH: reshape keep dtype
  scilpy/image/volume_operations.py
Due: Library
