Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Most of Antoine comments
  scilpy/tractanalysis/distance_to_centroid.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

pep8 fix
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

Better filtering, scoring and utilities
  scilpy/image/volume_space_management.py
  scilpy/tracking/fibertube_utils.py
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_fibertube_compute_density.py
Due: Scripts, Library

Simplify forward_only
  scripts/scil_fibertube_tracking.py
Due: Scripts

Update publish_to_testpypi.yml
  .github/workflows/publish_to_testpypi.yml
Due: none

Update fibertube_tracking.rst
  docs/source/documentation/fibertube_tracking.rst
Due: none

Revert scoring changes, as they are older than master.
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

Rotate screenshots
  scripts/scil_viz_bundle_screenshot_mosaic.py
Due: Scripts

Simplify FTODFDataVolume init and fix warning
  scilpy/image/volume_space_management.py
  scripts/scil_fibertube_tracking.py
Due: Scripts, Library

Allow scoring with ftODF + Add new seeding option + pep8 + tests
  scilpy/tracking/seed.py
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/tests/test_fibertube_score_tractogram.py
  scripts/tests/test_fibertube_tracking.py
Due: Scripts, Library

Mini logging fix
  scripts/scil_fibertube_compute_density.py
Due: Scripts

Allow deterministic tracking + fix ftODF scoring from last commit + tests + pep8
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/tests/test_fibertube_tracking.py
Due: Scripts, Library

Remove print and clean doc.
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
Due: Scripts, Library

Update version.py
  scilpy/version.py
Due: Library

Add endpoint distance to fibertube scoring + test + pep8
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_score_tractogram.py
Due: Scripts, Library

Add ftODF sh_order as tracking option + tests + pep8
  scripts/scil_fibertube_tracking.py
  scripts/tests/test_fibertube_tracking.py
Due: Scripts

Update demo
  docs/source/documentation/fibertube_tracking.rst
Due: none

Update images in demo
  docs/source/documentation/fibertube_tracking.rst
Due: none

Improve demo + make files executable
  docs/source/documentation/fibertube_tracking.rst
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/scil_viz_tractogram_collisions.py
Due: Scripts

Charles change requests first pass.
  scilpy/tracking/fibertube_utils.py
  scilpy/tracking/seed.py
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
Due: Scripts, Library

Small fixes viz
  scilpy/io/utils.py
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scripts/scil_viz_fodf.py
  scripts/scil_viz_volume_screenshot.py
  scripts/tests/test_viz_fodf.py
  scripts/tests/test_viz_volume_screenshot.py
Due: Scripts, Library

Ignore some coverage
  scilpy/viz/backends/fury.py
Due: Library

Add test for viz_seeds_3d
  scilpy/viz/color.py
  scripts/scil_viz_tractogram_seeds_3d.py
  scripts/tests/test_viz_tractogram_seeds_3d.py
Due: Scripts, Library

Add option 'ambiant_occlusion' and 'local_orientation`
  scripts/tests/test_tractogram_assign_custom_color.py
Due: Scripts

trigger test
  README.md
Due: none

fix some possible issues with labels and mask stats
  scripts/scil_labels_combine.py
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

fix pep8
  scripts/scil_labels_combine.py
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

Replace element by streamline count
  scripts/scil_viz_bundle_screenshot_mosaic.py
Due: Scripts

Change for # streamlines
  scripts/scil_viz_bundle_screenshot_mosaic.py
Due: Scripts

fix lib missing, requirement and new version 2.1.0-rc1 coming
  .github/workflows/test.yml
  requirements.txt
  scilpy/version.py
Due: Library

add specific tests with option no point and one point in streamline
  scilpy/io/fetcher.py
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
Due: Library

fix PK comments
  scripts/scil_labels_combine.py
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

add section for regular user and developper
  README.md
Due: none

remove useless return
  scripts/scil_labels_combine.py
Due: Scripts

put warning instead of info logging
  scripts/scil_labels_combine.py
Due: Scripts

update docstring
  scripts/scil_volume_reshape.py
Due: Scripts

fix md5
  scilpy/io/fetcher.py
Due: Library
