Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

re-enable whole test suite
  .github/workflows/test.yml
Due: none

Add verbose to b1 header script
  scripts/scil_mti_adjust_B1_header.py
Due: Scripts

Rename script. Add legacy.
  scripts/legacy/scil_project_streamlines_to_map.py
  scripts/legacy/tests/test_legacy_scripts.py
  scripts/scil_tractogram_project_streamlines_to_map.py
  scripts/tests/test_tractogram_project_streamlines_to_map.py
Due: Scripts

Prepare new args
  scripts/scil_tractogram_project_map_to_streamlines.py
  scripts/scil_tractogram_project_streamlines_to_map.py
Due: Scripts

Discussed with Francois: Removed --in_metrics, and all management of uncompression
  scripts/scil_tractogram_project_map_to_streamlines.py
  scripts/scil_tractogram_project_streamlines_to_map.py
Due: Scripts

Modify strongly the script scil_project_streamlines_to_map
  scilpy/io/streamlines.py
  scilpy/tractograms/dps_and_dpp_management.py
  scripts/scil_tractogram_dpp_math.py
  scripts/scil_tractogram_project_streamlines_to_map.py
  scripts/tests/test_tractogram_project_streamlines_to_map.py
Due: Scripts, Library

Fix tests
  scripts/scil_tractogram_dpp_math.py
  scripts/scil_tractogram_project_map_to_streamlines.py
  scripts/scil_tractogram_project_streamlines_to_map.py
  scripts/tests/test_tractogram_project_streamlines_to_map.py
Due: Scripts

Obliged to move method to avoid circular imports
  scilpy/io/streamlines.py
  scilpy/io/utils.py
  scripts/scil_bundle_mean_std.py
  scripts/scil_score_tractogram.py
Due: Scripts, Library

Fix verbose
  scripts/scil_mti_adjust_B1_header.py
Due: Scripts

Fixing verbose
  scripts/scil_search_keywords.py
Due: Scripts

AODF: adding comments. Already ok
  scripts/scil_aodf_metrics.py
Due: Scripts

DIVIDE: adding comments in script b_tensor. Adding _ to some methods.
  scilpy/reconst/divide.py
  scilpy/reconst/tests/test_divide.py
  scripts/scil_btensor_metrics.py
Due: Scripts, Library

scil_dki_metrics: encapsulate 2 new functions
  scilpy/dwi/operations.py
  scilpy/preprocessing/utils.py
  scripts/scil_dki_metrics.py
Due: Scripts, Library

Use the residuals method in dti_metrics. NOT NORMALIZED???
  scilpy/dwi/operations.py
  scripts/scil_dti_metrics.py
Due: Scripts, Library

Added residuals to dki test. FAILED. Add argnames.
  scilpy/dwi/operations.py
  scripts/scil_dki_metrics.py
  scripts/scil_dti_metrics.py
  scripts/tests/test_dki_metrics.py
Due: Scripts, Library

Fix pep8
  scilpy/preprocessing/utils.py
Due: Library

Fix: dpp_math test was failing but not noticed before this PR. Now fixed.
  scripts/tests/test_tractogram_dpp_math.py
Due: Scripts

Add scil_tractogram_endpoints_map.py
  scripts/scil_bundle_compute_endpoints_map.py
  scripts/scil_tractogram_endpoints_density_map.py
  scripts/tests/test_tractogram_endpoints_density_map.py
Due: Scripts

Adding tests
  scripts/scil_sh_to_aodf.py
  scripts/tests/test_search_keywords.py
Due: Scripts

After discussion with Maxime: Removing normalization of residuals in dki_metrics
  scilpy/dwi/operations.py
  scripts/scil_dki_metrics.py
  scripts/scil_dti_metrics.py
Due: Scripts, Library

Fixing typo
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts

Address Emmanuel comments
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_pairwise_comparison.py
Due: Scripts, Library

Arnaud comments
  scilpy/image/volume_operations.py
  scripts/scil_volume_b0_synthesis.py
  scripts/tests/test_volume_b0_synthesis.py
Due: Scripts, Library

Reorganize functions and tests
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
  scilpy/tractanalysis/reproducibility_measures.py
  scilpy/tractanalysis/tests/test_reproducibility_measures.py
  scilpy/tractograms/tests/test_tractogram_operations.py
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_pairwise_comparison.py
Due: Scripts, Library

Use proper filename for script
  scripts/tests/test_volume_b0_synthesis.py
Due: Scripts

Adding tests to dwi_reorder_philips
  scripts/scil_dwi_reorder_philips.py
  scripts/tests/test_dwi_reorder_philips.py
Due: Scripts

Add new test framework
  scilpy/dwi/tests/test_operations.py
Due: Library

As suggested by PK: move smooth_to_fwhm to volume_operations
  scilpy/image/volume_math.py
  scilpy/image/volume_operations.py
  scilpy/preprocessing/utils.py
  scripts/scil_dki_metrics.py
Due: Scripts, Library

Move functions and add tests, emmanuel comments
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
  scilpy/tractograms/tractogram_operations.py
  scilpy/utils/spatial_ops.py
Due: Library

Start
  scilpy/io/utils.py
Due: Library

As discussed: removing all 'img=...' and all 'del img'
  scripts/scil_dki_metrics.py
  scripts/scil_dti_metrics.py
Due: Scripts

Encapsulate individual residuals. Put plotting in separate method
  scilpy/dwi/operations.py
  scilpy/dwi/tests/test_operations.py
  scripts/scil_dti_metrics.py
  scripts/tests/test_dti_metrics.py
Due: Scripts, Library

FIX: screenshot functions no longer working
  scilpy/viz/scene_utils.py
  scripts/tests/test_screenshot_volume.py
Due: Scripts, Library

FIX: only annotate if needed
  scilpy/viz/scene_utils.py
Due: Library

Adding legacy options
  scilpy/io/utils.py
  scilpy/reconst/sh.py
  scripts/scil_aodf_metrics.py
  scripts/scil_bundle_generate_priors.py
  scripts/scil_fodf_ssst.py
  scripts/scil_sh_convert.py
Due: Scripts, Library

Copy old branch
  scilpy/denoise/aodf_filter.cl
  scilpy/denoise/unified_asym.py
Due: Library

Adding legacy support for all scripts
  scilpy/denoise/asym_filtering.py
  scilpy/io/utils.py
  scilpy/reconst/fodf.py
  scilpy/reconst/sh.py
  scilpy/reconst/utils.py
  scilpy/tractanalysis/afd_along_streamlines.py
  scilpy/tractanalysis/todi.py
  scilpy/viz/scene_utils.py
  scripts/scil_bundle_mean_fixel_afd.py
  scripts/scil_bundle_mean_fixel_afd_from_hdf5.py
  scripts/scil_dwi_to_sh.py
  scripts/scil_fodf_max_in_ventricles.py
  scripts/scil_fodf_memsmt.py
  scripts/scil_fodf_metrics.py
  scripts/scil_fodf_msmt.py
  scripts/scil_qball_metrics.py
  scripts/scil_sh_to_aodf.py
  scripts/scil_sh_to_sf.py
  scripts/scil_tracking_pft.py
  scripts/scil_tractogram_compute_TODI.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

Adding legacy to tracking_pft
  scripts/scil_tracking_pft.py
Due: Scripts

Fixing typo
  scripts/scil_aodf_metrics.py
Due: Scripts

Fixing convert
  scripts/tests/test_sh_convert.py
Due: Scripts
