Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

NODDI_priors: clarifying
  scilpy/reconst/noddi.py
  scripts/scil_NODDI_priors.py
Due: Scripts, Library

fix_issue
  requirements.txt
Due: none

add temporary tests to show update is working
  scripts/tests/test_tractogram_commit.py
Due: Scripts

Noddi maps: ok. Use official tol arg.
  scilpy/reconst/noddi.py
  scripts/scil_NODDI_maps.py
  scripts/tests/test_NODDI_maps.py
Due: Scripts, Library

Answering Max comment: NODDI fails on single shell
  scripts/scil_NODDI_maps.py
Due: Scripts

Fix pep8
  scripts/scil_NODDI_maps.py
  scripts/scil_NODDI_priors.py
Due: Scripts

Adding doc
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts

update dvc requirements
  requirements.txt
Due: none

WIP. UNCLEAR. See issue on github
  scilpy/stats/stats.py
  scripts/scil_denoising_nlmeans.py
Due: Scripts, Library

Answer Phil comments
  scripts/scil_NODDI_priors.py
  scripts/scil_sh_convert.py
Due: Scripts

Pep8 again
  scripts/scil_NODDI_priors.py
Due: Scripts

quick fix output folder
  scripts/tests/test_tractogram_commit.py
Due: Scripts

Add script for MRDS metrics along bundle
  scilpy/reconst/lobe_mrds_metrics_along_streamlines.py
  scripts/scil_compute_mean_fixel_lobe_mrds_metric_from_bundles.py
Due: Scripts, Library

testing stuff
  scripts/scil_tractogram_commit.py
  scripts/tests/test_tractogram_commit.py
Due: Scripts

add comments to test and go back to square one
  scripts/scil_tractogram_commit.py
  scripts/tests/test_tractogram_commit.py
Due: Scripts

restore
  scripts/scil_tractogram_commit.py
  scripts/tests/test_tractogram_commit.py
Due: Scripts

update_to_dipy_1.9
  requirements.txt
Due: none

update qball metrics add is_legacy basis
  scripts/scil_qball_metrics.py
Due: Scripts

Answer review comments
  scilpy/denoise/asym_filtering.py
  scilpy/denoise/tests/test_asym_filtering.py
  scripts/scil_sh_to_aodf.py
Due: Scripts, Library

fix warning for dipy sh_order_max, remove test from legacy scripts, add warning to tracking scripts
  pytest.ini
  requirements.txt
  scilpy/tractanalysis/todi.py
  scripts/scil_bundle_generate_priors.py
  scripts/scil_fodf_memsmt.py
  scripts/scil_fodf_msmt.py
  scripts/scil_fodf_ssst.py
  scripts/scil_qball_metrics.py
  scripts/scil_tracking_local.py
  scripts/scil_tracking_pft.py
Due: Scripts, Library

WIP. CORRELATION??
  scilpy/image/tests/test_volume_math.py
  scilpy/image/volume_math.py
Due: Library

Add test for volume registration
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
  scripts/scil_header_print_info.py
  scripts/scil_volume_b0_synthesis.py
  scripts/tests/test_volume_b0_synthesis.py
Due: Scripts, Library

Add verification of compute_snr with no mask
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
  scripts/scil_dwi_compute_snr.py
Due: Scripts, Library

Add test for mask_default_cube
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
  scripts/scil_tractogram_fix_trk.py
Due: Scripts, Library

Fix pep8
  scilpy/image/tests/test_volume_operations.py
  scripts/scil_volume_b0_synthesis.py
Due: Scripts, Library

Verify mask fit with reference in get_data_as_mask
  scilpy/image/volume_operations.py
  scilpy/io/image.py
  scilpy/reconst/mti.py
  scilpy/segment/tractogram_from_roi.py
  scripts/scil_aodf_metrics.py
  scripts/scil_bingham_metrics.py
  scripts/scil_btensor_metrics.py
  scripts/scil_bundle_generate_priors.py
  scripts/scil_bundle_score_same_bundle_many_segmentations.py
  scripts/scil_denoising_nlmeans.py
  scripts/scil_dki_metrics.py
  scripts/scil_dti_metrics.py
  scripts/scil_dwi_apply_bias_field.py
  scripts/scil_dwi_powder_average.py
  scripts/scil_dwi_to_sh.py
  scripts/scil_fodf_memsmt.py
  scripts/scil_fodf_metrics.py
  scripts/scil_fodf_msmt.py
  scripts/scil_fodf_ssst.py
  scripts/scil_fodf_to_bingham.py
  scripts/scil_frf_memsmt.py
  scripts/scil_frf_msmt.py
  scripts/scil_frf_ssst.py
  scripts/scil_gradients_validate_correct.py
  scripts/scil_labels_dilate.py
  scripts/scil_lesions_info.py
  scripts/scil_qball_metrics.py
  scripts/scil_sh_to_rish.py
  scripts/scil_tracking_local.py
  scripts/scil_tracking_pft.py
  scripts/scil_tracking_pft_maps_edit.py
  scripts/scil_tractogram_compute_TODI.py
  scripts/scil_visualize_fodf.py
  scripts/scil_visualize_histogram.py
  scripts/scil_visualize_scatterplot.py
Due: Scripts, Library

Fix pep8
  scilpy/reconst/tests/test_fiber_coherence.py
Due: Library

Answer Charles
  scilpy/reconst/fiber_coherence.py
  scilpy/reconst/tests/test_fiber_coherence.py
  scripts/scil_gradients_validate_correct.py
Due: Scripts, Library

For Francois: Failing test
  scilpy/image/tests/test_volume_math.py
  scilpy/image/volume_math.py
Due: Library

Fix failing test
  scripts/scil_visualize_histogram.py
Due: Scripts

Fix failing tests 2
  scripts/scil_fodf_ssst.py
  scripts/scil_qball_metrics.py
  scripts/scil_visualize_scatterplot.py
Due: Scripts

answer PK comments
  scilpy/denoise/asym_filtering.py
  scilpy/denoise/tests/test_asym_filtering.py
Due: Library

fix my fixes
  scilpy/denoise/asym_filtering.py
  scripts/scil_qball_metrics.py
Due: Scripts, Library

fix typo
  scilpy/denoise/asym_filtering.py
Due: Library

fix typo part 2
  scilpy/denoise/tests/test_asym_filtering.py
Due: Library

Answers comments from Emmanuelle
  scilpy/denoise/asym_filtering.py
  scripts/scil_sh_to_aodf.py
  scripts/tests/test_sh_to_aodf.py
Due: Scripts, Library

Fix PEP8
  scripts/tests/test_sh_to_aodf.py
Due: Scripts
