Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

add possibility to use a label mask with two values
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts

add more info + possibility to choose label ids
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts

fix test
  scripts/tests/test_tractogram_cut_streamlines.py
Due: Scripts

Answer comments
  scripts/scil_aodf_metrics.py
  scripts/scil_btensor_metrics.py
  scripts/scil_bundle_diameter.py
  scripts/scil_bundle_filter_by_occurence.py
  scripts/scil_bundle_mean_fixel_afd.py
  scripts/scil_bundle_mean_fixel_bingham_metric.py
  scripts/scil_bundle_pairwise_comparison.py
  scripts/scil_bundle_score_same_bundle_many_segmentations.py
  scripts/scil_bundle_shape_measures.py
  scripts/scil_clean_qbx_clusters.py
  scripts/scil_dki_metrics.py
  scripts/scil_dti_metrics.py
  scripts/scil_dwi_apply_bias_field.py
  scripts/scil_dwi_to_sh.py
  scripts/scil_fodf_metrics.py
  scripts/scil_fodf_to_bingham.py
  scripts/scil_frf_msmt.py
  scripts/scil_gradients_validate_correct.py
  scripts/scil_lesions_info.py
  scripts/scil_tractogram_assign_uniform_color.py
  scripts/scil_tractogram_cut_streamlines.py
  scripts/scil_tractogram_uniformize_endpoints.py
  scripts/scil_visualize_scatterplot.py
Due: Scripts

Only check reference's header once
  scilpy/io/utils.py
Due: Library

Remove verbose_all_compatible option
  scilpy/io/utils.py
  scripts/scil_header_validate_compatibility.py
  scripts/scil_tractogram_math.py
Due: Scripts, Library

Fix aodf default '' instead of None
  scripts/scil_aodf_metrics.py
Due: Scripts

Fix wrong copy-paste
  scripts/scil_frf_msmt.py
Due: Scripts

Fix None list usage
  scripts/scil_tractogram_uniformize_endpoints.py
Due: Scripts

Add description and epilog
  scripts/scil_volume_b0_synthesis.py
Due: Scripts

address comments
  scilpy/tractanalysis/reproducibility_measures.py
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_resample.py
Due: Scripts, Library

Fix error for pytest
  scripts/tests/test_tractogram_resample.py
Due: Scripts

Passing test
  scripts/scil_tractogram_pairwise_comparison.py
Due: Scripts

compute_pca: limit argparser to lines of 80
  scripts/scil_compute_pca.py
Due: Scripts

Rename scil_convert_tensors
  scripts/legacy/scil_convert_tensors.py
  scripts/scil_dti_convert_tensors.py
  scripts/tests/test_dti_convert_tensors.py
Due: Scripts

Fix usage of legacy test: forgotting tests renaming
  scripts/tests/test_bundle_diameter.py
  scripts/tests/test_connectivity_hdf5_average_density_map.py
  scripts/tests/test_tractogram_apply_transform_to_hdf5.py
  scripts/tests/test_tractogram_convert_hdf5_to_trk.py
  scripts/tests/test_tractogram_seed_density_map.py
  scripts/tests/test_tractogram_segment_bundles_for_connectivity.py
  scripts/tests/test_tractogram_shuffle.py
  scripts/tests/test_volume_crop.py
  scripts/tests/test_volume_stats_in_labels.py
Due: Scripts

Fix pep8
  scripts/scil_connectivity_compute_pca.py
Due: Scripts

Fix missing .py
  scripts/tests/test_tractogram_convert_hdf5_to_trk.py
Due: Scripts

Rename scil_score_tractogram
  scripts/legacy/scil_score_tractogram.py
  scripts/scil_tractogram_segment_and_score.py
  scripts/tests/test_tractogram_segment_and_score.py
Due: Scripts

Rename compute_pca
  scripts/legacy/scil_compute_pca.py
  scripts/scil_connectivity_compute_pca.py
  scripts/tests/test_connectivity_compute_pca.py
Due: Scripts

Missing import
  scilpy/image/tests/test_volume_operations.py
Due: Library

fix assert input exists
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts

Fix Emmanuelle comments in argparse
  scripts/scil_tractogram_resample.py
Due: Scripts

volume_apply_transform: avoid loading fdata twice. Move warning
  scilpy/image/volume_operations.py
  scripts/scil_volume_apply_transform.py
Due: Scripts, Library

Encapsulate volume_b0_synthesis
  scilpy/image/volume_b0_synthesis.py
  scripts/scil_volume_b0_synthesis.py
Due: Scripts, Library

pytest skipping --help test. Fixing. Local run: fix t1_data (>0 but negative data)
  scilpy/image/volume_b0_synthesis.py
  scripts/scil_volume_b0_synthesis.py
  scripts/tests/test_volume_b0_synthesis.py
Due: Scripts, Library

Add more coverage for count_non_zero_voxel
  scripts/scil_volume_count_non_zero_voxels.py
  scripts/tests/test_volume_count_non_zero_voxels.py
Due: Scripts

volume_crop: add more coverage to test
  scripts/scil_volume_crop.py
  scripts/tests/test_volume_crop.py
Due: Scripts

volume_outliers_ransac: cleaning
  scilpy/image/volume_operations.py
  scripts/scil_volume_remove_outliers_ransac.py
Due: Scripts, Library

volume_stats_in_labels: reformat
  scilpy/image/labels.py
  scilpy/image/tests/test_labels.py
  scripts/scil_volume_stats_in_labels.py
Due: Scripts, Library

volume_outliers_ransac: cleaning
  scilpy/image/tests/test_volume_operations.py
Due: Library

Fix failed crop test
  scripts/tests/test_volume_crop.py
Due: Scripts

volume_resample: ok
  scripts/scil_volume_resample.py
Due: Scripts

volume_stats_in_labels: add execution test
  scripts/tests/test_volume_stats_in_labels.py
Due: Scripts

volume_stats_in_roi: simplify
  scilpy/utils/metrics_tools.py
  scripts/scil_volume_stats_in_ROI.py
  scripts/scil_volume_stats_in_labels.py
Due: Scripts, Library

Use new asser_headers_compatible in volumes scripts
  scripts/scil_volume_resample.py
  scripts/scil_volume_stats_in_labels.py
Due: Scripts

assign_custom_colour: improve doc. Move method to viz utils
  scilpy/viz/utils.py
  scripts/scil_tractogram_assign_custom_color.py
Due: Scripts, Library

Remove utils.streamlines. Lots of moving
  scilpy/segment/tractogram_from_roi.py
  scilpy/tractanalysis/features.py
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tractogram_operations.py
  scilpy/utils/streamlines.py
  scilpy/viz/utils.py
  scripts/scil_bundle_compute_centroid.py
  scripts/scil_bundle_label_map.py
  scripts/scil_bundle_shape_measures.py
  scripts/scil_outlier_rejection.py
  scripts/scil_tractogram_assign_custom_color.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_extract_ushape.py
  scripts/scil_tractogram_filter_by_anatomy.py
  scripts/scil_tractogram_fix_trk.py
  scripts/scil_tractogram_remove_invalid.py
  scripts/scil_tractogram_segment_bundles_for_connectivity.py
  scripts/scil_tractogram_uniformize_endpoints.py
Due: Scripts, Library

Finish scil_tractogram_assign_color
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/viz/utils.py
  scripts/scil_tractogram_assign_custom_color.py
Due: Scripts, Library

Add tests structure in streamline_operations
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
Due: Library

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
