Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

pep8
  scilpy/version.py
  scripts/scil_dwi_apply_bias_field.py
  scripts/scil_freewater_maps.py
  scripts/scil_frf_ssst.py
  scripts/scil_gradients_round_bvals.py
  scripts/scil_labels_remove.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts, Library

DOC - fixed updated script name
  docs/source/documentation/construct_participants_tsv_file.rst
Due: none

ENH: more _data cleanup
  scripts/scil_bundle_diameter.py
  scripts/scil_bundle_label_map.py
Due: Scripts

pep8
  scripts/scil_gradients_generate_sampling.py
  scripts/scil_gradients_round_bvals.py
  scripts/scil_gradients_validate_correct.py
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts

Working on ubvecs
  scilpy/gradients/gen_gradient_sampling.py
  scripts/scil_gradients_validate_sampling.py
Due: Scripts, Library

Working on cleaning the code
  scilpy/gradients/gen_gradient_sampling.py
  scripts/scil_gradients_validate_sampling.py
Due: Scripts, Library

Bit of cleaning
  scilpy/tracking/seed.py
  scilpy/tracking/utils.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

typo
  scilpy/tracking/seed.py
Due: Library

Adding plotting with title
  scilpy/viz/gradients.py
  scripts/scil_gradients_validate_sampling.py
Due: Scripts, Library

WIP
  scripts/scil_gradients_validate_sampling.py
Due: Scripts

Fix doc
  scilpy/tracking/seed.py
Due: Library

Fixing b0 check
  scilpy/viz/gradients.py
  scripts/scil_gradients_validate_sampling.py
Due: Scripts, Library

Adding logging
  scripts/scil_gradients_validate_sampling.py
Due: Scripts

Add description
  scripts/scil_gradients_validate_sampling.py
Due: Scripts

Update test.yml
  .github/workflows/test.yml
Due: none

Add doc to energy_comparison
  scilpy/gradients/gen_gradient_sampling.py
  scripts/scil_gradients_validate_sampling.py
Due: Scripts, Library

Adding tests
  scilpy/gradients/gen_gradient_sampling.py
  scripts/scil_gradients_validate_sampling.py
  scripts/tests/test_gradients_validate_sampling.py
Due: Scripts, Library

Logging error instead of valueError
  scripts/scil_gradients_validate_sampling.py
Due: Scripts

Fixing function bug
  scripts/scil_viz_gradients_screenshot.py
Due: Scripts

Fix title
  scripts/scil_connectivity_compute_pca.py
Due: Scripts

doc and test fix
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_compute_density.py
  scripts/tests/test_fibertube_compute_density.py
Due: Scripts, Library

adapt FT custom seeds to new CustomSeedDispenser
  scripts/scil_fibertube_tracking.py
Due: Scripts

Points to bvecs
  scripts/scil_viz_gradients_screenshot.py
Due: Scripts

Fix empty case
  scripts/scil_connectivity_filter.py
Due: Scripts

Fix for PR
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_compute_density.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/tests/test_fibertube_compute_density.py
Due: Scripts, Library

Fix SF coefficients + simplify collisions
  scilpy/image/volume_space_management.py
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

Adding overwrite_with_min option
  scilpy/gradients/bvec_bval_tools.py
  scilpy/io/btensor.py
  scilpy/io/utils.py
  scripts/scil_NODDI_maps.py
  scripts/scil_dki_metrics.py
  scripts/scil_fodf_msmt.py
  scripts/scil_frf_msmt.py
Due: Scripts, Library

Remove squareform and mute warning in tests
  scilpy/connectivity/matrix_tools.py
  scripts/tests/test_connectivity_reorder_rois.py
Due: Scripts, Library

Allow importing 1 dps value, to be mapped to each streamline.
  scripts/scil_tractogram_dps_math.py
Due: Scripts

Ad test for last commit feature
  scripts/tests/test_tractogram_dps_math.py
Due: Scripts

Update doc to allow fibertubes with collisions.
  scripts/scil_fibertube_compute_density.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
Due: Scripts

TST - Scripts inputs
  scripts/tests/test_volume_stats_in_ROI.py
  scripts/tests/test_volume_stats_in_labels.py
Due: Scripts

update to dipy 1.10
  requirements.txt
  scilpy/image/volume_b0_synthesis.py
Due: Library

Put back forward_only as an option defaulted to false. Change ftOD / FTOD to ftODF / FTODF
  scilpy/image/volume_space_management.py
  scilpy/tracking/propagator.py
  scripts/scil_fibertube_tracking.py
  scripts/tests/test_fibertube_tracking.py
Due: Scripts, Library

Fix small mistake that breaks tracking
  scilpy/image/volume_space_management.py
Due: Library

Make min_iter an argument of the Tracker
  scilpy/tracking/tracker.py
  scripts/scil_fibertube_tracking.py
Due: Scripts, Library

Update fibertube_tracking.rst
  docs/source/documentation/fibertube_tracking.rst
Due: none

ENH: better dps/dpp handling
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
Due: Library

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
