Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Begin FibertubeFTODPropagator
  scilpy/tracking/propagator.py
Due: Library

Make dps_key mandatory + tests
  scripts/scil_tractogram_dps_math.py
  scripts/tests/test_tractogram_dps_math.py
Due: Scripts

NF - added input options for multiple ROI masks
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

RF - removed the roi dict if a single ROI is used
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

NF - allow for multiple metrics input
  scripts/scil_volume_stats_in_labels.py
Due: Scripts

RF - change variable names from mask to roi
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

DOC - updated script documentation
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

TST - updated tests, pep8
  scripts/scil_volume_stats_in_ROI.py
  scripts/scil_volume_stats_in_labels.py
  scripts/tests/test_volume_stats_in_ROI.py
  scripts/tests/test_volume_stats_in_labels.py
Due: Scripts

NF - added add_json_args to the arguments, format the output json
  scripts/scil_volume_stats_in_ROI.py
  scripts/scil_volume_stats_in_labels.py
Due: Scripts

First working FTOD - not optional - no test - no pep8
  scilpy/image/volume_space_management.py
  scilpy/tracking/propagator.py
  scripts/scil_fibertube_tracking.py
Due: Scripts, Library

Fix prototype ftod tracking
  scilpy/image/volume_space_management.py
  scilpy/tracking/propagator.py
  scripts/scil_fibertube_tracking.py
Due: Scripts, Library

FTOD - tests and pep8
  scilpy/image/volume_space_management.py
  scripts/scil_fibertube_tracking.py
  scripts/tests/test_fibertube_tracking.py
Due: Scripts, Library

Update index.rst
  docs/source/index.rst
Due: none

custom seeds tests and pep8
  scilpy/tracking/seed.py
  scilpy/tracking/utils.py
  scripts/scil_tracking_local.py
  scripts/scil_tracking_local_dev.py
  scripts/tests/test_tracking_local.py
  scripts/tests/test_tracking_local_dev.py
Due: Scripts, Library

Clarify script doc
  scripts/scil_tractogram_dps_math.py
Due: Scripts

Improve doc and enforce forward_only.
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
Due: Scripts, Library

mini-fix
  scripts/scil_fibertube_score_tractogram.py
Due: Scripts

Argument checks, pep8 and tests
  scilpy/io/streamlines.py
  scripts/scil_tractogram_dps_math.py
  scripts/tests/test_tractogram_dps_math.py
Due: Scripts, Library

Pass tests
  scripts/tests/test_tracking_local.py
  scripts/tests/test_tracking_local_dev.py
Due: Scripts

Custom seeds for fibertube tracking
  scilpy/tracking/seed.py
  scripts/scil_fibertube_tracking.py
Due: Scripts, Library

fix: return rejected with empty sft
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
Due: Library

fix: pep8
  scilpy/tractograms/tests/test_streamline_operations.py
Due: Library

BF for asymmetric peaks
  scilpy/viz/backends/fury.py
  scripts/scil_viz_fodf.py
Due: Scripts, Library

PEP8
  scripts/scil_viz_fodf.py
Due: Scripts

Avoid scalar with dim > 0 by squeezing. Passes test and pep8 no warning.
  scilpy/tractograms/dps_and_dpp_management.py
Due: Library

Fixing chekc in script and adding test
  scripts/scil_NODDI_maps.py
  scripts/tests/test_NODDI_maps.py
Due: Scripts

[DOC] Add documentation for grid_intersections
  scilpy/tractanalysis/grid_intersections.pyx
Due: Library

Clarify doc to differentiate dpp_math with dps mode and dps_math
  scripts/scil_tractogram_dpp_math.py
  scripts/scil_tractogram_dps_math.py
Due: Scripts

[ENH] keyword mandatory for kw arguments
  scilpy/viz/backends/fury.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_viz_fodf.py
Due: Scripts, Library

Switch to map coordinates
  scilpy/connectivity/connectivity.py
Due: Library

Adding ref to freewater
  scripts/scil_freewater_maps.py
Due: Scripts

Modify doc for to_center()
  scilpy/connectivity/connectivity.py
Due: Library

Condense distance matrix that was not. Pep8 + test pass
  scilpy/connectivity/matrix_tools.py
Due: Library

fix: restore missing line
  scilpy/tractograms/streamline_operations.py
Due: Library

Renaming makes everything clearer
  docs/source/fake_files/grid_intersections.py
  docs/source/fake_files/voxel_boundary_intersection.py
  docs/source/modules/scilpy.tractanalysis.rst
  scilpy/tractanalysis/afd_along_streamlines.py
  scilpy/tractanalysis/bingham_metric_along_streamlines.py
  scilpy/tractanalysis/fixel_density.py
  scilpy/tractanalysis/mrds_along_streamlines.py
  scilpy/tractanalysis/voxel_boundary_intersection.pyx
  setup.py
Due: Library

PEP8!
  scilpy/tractanalysis/afd_along_streamlines.py
  scilpy/tractanalysis/bingham_metric_along_streamlines.py
  scilpy/tractanalysis/fixel_density.py
  scilpy/tractanalysis/mrds_along_streamlines.py
Due: Library

Adding loops for list of lists
  scilpy/io/utils.py
Due: Library

fix: use save_rejected argument
  scripts/scil_tractogram_filter_by_length.py
Due: Scripts

fix: pep8
  scripts/scil_tractogram_filter_by_length.py
Due: Scripts

pairwise agreement
  scilpy/stats/matrix_stats.py
  scripts/scil_connectivity_pairwise_agreement.py
Due: Scripts, Library
