Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

Change permission
  scripts/scil_tractogram_alter.py
Due: Scripts

New script to compute similarity between mask and atlas (nii)
  scripts/scil_bundle_pairwise_comparison.py
  scripts/scil_volume_pairwise_comparison.py
Due: Scripts

Adapt docstring
  scripts/scil_bundle_pairwise_comparison.py
  scripts/scil_volume_pairwise_comparison.py
Due: Scripts

Working minimal test
  scripts/scil_tractogram_assign_uniform_color.py
  scripts/scil_tractogram_convert_hdf5_to_trk.py
  scripts/scil_tractogram_convert_trk_to_hdf5.py
  scripts/tests/test_tractogram_assign_uniform_color.py
  scripts/tests/test_tractogram_convert_trk_to_hdf5.py
Due: Scripts

Fix pep8
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_alter.py
Due: Scripts, Library

add the generarate_help_files script
  generate_help_files.py
Due: none

fix error import ast
  scripts/scil_search_keywords.py
Due: Scripts

Allow excluded range in io_util's range checker
  scilpy/io/utils.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_resample.py
Due: Scripts, Library

Small modif
  scripts/scil_tractogram_resample.py
Due: Scripts

seed_density_map: explain how to get seeds in doc
  scripts/scil_tractogram_seed_density_map.py
Due: Scripts

remove_invalid: ok
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts

Add more usage examples
  scripts/scil_tractogram_filter_by_anatomy.py
  scripts/scil_tractogram_filter_by_roi.py
Due: Scripts

tractogram_resample: FIX (always upsampling) + clarification
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_resample.py
Due: Scripts, Library

scil_tractogram_split: no need for the output dir to be empty.
  scripts/scil_tractogram_split.py
Due: Scripts

Answer comments. Make --point_wise and --tube_radius facultative
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_resample.py
  scripts/scil_tractogram_split.py
  scripts/tests/test_tractogram_resample.py
Due: Scripts, Library

Rename the four segment scripts, and improve doc
  scripts/legacy/scil_decompose_connectivity.py
  scripts/legacy/scil_recognize_multi_bundles.py
  scripts/legacy/scil_recognize_single_bundle.py
  scripts/legacy/scil_score_tractogram.py
  scripts/scil_connectivity_compute_matrices.py
  scripts/scil_connectivity_hdf5_average_density_map.py
  scripts/scil_connectivity_normalize.py
  scripts/scil_connectivity_print_filenames.py
  scripts/scil_connectivity_reorder_rois.py
  scripts/scil_tractogram_commit.py
  scripts/scil_tractogram_convert_hdf5_to_trk.py
  scripts/scil_tractogram_segment_connections_from_labels.py
  scripts/scil_tractogram_segment_with_ROI_and_score.py
  scripts/scil_tractogram_segment_with_bundleseg.py
  scripts/scil_tractogram_segment_with_recobundles.py
  scripts/scil_viz_connectivity.py
  scripts/tests/test_tractogram_segment_and_score.py
  scripts/tests/test_tractogram_segment_bundles.py
  scripts/tests/test_tractogram_segment_bundles_for_connectivity.py
  scripts/tests/test_tractogram_segment_one_bundles.py
Due: Scripts

recobundles: simplify sft management
  scripts/scil_tractogram_segment_with_recobundles.py
Due: Scripts

recobundles: fix tests.
  scripts/scil_tractogram_segment_with_recobundles.py
  scripts/tests/test_tractogram_segment_with_recobundles.py
Due: Scripts

connectivity: Encapsulate all processing
  scilpy/tractanalysis/bundle_operations.py
  scilpy/tractanalysis/connectivity_segmentation.py
  scilpy/tractanalysis/tools.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_bundle_reject_outliers.py
  scripts/scil_tractogram_segment_connections_from_labels.py
Due: Scripts, Library

recobundles: Clarify space and origin
  scripts/scil_tractogram_segment_with_recobundles.py
Due: Scripts

bundleseg: ok. Only adding comments
  scripts/scil_tractogram_segment_with_bundleseg.py
Due: Scripts

connectivity: tests pass
  scilpy/tractanalysis/connectivity_segmentation.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_tractogram_segment_connections_from_labels.py
  scripts/tests/test_tractogram_segment_bundles_with_bundleseg.py
  scripts/tests/test_tractogram_segment_connections_from_labels.py
  scripts/tests/test_tractogram_segment_with_ROI_and_score.py
Due: Scripts, Library

recobundles: fix verbose option
  scilpy/utils/spatial.py
  scripts/scil_tractogram_segment_with_recobundles.py
Due: Scripts, Library

connectivity: Replace _prune_length by existing filter_by_length
  scilpy/tractanalysis/connectivity_segmentation.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
  scripts/scil_tractogram_filter_by_anatomy.py
  scripts/scil_tractogram_filter_by_length.py
  scripts/scil_tractogram_segment_connections_from_labels.py
Due: Scripts, Library

Fix pep8
  scripts/legacy/scil_recognize_multi_bundles.py
  scripts/scil_tractogram_segment_with_ROI_and_score.py
  scripts/scil_tractogram_segment_with_bundleseg.py
  scripts/scil_tractogram_segment_with_recobundles.py
Due: Scripts

Fix test
  scripts/legacy/scil_recognize_multi_bundles.py
Due: Scripts

Answer Arnaud's comments
  scilpy/tractanalysis/bundle_operations.py
  scripts/scil_tractogram_segment_with_recobundles.py
Due: Scripts, Library

Tests passing. Added new unit test with len(s) < 3mm.
  scilpy/tractograms/tests/test_tractogram_operations.py
  scilpy/tractograms/tractogram_operations.py
Due: Library

Removed the if len(s) < 3
  scilpy/tractograms/tests/test_tractogram_operations.py
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_resample.py
Due: Scripts, Library

use help files only if search_parser argument is provided
  scripts/scil_search_keywords.py
Due: Scripts

add MRDS scripts to perform TODI model selection
  scripts/scil_mrds_compute_todi.py
  scripts/scil_mrds_modsel_todi.py
Due: Scripts

modify scripts path
  scripts/scil_search_keywords.py
Due: Scripts

add stemming functions
  scripts/scil_search_keywords.py
Due: Scripts

modify _contains_stemmed_keywords function
  scripts/scil_search_keywords.py
Due: Scripts

regenerate hidden files if not already existing
  scripts/scil_search_keywords.py
Due: Scripts

Color keywords in the terminal output
  scripts/scil_search_keywords.py
Due: Scripts

generate json_files
  scilpy-bot-scripts/generate_json_files.py
  scilpy-bot-scripts/json_files/knowledge_base.json
Due: none

first test using args.processes
  scripts/scil_NODDI_maps.py
  scripts/scil_tractogram_commit.py
Due: Scripts

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
