Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Fix: list
  scripts/scil_fodf_memsmt.py
Due: Scripts

Combine common sections in fodf_memst, frf_msmt.
  scilpy/reconst/fodf.py
  scilpy/reconst/sh.py
  scripts/scil_fodf_memsmt.py
  scripts/scil_fodf_msmt.py
Due: Scripts, Library

frf_set_diffusivities: encapsulate to allow unit test
  scilpy/reconst/frf.py
  scripts/scil_frf_set_diffusivities.py
Due: Scripts, Library

Bingham metrics: ok. Arranged argparser
  scripts/scil_bingham_metrics.py
Due: Scripts

Add empty tests
  scilpy/reconst/fodf.py
  scilpy/reconst/tests/test_fodf.py
  scilpy/reconst/tests/test_frf.py
  scilpy/reconst/tests/test_sh.py
Due: Library

Add doc
  scilpy/reconst/fodf.py
  scripts/scil_fodf_memsmt.py
  scripts/scil_fodf_msmt.py
Due: Scripts, Library

Fix failing check of path
  scripts/scil_bingham_metrics.py
Due: Scripts

Answer Phil's comment
  scilpy/reconst/fodf.py
  scripts/scil_fodf_msmt.py
Due: Scripts, Library

Add returns in docstring
  scilpy/reconst/fodf.py
Due: Library

Remove data from moved test
  scilpy/tractograms/tests/test_tractogram_operations.py
Due: Library

Add docstrings
  scilpy/io/mti.py
Due: Library

Pep8
  scripts/tests/test_gradients_validate_correct.py
Due: Scripts

Convert class to functions + set defaults to paper defaults
  scilpy/denoise/asym_filtering.py
  scilpy/denoise/tests/test_asym_filtering.py
  scripts/scil_sh_to_aodf.py
  scripts/tests/test_sh_to_aodf.py
Due: Scripts, Library

Adding two sub-functions
  scilpy/io/mti.py
Due: Library

Update scripts
  scilpy/io/mti.py
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts, Library

Update docstring
  scilpy/io/mti.py
Due: Library

Repair tests
  scilpy/denoise/tests/test_asym_filtering.py
  scripts/scil_sh_to_aodf.py
  scripts/tests/test_sh_to_aodf.py
Due: Scripts, Library

fix
  scilpy/io/dvc.py
Due: Library

setup common scil_data cache
  .dvc/.gitignore
Due: none

fix and document
  scilpy/io/dvc.py
Due: Library

add vendor in name
  scilpy/io/dvc.py
Due: Library

first pass to answer arnaud's comments
  .dvc/config
  scilpy/io/dvc.py
Due: Library

update revision for test descriptor
  .dvc/test_descriptors.yml
Due: none

Minor fix
  scilpy/io/dvc.py
Due: Library

use new package
  scripts/tests/test_aodf_metrics.py
Due: Scripts

First POC of DVC working as a data registry
  .dvc/config
  data/test_descriptors.yml
  scilpy/__init__.py
  scilpy/io/dvc.py
  scripts/tests/test_aodf_metrics.py
Due: Scripts, Library

setup common scil_data cache
  .dvc/config
  .dvcignore
Due: none

move descriptors to .dvc and update requirements
  .dvc/test_descriptors.yml
  requirements.txt
  scilpy/io/dvc.py
Due: Library

final replacements
  scripts/tests/test_frf_mean.py
  scripts/tests/test_gradients_validate_correct.py
  scripts/tests/test_sh_to_sf.py
Due: Scripts

Unit tests for the fiber coherence
  scilpy/reconst/fiber_coherence.py
  scilpy/reconst/tests/test_fiber_coherence.py
  scripts/scil_gradients_validate_correct.py
Due: Scripts, Library

Switch scil_data for neurogister. Minor renaming for lisibility
  scilpy/io/dvc.py
Due: Library

adjust_b1_header: Ok!
  scilpy/reconst/mti.py
  scripts/scil_mti_adjust_B1_header.py
Due: Scripts, Library

qball_metrics: ok!
  scripts/scil_qball_metrics.py
Due: Scripts

sh_convert: ok! (Clarifying sh_basis stuff)
  scilpy/io/utils.py
  scilpy/reconst/sh.py
  scripts/scil_sh_convert.py
Due: Scripts, Library

sh_fusion: ok!
  scripts/scil_sh_fusion.py
Due: Scripts

Sh_to_rish: ok!
  scripts/scil_sh_to_rish.py
Due: Scripts

Use DVC for testing
  scripts/tests/test_sh_to_aodf.py
Due: Scripts

sh_to_sf: still a little big but ok! Added option in test.
  scilpy/reconst/sh.py
  scripts/scil_sh_to_sf.py
  scripts/tests/test_sh_to_sf.py
Due: Scripts, Library

Make PEP8 happy
  scilpy/denoise/tests/test_asym_filtering.py
  scripts/scil_sh_to_aodf.py
  scripts/tests/test_sh_to_aodf.py
Due: Scripts, Library
