Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Update scripts/scil_viz_tractogram_collisions.py
  scripts/scil_viz_tractogram_collisions.py
Due: Scripts

Update scilpy/tractograms/intersection_finder.py
  scilpy/tractograms/intersection_finder.py
Due: Library

fix pep8
  scilpy/tractanalysis/reproducibility_measures.py
Due: Library

PR fixes - Arnaud comments - Test don't pass
  .python-version
  docs/source/documentation/fibertube_tracking.rst
  scilpy/image/volume_space_management.py
  scilpy/tracking/fibertube_utils.py
  scilpy/tracking/seed.py
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/scil_viz_tractogram_collisions.py
  scripts/tests/test_fibertube_score_tractogram.py
  scripts/tests/test_fibertube_tracking.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts, Library

Answer Arnaud's comments
  scripts/scil_connectivity_compute_simple_matrix.py
  scripts/tests/test_connectivity_compute_simple_matrix.py
Due: Scripts

Fix dps access in hdf5 on closed hdf5
  scilpy/connectivity/connectivity.py
Due: Library

Answer Arnaud's comments
  scilpy/connectivity/connectivity.py
  scripts/scil_connectivity_compute_matrices.py
Due: Scripts, Library

Fix for tests
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/tests/test_fibertube_score_tractogram.py
  scripts/tests/test_fibertube_tracking.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts, Library

Last changes
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts

fix for test and pep8
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/scil_viz_tractogram_collisions.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts

more pep8
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts

More fix for tests
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/tests/test_fibertube_tracking.py
Due: Scripts

Update fibertube_tracking.rst
  docs/source/documentation/fibertube_tracking.rst
Due: none

Fix and update demo
  docs/source/documentation/fibertube_tracking.rst
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_viz_tractogram_collisions.py
Due: Scripts

Separate process 1 in btensor reconst (divide)
  scilpy/reconst/divide.py
Due: Library

Add test in 4D in resample_volume to access 4D in image.reslice
  scilpy/image/tests/test_volume_operations.py
Due: Library

Separate case nb_processes=1 in reconst.fodf
  scilpy/reconst/divide.py
  scilpy/reconst/fodf.py
Due: Library

Separate peaks_from_sh
  scilpy/reconst/divide.py
  scilpy/reconst/fodf.py
  scilpy/reconst/sh.py
Due: Library

Separate maps_from_sh
  scilpy/reconst/sh.py
Due: Library

Default to centerline if cut
  scilpy/tractanalysis/distance_to_centroid.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

Maps_to_sh: peaks_dir was unused. Removed
  scilpy/reconst/sh.py
  scripts/scil_fodf_metrics.py
Due: Scripts, Library

Separate convert_sh_basis
  scilpy/reconst/fodf.py
  scilpy/reconst/sh.py
Due: Library

Separate convert_sh_to_sf
  scilpy/reconst/fodf.py
  scilpy/reconst/sh.py
Due: Library

All tests pass locally with both single and multi-proc
  scilpy/reconst/divide.py
  scripts/tests/test_aodf_metrics.py
  scripts/tests/test_sh_to_sf.py
Due: Scripts, Library

Separate nbr_processes=1 in VotingScheme (bundleseg)
  scilpy/segment/voting_scheme.py
  scripts/tests/test_tractogram_segment_with_bundleseg.py
Due: Scripts, Library

Separate fixel_density
  scilpy/tractanalysis/fixel_density.py
Due: Library

VotingScheme: fix pep8
  scilpy/segment/voting_scheme.py
Due: Library

Adding a few multiprocessing in tests
  scripts/tests/test_aodf_metrics.py
  scripts/tests/test_bundle_fixel_analysis.py
  scripts/tests/test_sh_to_sf.py
Due: Scripts

Fix
  scilpy/tractanalysis/distance_to_centroid.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

fix resample and local_tracking_dev
  scripts/scil_tracking_local_dev.py
  scripts/scil_volume_resample.py
Due: Scripts

fix typo
  scripts/scil_tracking_local_dev.py
Due: Scripts

fix tests
  scripts/scil_volume_resample.py
  scripts/tests/test_volume_resample.py
Due: Scripts

fix pep8
  scripts/tests/test_volume_resample.py
Due: Scripts

fibertube density + endpoint scoring. Lacks demo update + tests
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_density.py
  scripts/scil_fibertube_score_tractogram.py
Due: Scripts, Library

add precision to frf scripts
  scilpy/io/utils.py
  scripts/scil_frf_mean.py
  scripts/scil_frf_memsmt.py
  scripts/scil_frf_msmt.py
  scripts/scil_frf_set_diffusivities.py
  scripts/scil_frf_ssst.py
Due: Scripts, Library

answer Francois and Em commens
  scripts/scil_tracking_local_dev.py
  scripts/scil_volume_resample.py
Due: Scripts

See coverage from scripts tests only
  pytest.ini
Due: none
