Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

try to fix nbr_processes
  scripts/scil_tractogram_commit.py
Due: Scripts

test with updated requirements
  requirements.txt
  scripts/scil_tractogram_commit.py
Due: Scripts

try to fix cython issues
  scilpy/tractanalysis/grid_intersections.pyx
  scilpy/tractograms/uncompress.pyx
Due: Library

only 8 back then, now 10 like it should be
  scilpy/viz/color.py
Due: Library

Save matrix
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_alter.py
Due: Scripts, Library

No need for XFORM!
  scilpy/surfaces/tests/test_surfaces_utils.py
  scilpy/surfaces/utils.py
  scripts/scil_surface_convert.py
  scripts/tests/test_surface_convert.py
  scripts/tests/test_tractogram_assign_uniform_color.py
Due: Scripts, Library

Update scripts/scil_tractogram_assign_uniform_color.py
  scripts/scil_tractogram_assign_uniform_color.py
Due: Scripts

Simplify test
  scripts/scil_tractogram_convert_trk_to_hdf5.py
  scripts/tests/test_tractogram_assign_uniform_color.py
Due: Scripts

Arnaud comments
  scripts/scil_surface_convert.py
Due: Scripts

Fix with corresponding tests
  scilpy/segment/tests/test_tractogram_from_roi.py
  scilpy/segment/tractogram_from_roi.py
Due: Library

Avoid loading if empty & pep8
  scilpy/segment/tests/test_tractogram_from_roi.py
  scilpy/segment/tractogram_from_roi.py
Due: Library

autopep8 aggressive lvl 1
  scilpy/segment/tests/test_tractogram_from_roi.py
Due: Library

autopep8 correction
  scilpy/segment/tests/test_tractogram_from_roi.py
Due: Library

Adding script and module
  scilpy/tractanalysis/fixel_density.py
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts, Library

Cleaning the code
  scilpy/tractanalysis/fixel_density.py
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts, Library

Adding bundle names
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Adding tests for input/output, rel_thr check
  scilpy/tractanalysis/fixel_density.py
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts, Library

Fixing bugs
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Adding doc and normalized maps
  scilpy/tractanalysis/fixel_density.py
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts, Library

Update to work with Trimeshpy update
  requirements.txt
  scripts/scil_tractogram_convert.py
Due: Scripts

ENH: tractogram add dps
  scripts/scil_tractogram_add_dps.py
Due: Scripts

Finishing docstring
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Adding dps key
  scilpy/tractanalysis/fixel_density.py
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts, Library

search by synonyms
  scilpy-bot-scripts/contextual_search.py
  scilpy-bot-scripts/generate_synonyms.py
  scilpy-bot-scripts/json_files/Scilpy_vocabulary.txt
  scilpy-bot-scripts/json_files/acronyms.json
  scilpy-bot-scripts/json_files/knowledge_base.json
  scilpy-bot-scripts/json_files/knowledge_base_word2vec.json
  scripts/scil_search_keywords.py
Due: Scripts

typo in scil_dti_metrics script
  scripts/scil_dti_metrics.py
Due: Scripts

add test for rgb arg
  scripts/tests/test_dti_metrics.py
Due: Scripts

Modify asb_thr for streamline weights, pep8
  scilpy/tractanalysis/fixel_density.py
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts, Library

Adding tests
  scilpy/tractanalysis/tests/test_fixel_density.py
  scripts/tests/test_bundle_fixel_analysis.py
Due: Scripts, Library

caddsynonyms-,keywords and acronyms json files
  scripts/scil_search_keywords.py
Due: Scripts

fix trimeshpy requirements
  requirements.txt
  scilpy/tractanalysis/tests/test_reproducibility_measures.py
  scripts/tests/test_tractogram_assign_uniform_color.py
Due: Scripts, Library

Switch to binary
  scripts/scil_tractogram_convert.py
Due: Scripts

first attempt to add convert label to surface
  requirements.txt
Due: none

better with the scripts
  scripts/scil_surface_from_labels.py
  scripts/tests/test_surface_from_labels.py
Due: Scripts

ENH: add test + check
  scripts/scil_tractogram_add_dps.py
  scripts/tests/test_tractogram_add_dps.py
Due: Scripts

FIX: comments
  scripts/scil_tractogram_add_dps.py
  scripts/tests/test_tractogram_add_dps.py
Due: Scripts

Add the search in keywords json file
  scripts/scil_search_keywords.py
Due: Scripts

fix pep8
  scilpy/tractanalysis/tests/test_reproducibility_measures.py
  scripts/scil_tractogram_commit.py
Due: Scripts, Library

update requirements and answer Em comments
  requirements.txt
  scilpy/tractanalysis/tests/test_reproducibility_measures.py
Due: Library

clean code
  scripts/scil_search_keywords.py
Due: Scripts

clean code
  scilpy-bot-scripts/Vocabulary/Keywords.json
  scilpy-bot-scripts/Vocabulary/Synonyms.json
  scilpy-bot-scripts/Vocabulary/acronyms.json
  scilpy-bot-scripts/contextual_search.py
  scilpy-bot-scripts/generate_help_files.py
  scilpy-bot-scripts/generate_json_files.py
  scilpy-bot-scripts/generate_synonyms.py
  scilpy-bot-scripts/json_files/Scilpy_vocabulary.txt
  scilpy-bot-scripts/json_files/knowledge_base.json
  scilpy-bot-scripts/json_files/knowledge_base_word2vec.json
Due: none

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
