Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

fix pep8 again + doc
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_score_tractogram.py
Due: Scripts, Library

ENH: cut streamlines min length
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts

fix conversion and bundle metric extraction
  scripts/scil_bundle_shape_measures.py
  scripts/scil_json_convert_entries_to_xlsx.py
Due: Scripts

Fix incremental lesions
  scilpy/image/labels.py
  scripts/scil_lesions_harmonize_labels.py
Due: Scripts, Library

add mask option for scil_fodf_max_in_ventricules
  scilpy/reconst/fodf.py
  scripts/scil_fodf_max_in_ventricles.py
  scripts/tests/test_fodf_max_in_ventricles.py
Due: Scripts, Library

add test with diff sh basis
  scripts/tests/test_fodf_max_in_ventricles.py
Due: Scripts

improve help
  scripts/scil_fodf_max_in_ventricles.py
Due: Scripts

Update DEMO.md
  docs/fibertube/DEMO.md
Due: none

demo updates
  docs/fibertube/DEMO.md
Due: none

update DEMO.md
  docs/fibertube/DEMO.md
Due: none

Move method from stats to volume_metrics
  scilpy/image/volume_metrics.py
  scilpy/stats/stats.py
  scripts/scil_denoising_nlmeans.py
Due: Scripts, Library

update scripts doc
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts

Fix test (output names)
  scripts/scil_denoising_nlmeans.py
  scripts/tests/test_denoising_nlmeans.py
Due: Scripts

fix some typos
  scripts/scil_mrds_select_number_of_tensors.py
  scripts/tests/test_mrds_select_number_of_tensors.py
Due: Scripts

fix header and datatype output
  scripts/scil_mrds_select_number_of_tensors.py
Due: Scripts

fix typos
  scripts/scil_mrds_metrics.py
Due: Scripts

first commit for mrds fixel based metrics
  scilpy/tractanalysis/mrds_along_streamlines.py
  scripts/scil_bundle_mean_fixel_mrds_metric.py
  scripts/tests/test_bundle_mean_fixel_mrds_metric.py
Due: Scripts, Library

change permission
  scripts/scil_bundle_mean_fixel_mrds_metric.py
  scripts/tests/test_gradients_apply_transform.py
  scripts/tests/test_sh_to_sf.py
Due: Scripts

fix pep8
  scilpy/tractanalysis/mrds_along_streamlines.py
  scripts/scil_bundle_mean_fixel_mrds_metric.py
Due: Scripts, Library

fix permission
  scripts/tests/test_bundle_mean_fixel_mrds_metric.py
  scripts/tests/test_gradients_apply_transform.py
  scripts/tests/test_sh_to_sf.py
Due: Scripts

remove file
  scripts/tests/test_bundle_mean_fixel_mrds_metric.py
Due: Scripts

restore permissions
  scripts/tests/test_bundle_mean_fixel_mrds_metric.py
  scripts/tests/test_gradients_apply_transform.py
  scripts/tests/test_sh_to_sf.py
Due: Scripts

answer francois comments
  scripts/scil_bundle_shape_measures.py
  scripts/scil_json_convert_entries_to_xlsx.py
Due: Scripts

fix pep8
  scripts/scil_bundle_shape_measures.py
  scripts/scil_json_convert_entries_to_xlsx.py
Due: Scripts

ENH: better bundle endpoints computation
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

fix pep8 and answer Max comments
  scripts/scil_mrds_select_number_of_tensors.py
Due: Scripts

answer max comments
  scripts/scil_mrds_metrics.py
Due: Scripts

answer max comments
  scripts/scil_bundle_mean_fixel_mrds_metric.py
Due: Scripts

ENH: mm
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

FIX: test
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
Due: Library

ENH: new test data
  scilpy/io/fetcher.py
Due: Library

Fix unavailable DEMO images
  docs/fibertube/DEMO.md
Due: none

Update score tractogram script
  docs/fibertube/reconstruction_metrics.trk
  docs/fibertube/tracked_fibertubes.trk
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts, Library

fix naming
  scripts/scil_mrds_select_number_of_tensors.py
Due: Scripts

Reupdate score tractogram
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_score_tractogram.py
Due: Scripts, Library
