Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

Add more missing tests
  scilpy/tractanalysis/connectivity_segmentation.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
Due: Library

Fix Pep8
  scilpy/tractograms/tests/test_lazy_tractogram_operations.py
  scripts/scil_tractogram_assign_custom_color.py
Due: Scripts, Library

Fix bug when no config output given
  scripts/scil_fibertube_tracking.py
Due: Scripts

Begin tests and small fixes
  .github/workflows/test.yml
  scilpy/tracking/seed.py
  scripts/scil_fibertube_tracking.py
  scripts/tests/test_fibertube_score_tractogram.py
  scripts/tests/test_fibertube_tracking.py
Due: Scripts, Library

filter collisions test + fixes
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts, Library

Fix Stan comments and add tests
  scripts/scil_lesions_generate_nawm.py
  scripts/tests/test_lesions_generate_nawm.py
Due: Scripts

Update .python-version
  .python-version
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

WIP. UNCLEAR. See issue on github
  scilpy/stats/stats.py
  scripts/scil_denoising_nlmeans.py
Due: Scripts, Library

First draft, adding back piesno
  scilpy/stats/stats.py
  scripts/scil_denoising_nlmeans.py
Due: Scripts, Library

Add tests
  scripts/tests/test_denoising_nlmeans.py
Due: Scripts

Small fixes
  scilpy/stats/stats.py
  scripts/scil_denoising_nlmeans.py
  scripts/tests/test_denoising_nlmeans.py
Due: Scripts, Library

fix with distutils
  .github/workflows/test.yml
Due: none

Finalizing tests (from home, so may not run)
  requirements.txt
  scripts/tests/test_fibertube_score_tractogram.py
Due: Scripts

fix python version
  .python-version
Due: none

Update README.md
  README.md
Due: none

Finalize tests
  scripts/tests/test_fibertube_score_tractogram.py
  scripts/tests/test_fibertube_tracking.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts

fix for pep8
  scripts/scil_fibertube_tracking.py
  scripts/tests/test_fibertube_score_tractogram.py
  scripts/tests/test_fibertube_tracking.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts

Update scil_viz_tractogram_collisions.py
  scripts/scil_viz_tractogram_collisions.py
Due: Scripts

Fine tune params
  scilpy/viz/utils.py
  scripts/scil_tractogram_assign_custom_color.py
  scripts/scil_tractogram_assign_uniform_color.py
Due: Scripts, Library

Fix pep8
  scripts/scil_denoising_nlmeans.py
  scripts/tests/test_denoising_nlmeans.py
Due: Scripts

Removing --log option
  scripts/scil_denoising_nlmeans.py
Due: Scripts

Fix mask shape
  scripts/scil_denoising_nlmeans.py
  scripts/tests/test_denoising_nlmeans.py
Due: Scripts

See coverage from scripts tests only
  pytest.ini
Due: none

remove scripts from tests
  pytest.ini
Due: none

Start cleaning
  scilpy/connectivity/connectivity.py
  scilpy/connectivity/matrix_tools.py
  scilpy/io/utils.py
  scripts/scil_connectivity_compute_matrices.py
  scripts/scil_connectivity_graph_measures.py
  scripts/scil_connectivity_normalize.py
  scripts/scil_connectivity_reorder_rois.py
  scripts/scil_tractogram_segment_connections_from_labels.py
Due: Scripts, Library

Discussed off-line: Removing option --maps
  scripts/scil_connectivity_compute_matrices.py
Due: Scripts

WIP. Simplifying
  scilpy/connectivity/connectivity.py
  scripts/scil_connectivity_compute_matrices.py
  scripts/tests/test_connectivity_compute_matrices.py
Due: Scripts, Library

Fixing typo SIFT
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Add none option for normalization
  scilpy/tractanalysis/fixel_density.py
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts, Library

pep8
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Fix typo
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

More cleaning. Removing log: nb connection. Wrong numbers
  scilpy/connectivity/connectivity.py
  scripts/scil_connectivity_compute_matrices.py
Due: Scripts, Library

Quasi ready
  scilpy/connectivity/connectivity.py
  scripts/scil_connectivity_compute_matrices.py
Due: Scripts, Library

Test passes
  scilpy/connectivity/connectivity.py
  scripts/scil_connectivity_compute_matrices.py
Due: Scripts, Library

Revert test back to single process
  scripts/tests/test_connectivity_compute_matrices.py
Due: Scripts

draft working version
  scilpy/segment/recobundlesx.py
  scilpy/segment/voting_scheme.py
Due: Library

Improved behavior on synonym
  data/vocabulary/vocabulary.json
  scilpy/utils/scilpy_bot.py
  scripts/scil_search_keywords.py
Due: Scripts, Library

Fixing bug
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Fixing bug again
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
