Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

FIX: unused variables
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

answer francois and etienne comments
  scripts/scil_surface_create.py
  scripts/tests/test_surface_create.py
Due: Scripts

answer francois comments
  scripts/scil_surface_create.py
Due: Scripts

forgot to save
  scripts/scil_surface_create.py
Due: Scripts

update tests
  scripts/tests/test_surface_create.py
Due: Scripts

FIX: label comments
  scripts/scil_labels_from_mask.py
  scripts/tests/test_labels_from_mask.py
Due: Scripts

FIX: PR comments
  scilpy/image/labels.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts, Library

ENH: fix test
  scripts/tests/test_tractogram_cut_streamlines.py
Due: Scripts

fix issue with fury and the latest update of setuptools
  .github/workflows/test.yml
Due: none

fix setuptools
  .github/workflows/test.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

FIX: label test
  scilpy/image/tests/test_labels.py
Due: Library

answer Etienne comment
  scripts/scil_surface_create.py
Due: Scripts

add assert input volume
  scripts/scil_surface_create.py
Due: Scripts

add some new synonyms
  scilpy-bot-scripts/Vocabulary/Synonyms.json
  scripts/scil_search_keywords.py
Due: Scripts

add stemming to words between double quotes
  scripts/scil_search_keywords.py
Due: Scripts

modify score and add search_category argument
  scripts/scil_search_keywords.py
Due: Scripts

add no_synonyms argument
  scripts/scil_search_keywords.py
Due: Scripts

add new script to normalize gradients bvecs
  scripts/scil_gradients_normalize_bvecs.py
  scripts/tests/test_gradients_normalize_bvecs.py
Due: Scripts

chmod some scripts
  scripts/scil_labels_from_mask.py
  scripts/scil_surface_create.py
  scripts/scil_tractogram_add_dps.py
Due: Scripts

Adding output filename options
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Adding verbose and more doc
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Fixing prints and bundles names extraction
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Fix pep8
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

deal with quoted words and add docstring to functions
  scilpy/utils/generate_help_files.py
  scilpy/utils/scilpy_bot.py
  scripts/scil_search_keywords.py
Due: Scripts, Library

change vocabulary path
  scilpy/utils/Vocabulary/Keywords.json
  scilpy/utils/Vocabulary/Synonyms.json
  scilpy/utils/Vocabulary/acronyms.json
  scilpy/utils/scilpy_bot.py
Due: Library

Fixing out_dir stuff
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Fix missing parameter for background viz
  scripts/scil_viz_fodf.py
Due: Scripts

count synonyms occurence in the score
  scripts/scil_search_keywords.py
Due: Scripts

change hidden file path
  scilpy/utils/generate_help_files.py
Due: Library

correct the score for synonyms search
  scripts/scil_search_keywords.py
Due: Scripts

clean code
  scilpy/utils/scilpy_bot.py
Due: Library

Swap to keyword arguments
  scripts/scil_viz_fodf.py
Due: Scripts

first draft - not working
  scilpy/surfaces/surface_operations.py
  scripts/scil_surface_apply_transform.py
Due: Scripts, Library

add init file
  scilpy/surfaces/__init__.py
Due: Library

fix typo
  scripts/scil_gradients_normalize_bvecs.py
Due: Scripts

Removing append from parser
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

add comment
  scripts/scil_search_keywords.py
Due: Scripts

Fixing merge bug
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Fix script with new code and Emma comments
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_bundle_alter_to_target_dice.py
Due: Scripts, Library

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
