Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Emmanuel comments
  scilpy/image/labels.py
  scripts/scil_lesions_info.py
  scripts/tests/test_labels_from_mask.py
Due: Scripts, Library

add unit tests or scilpy_bot.py
  scilpy/utils/tests/test_scilpy_bot.py
Due: Library

add first script
  scripts/scil_mrds_select_number_of_tensors.py
Due: Scripts

change permissions
  scripts/scil_mrds_select_number_of_tensors.py
Due: Scripts

change output names
  scripts/scil_mrds_select_number_of_tensors.py
Due: Scripts

add script to compute mrds metrics
  scripts/scil_mrds_metrics.py
Due: Scripts

add help test
  scripts/tests/test_mrds_metrics.py
Due: Scripts

fix permissions
  scripts/tests/test_gradients_apply_transform.py
  scripts/tests/test_sh_to_sf.py
Due: Scripts

change output file names
  scripts/scil_mrds_metrics.py
Due: Scripts

FIX: legacy script
  scripts/legacy/scil_volume_reshape_to_reference.py
Due: Scripts

pep8 on test_scilpy_bot.py
  scilpy/utils/tests/test_scilpy_bot.py
Due: Library

fix surface apply transform and test
  scilpy/surfaces/surface_operations.py
  scripts/scil_surface_apply_transform.py
  scripts/tests/test_surface_apply_transform.py
Due: Scripts, Library

typo
  scripts/tests/test_surface_apply_transform.py
Due: Scripts

add progress bar to show progress of help files generation
  scilpy/utils/scilpy_bot.py
Due: Library

run autopepe on the scilpy_bot.py script
  scilpy/utils/scilpy_bot.py
Due: Library

use logging library to display the messages
  scilpy/utils/scilpy_bot.py
Due: Library

display one progress bar for the files generation
  scilpy/utils/scilpy_bot.py
Due: Library

modify the message that is displayed when the hidden file does not exist
  scripts/scil_search_keywords.py
Due: Scripts

used tqdm.write to display the messages instead of logging
  scilpy/utils/scilpy_bot.py
Due: Library

lowercase the name of the vocaulary file and folder
  scilpy/utils/scilpy_bot.py
Due: Library

change folder and file name in data folder
  data/vocabulary/vocabulary.json
Due: none

style: added missing whitespace
  scripts/scil_search_keywords.py
Due: Scripts

downcase all vocabulary
  data/vocabulary/vocabulary.json
Due: none

change acronyms format
  data/vocabulary/vocabulary.json
Due: none

change the way the scores are updated for synonyms
  scilpy/utils/scilpy_bot.py
  scripts/scil_search_keywords.py
Due: Scripts, Library

style the code to respect the pep8 rules
  scilpy/utils/scilpy_bot.py
  scripts/scil_search_keywords.py
Due: Scripts, Library

working version no test
  scripts/scil_volume_distance_map.py
Due: Scripts

Added simple test
  scripts/scil_volume_distance_map.py
  scripts/tests/test_volume_distance_map.py
Due: Scripts

Pep8 fixes
  scripts/tests/test_volume_distance_map.py
Due: Scripts

ENH: scil_volume description
  scripts/scil_volume_crop.py
  scripts/scil_volume_resample.py
  scripts/scil_volume_reshape.py
  scripts/scil_volume_reslice_to_reference.py
Due: Scripts

Added tests, improved doc, answered antoine comments
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
  scripts/scil_volume_distance_map.py
Due: Scripts, Library

working draft
  scripts/scil_lesions_generate_nawm.py
Due: Scripts

add max distance for kdtree
  scilpy/image/volume_operations.py
Due: Library

Working example with distance map
  scripts/scil_lesions_generate_nawm.py
Due: Scripts

Updating the key for fetch_data
  scripts/tests/test_labels_from_mask.py
Due: Scripts

FIX: Francois' comments
  scilpy/image/tests/test_volume_operations.py
  scripts/scil_volume_reshape.py
Due: Scripts, Library

add initialize_logging function
  scripts/scil_search_keywords.py
Due: Scripts

added a test and some modifications in the script
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
  scripts/scil_lesions_generate_nawm.py
Due: Scripts, Library

fix the -v arg to display the 1st sentence of the docstring and -v DEBUG to display the whole docstring
  scripts/scil_search_keywords.py
Due: Scripts

modify docstring
  scripts/scil_search_keywords.py
Due: Scripts
