Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

remove scripts from tests
  pytest.ini
Due: none

Generalize data_per_streamline operations
  scripts/scil_tractogram_add_dps.py
  scripts/scil_tractogram_dps_math.py
Due: Scripts

Very basic version - no test
  scripts/scil_tracking_local.py
Due: Scripts

Fix pep8
  scripts/scil_connectivity_compute_simple_matrix.py
Due: Scripts

Fix doc
  scilpy/connectivity/connectivity.py
Due: Library

fix pep8
  scripts/scil_volume_resample.py
Due: Scripts

add tests
  scripts/tests/test_frf_mean.py
  scripts/tests/test_frf_memsmt.py
  scripts/tests/test_frf_msmt.py
  scripts/tests/test_frf_set_diffusivities.py
  scripts/tests/test_frf_ssst.py
Due: Scripts

answer francois comments and fix docstring
  scilpy/segment/streamlines.py
  scripts/scil_tractogram_filter_by_roi.py
Due: Scripts, Library

fix pep8
  scilpy/io/utils.py
Due: Library

Swuitch to <>
  scilpy/connectivity/connectivity.py
Due: Library

reoder arguments
  scripts/scil_frf_mean.py
  scripts/scil_frf_memsmt.py
  scripts/scil_frf_msmt.py
  scripts/scil_frf_set_diffusivities.py
Due: Scripts

tests for scil_tractogram_dps_math.py
  scripts/scil_tractogram_dps_math.py
  scripts/tests/test_tractogram_add_dps.py
  scripts/tests/test_tractogram_dps_math.py
Due: Scripts

add specific assertions
  scripts/tests/test_frf_mean.py
  scripts/tests/test_frf_memsmt.py
  scripts/tests/test_frf_msmt.py
  scripts/tests/test_frf_set_diffusivities.py
  scripts/tests/test_frf_ssst.py
Due: Scripts

custom seeds to scil_tracking_local_dev
  scilpy/tracking/seed.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

doc fix
  scripts/scil_fibertube_tracking.py
Due: Scripts

Simplified endpoint scoring
  docs/source/documentation/fibertube_tracking.rst
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_score_tractogram.py
Due: Scripts, Library

pass tests
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_score_tractogram.py
Due: Scripts, Library

Add new image to fibertube_tracking.rst
  docs/source/documentation/fibertube_tracking.rst
Due: none

Update fibertube_tracking.rst
  docs/source/documentation/fibertube_tracking.rst
Due: none

custom seeds for scil_tracking_local_dev.py
  scilpy/tracking/seed.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

pep8 and tests
  scripts/scil_tracking_local_dev.py
Due: Scripts

remove print and improve doc
  scilpy/tracking/seed.py
Due: Library

bring back tracking to center
  scripts/scil_tracking_local_dev.py
Due: Scripts

Swap order of args
  scripts/scil_connectivity_compute_simple_matrix.py
  scripts/tests/test_connectivity_compute_simple_matrix.py
Due: Scripts

Fix volumetric density and add collision density
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_density.py
Due: Scripts, Library

Density pep8 and test
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_compute_density.py
  scripts/tests/test_fibertube_compute_density.py
Due: Scripts, Library

Compare populations: already good!
  scripts/scil_connectivity_compare_populations.py
Due: Scripts

Normalize: already good!
  scripts/scil_connectivity_normalize.py
Due: Scripts

reorder_rois: small cleaning of redundancy
  scripts/scil_connectivity_reorder_rois.py
Due: Scripts

Compute_pca: big refactor
  scripts/scil_connectivity_compute_matrices.py
  scripts/scil_connectivity_compute_pca.py
Due: Scripts

typo
  scripts/scil_connectivity_compare_populations.py
  scripts/scil_connectivity_normalize.py
Due: Scripts

minifix
  scripts/scil_fibertube_score_tractogram.py
Due: Scripts

remove density metric from collision filtering
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts

Avoid query in loop
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

Remove fibertube density from demo
  docs/source/documentation/fibertube_tracking.rst
Due: none

ENH: add interpolation to apply_volume
  scripts/scil_volume_apply_transform.py
Due: Scripts

Pep8 fix
  scripts/scil_tractogram_dps_math.py
Due: Scripts

ENH: tests apply transform
  scripts/tests/test_volume_apply_transform.py
Due: Scripts
