Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Fixing bug
  scilpy/denoise/tests/test_asym_filtering.py
  scilpy/io/utils.py
  scripts/scil_dwi_to_sh.py
Due: Scripts, Library

remove warnings and validate locally
  docs/source/_static/my_style.css
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules/scilpy.surfaces.rst
  docs/source/modules/scilpy.tractanalysis.rst
  docs/source/modules/scilpy.tractograms.rst
  scilpy/image/labels.py
  scilpy/io/streamlines.py
  scilpy/io/utils.py
  scilpy/reconst/bingham.py
  scilpy/reconst/mti.py
  scilpy/segment/recobundlesx.py
  scilpy/segment/tractogram_from_roi.py
  scilpy/stats/stats.py
  scilpy/stats/utils.py
  scilpy/tracking/propagator.py
  scilpy/tracking/seed.py
  scilpy/tractanalysis/distance_to_centroid.py
  scilpy/tractanalysis/features.py
  scilpy/tractanalysis/reproducibility_measures.py
  scilpy/tractanalysis/scoring.py
  scilpy/tractanalysis/tools.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/streamline_operations.py
  scilpy/utils/streamlines.py
  scilpy/viz/chord_chart.py
  scripts/scil_dwi_convert_FDF.py
  scripts/scil_frf_memsmt.py
  scripts/scil_frf_msmt.py
Due: Scripts, Library

[WIP] Migrate code from aodf-toolkit
  scilpy/denoise/aodf_filter.cl
  scilpy/denoise/asym_filtering.py
  scilpy/denoise/unified_asym.py
  scilpy/gpuparallel/opencl_utils.py
Due: Library

fix pep8
  scilpy/io/utils.py
  scilpy/reconst/mti.py
  scilpy/segment/tractogram_from_roi.py
  scilpy/stats/stats.py
  scilpy/tractanalysis/distance_to_centroid.py
  scilpy/tractanalysis/reproducibility_measures.py
  scilpy/tractanalysis/tools.py
  scilpy/viz/chord_chart.py
Due: Library

Test
  scilpy/tracking/propagator.py
  scilpy/tracking/tracker.py
  scilpy/tracking/utils.py
  scripts/scil_sh_to_aodf.py
  scripts/scil_tracking_local.py
  scripts/scil_tracking_local_dev.py
  scripts/tests/test_tracking_local.py
Due: Scripts, Library

Fixes
  scripts/scil_sh_to_sf.py
Due: Scripts

parent 82fdf5fdc3359e723cd3c2de4ad8cebfc8d9a2ff author arnaudbore <arnaud.bore@gmail.com> 1708963237 -0500 committer arnaudbore <arnaud.bore@gmail.com> 1708963906 -0500
  .readthedocs.yaml
  docs/Makefile
  docs/requirements.txt
  docs/source/conf.py
  scilpy/dwi/operations.py
  scilpy/io/utils.py
Due: Library

Test dwi_attenuation. Removed a division by 0 warning.
  scilpy/dwi/operations.py
  scilpy/dwi/tests/test_operations.py
  scripts/scil_dwi_apply_bias_field.py
Due: Scripts, Library

Added detect_volume_outliers test
  scilpy/dwi/operations.py
  scilpy/dwi/tests/test_operations.py
  scripts/scil_dwi_detect_volume_outliers.py
Due: Scripts, Library

Test apply bias. Mask type was a tuple, not array! Fixed!
  scilpy/dwi/operations.py
  scilpy/dwi/tests/test_operations.py
  scripts/scil_dwi_apply_bias_field.py
Due: Scripts, Library

Add unit tests for dwi.utils
  scilpy/dwi/operations.py
  scilpy/dwi/tests/test_operations.py
  scilpy/dwi/tests/test_utils.py
  scilpy/dwi/utils.py
Due: Library

Merging with master.
  scilpy/dwi/tests/test_operations.py
Due: Library

Answer some of Arnaud's comments
  scilpy/io/streamlines.py
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
  scripts/scil_tractogram_project_streamlines_to_map.py
Due: Scripts, Library

Adressing Charles comments
  scilpy/io/utils.py
Due: Library

Working Python cpu, opencl gpu and opencl cpu implementations
  scilpy/denoise/asym_filtering.py
  scilpy/gpuparallel/opencl_utils.py
  scripts/scil_sh_to_aodf.py
Due: Scripts, Library

Fix naming
  scripts/scil_aodf_metrics.py
  scripts/scil_bundle_generate_priors.py
  scripts/scil_bundle_mean_fixel_afd.py
  scripts/scil_bundle_mean_fixel_afd_from_hdf5.py
  scripts/scil_dwi_to_sh.py
  scripts/scil_fodf_max_in_ventricles.py
  scripts/scil_fodf_memsmt.py
  scripts/scil_fodf_metrics.py
  scripts/scil_fodf_msmt.py
  scripts/scil_fodf_ssst.py
  scripts/scil_qball_metrics.py
  scripts/scil_sh_convert.py
  scripts/scil_sh_to_aodf.py
  scripts/scil_sh_to_sf.py
  scripts/scil_tracking_local.py
  scripts/scil_tracking_local_dev.py
  scripts/scil_tracking_pft.py
  scripts/scil_tractogram_compute_TODI.py
  scripts/scil_visualize_fodf.py
Due: Scripts

Answer Phil: change doc and order of args
  scilpy/dwi/operations.py
  scilpy/dwi/tests/test_operations.py
  scripts/scil_dwi_detect_volume_outliers.py
Due: Scripts, Library

Answer Phil: do not assume normalization
  scilpy/dwi/operations.py
  scilpy/reconst/frf.py
Due: Library

Answer Phil: do not use 1e-6 has it is counfounding
  scilpy/dwi/operations.py
Due: Library

Fix tracking code
  scilpy/gpuparallel/opencl_utils.py
  scilpy/tracking/tracker.py
Due: Library

Better argparsing
  scilpy/denoise/asym_filtering.py
  scripts/scil_sh_to_aodf.py
Due: Scripts, Library

Documentation everywhere
  scilpy/denoise/asym_filtering.py
  scripts/scil_sh_to_aodf.py
Due: Scripts, Library

Remove angle_aware_bilateral.cl and module duplicate
  scilpy/denoise/angle_aware_bilateral.cl
  scilpy/denoise/unified_asym.py
Due: Library

Fix PEP8 for file asym_filtering.py
  scilpy/denoise/asym_filtering.py
Due: Library

PEP8 opencl_utils.py
  scilpy/gpuparallel/opencl_utils.py
Due: Library

Move function, add tests, pep8
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
  scilpy/tractograms/tractogram_operations.py
  scilpy/utils/tests/__init__.py
  scilpy/utils/tests/test_util.py
  scilpy/utils/util.py
Due: Library

add unit tests
  scilpy/denoise/tests/test_asym_filtering.py
  scilpy/tests/arrays.py
Due: Library

Fix errors
  scilpy/image/volume_operations.py
  scilpy/tractanalysis/reproducibility_measures.py
  scripts/scil_tractogram_pairwise_comparison.py
Due: Scripts, Library

Fix import
  scilpy/utils/tests/test_util.py
Due: Library

Fix kdtree type error
  scilpy/tractanalysis/reproducibility_measures.py
Due: Library

Revert to sklearn
  scilpy/tractanalysis/reproducibility_measures.py
Due: Library

Charles and Arnaud's comments
  scilpy/io/utils.py
  scripts/scil_dwi_to_sh.py
  scripts/scil_sh_convert.py
Due: Scripts, Library

Combining about 160 lines copy-pasted in both mti scripts. Nicer read of tests.
  scilpy/io/mti.py
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
  scripts/tests/test_mti_maps_MT.py
  scripts/tests/test_mti_maps_ihMT.py
Due: Scripts, Library

try to fix coverage for multiprocessed functions
  .coveragerc
Due: none

Fix pep8
  scilpy/io/utils.py
Due: Library

Removing get_b_matrix function
  scilpy/reconst/fodf.py
  scilpy/reconst/tests/test_utils.py
  scilpy/reconst/utils.py
  scilpy/tracking/utils.py
  scilpy/tractanalysis/afd_along_streamlines.py
Due: Library

Beautify argparser --help output
  scripts/scil_sh_to_aodf.py
Due: Scripts

Fixed tests (waiting on updated test data)
  scripts/tests/test_sh_to_aodf.py
Due: Scripts
