Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

Fix typos
  scilpy/viz/gradients.py
  scripts/scil_gradients_validate_sampling.py
Due: Scripts, Library

add test_lesions_harmonize_labels
  scripts/tests/test_lesions_harmonize_labels.py
Due: Scripts

add lesions.zip in fetcher.py
  scilpy/io/fetcher.py
  scripts/tests/test_lesions_harmonize_labels.py
Due: Scripts, Library

Update scripts/tests/test_lesions_harmonize_labels.py
  scripts/tests/test_lesions_harmonize_labels.py
Due: Scripts

Add tests for incremental
  scripts/tests/test_lesions_harmonize_labels.py
Due: Scripts

Added arguements for Quack RAP method
  scilpy/tracking/rap.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

Doc string RAPGraph
  scilpy/tracking/rap.py
Due: Library

fix warning get_version + pytest multithread
  .github/workflows/test.yml
  pytest.ini
  src/scilpy/cli/scil_get_version.py
Due: none

fix dependancies
  pyproject.toml
  requirements.txt
Due: none

fix some automatic fusion
  .github/workflows/test.yml
Due: none

fix workflow vtk version
  .github/workflows/test.yml
Due: none

try pyproject wo space for dependancies
  pyproject.toml
Due: none

add pytest-xdist
  .github/workflows/test.yml
  pyproject.toml
Due: none

add extra step github workflow - download data before running tests
  .github/workflows/test.yml
  pyproject.toml
  src/scilpy/cli/scil_data_download.py
  src/scilpy/io/fetcher.py
Due: none

add download nltk in scil_data_download
  src/scilpy/cli/scil_data_download.py
  src/scilpy/utils/scilpy_bot.py
Due: none

more fixes
  .coveragerc
  pyproject.toml
Due: none

fix test scilpy bot
  src/scilpy/utils/tests/test_scilpy_bot.py
Due: none

fix aodf tests + add nltk punkt_tab
  src/scilpy/cli/scil_data_download.py
  src/scilpy/cli/tests/test_aodf_metrics.py
Due: none

install uv for coverage step
  .github/workflows/test.yml
Due: none

add system to uv installation
  .github/workflows/test.yml
Due: none

restore coverage install
  .github/workflows/test.yml
Due: none

apply_olo not used anywhere. Deleting
  scilpy/connectivity/matrix_tools.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

First test matrix_tool
  scilpy/connectivity/matrix_tools.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

Fix missing casting from list to ArraySequence
  scilpy/connectivity/connectivity.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_bundle_diameter.py
  scripts/scil_bundle_label_map.py
  scripts/scil_tractogram_assign_custom_color.py
Due: Scripts, Library

Test triu_connectivity from endpoints
  scilpy/connectivity/connectivity.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

update on comments, try/except on library import and definition of rap_methods
  scilpy/tracking/rap.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

fix get_version test
  src/scilpy/cli/scil_get_version.py
Due: none

try to force encoding while reading vocabulary file
  src/scilpy/cli/scil_search_keywords.py
Due: none

update setup workflow
  .github/workflows/test.yml
Due: none

try to answer Alex comments
  .github/workflows/test.yml
  codecov.yml
Due: none

fix typo action
  .github/workflows/test.yml
Due: none

fix version
  .github/workflows/test.yml
Due: none

fix workflow
  .github/workflows/test.yml
Due: none

fix some tests + permissions
  src/scilpy/cli/scil_connectivity_compute_simple_matrix.py
  src/scilpy/cli/scil_connectivity_filter.py
  src/scilpy/cli/scil_fodf_bundleparc.py
  src/scilpy/cli/scil_gradients_validate_sampling.py
  src/scilpy/cli/scil_lesions_harmonize_labels.py
  src/scilpy/cli/tests/test_connectivity_filter.py
  src/scilpy/cli/tests/test_lesions_info.py
Due: none

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
