Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

search in docstring then in helpfiles instead of letting the user chose between the two
  scripts/scil_search_keywords.py
Due: Scripts

fix some numpy 1.25 future issues
  scripts/scil_bundle_diameter.py
  scripts/scil_bundle_shape_measures.py
  scripts/scil_connectivity_compute_pca.py
Due: Scripts

fix more warning usage
  scilpy/io/gradients.py
  scilpy/tractograms/dps_and_dpp_management.py
  scripts/scil_bundle_diameter.py
  scripts/scil_bundle_pairwise_comparison.py
Due: Scripts, Library

Add search by objects
  scripts/scil_search_keywords.py
Due: Scripts

let user chose between objects instead o giving it as argument
  scripts/scil_search_keywords.py
Due: Scripts

display scripts by score
  scripts/scil_search_keywords.py
Due: Scripts

backtrack - open an issue to fix some dps-dpp issues
  scilpy/tractograms/dps_and_dpp_management.py
Due: Library

FIX: typo
  scripts/scil_tractogram_add_dps.py
Due: Scripts

ENH: --trim option for cut streamlines
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts, Library

fix numpy warning
  scilpy/tracking/tracker.py
Due: Library

calculate frequency of keywords in each script
  scripts/scil_search_keywords.py
Due: Scripts

don't display 'Results ordered by score' if no matches were found
  scripts/scil_search_keywords.py
Due: Scripts

update requirement and fix new build_operator
  requirements.txt
  scripts/scil_tractogram_commit.py
Due: Scripts

Update doc
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

Adding new saves
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

answer francois comments
  scripts/scil_surface_from_labels.py
  scripts/tests/test_surface_from_labels.py
Due: Scripts

pep8 tests
  scripts/tests/test_surface_from_labels.py
Due: Scripts

fix test with mask
  scripts/scil_surface_from_labels.py
Due: Scripts

answer most of Em comments
  scilpy/image/labels.py
  scilpy/io/image.py
  scripts/scil_surface_from_labels.py
Due: Scripts, Library

rename script and fix smooth
  scripts/scil_surface_from_labels.py
  scripts/tests/test_surface_from_labels.py
Due: Scripts

fix import
  scripts/scil_bundle_uniformize_endpoints.py
  scripts/scil_surface_create.py
  scripts/scil_tractogram_filter_by_roi.py
  scripts/tests/test_surface_create.py
Due: Scripts

WIP: cut streamlines refactor
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts, Library

WIP: labels from mask
  scripts/scil_labels_from_mask.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts

ENH: 'scil_tractogram_cut' + 'scil_labels_from_mask'
  scilpy/image/labels.py
  scilpy/image/tests/test_labels.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
  scripts/scil_labels_from_mask.py
  scripts/scil_tractogram_cut_streamlines.py
  scripts/tests/test_tractogram_cut_streamlines.py
Due: Scripts, Library

FIX: import
  scilpy/segment/tractogram_from_roi.py
Due: Library

FIX: various
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
Due: Library

ENH: check trk
  scilpy/io/utils.py
  scripts/scil_tractogram_add_dps.py
Due: Scripts, Library

ENH: add --keep_longest and --trim_endpoints
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts, Library

ENH: add --label check
  scripts/scil_tractogram_cut_streamlines.py
  scripts/tests/test_tractogram_cut_streamlines.py
Due: Scripts

ENH: add tck test + corrected oopsi
  scripts/scil_tractogram_add_dps.py
  scripts/tests/test_tractogram_add_dps.py
Due: Scripts

stem the search text in the scoring function
  scripts/scil_search_keywords.py
Due: Scripts

FIX: import + tests
  scripts/scil_bundle_label_map.py
  scripts/tests/test_labels_from_mask.py
Due: Scripts

FIX: partial comments
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts, Library

FIX: PR comments
  scilpy/image/labels.py
  scripts/scil_labels_from_mask.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts, Library

Clearer error message
  scripts/scil_volume_pairwise_comparison.py
Due: Scripts

Added new tests, Emmanuelle comments
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_alter.py
  scripts/tests/test_tractogram_alter.py
Due: Scripts, Library

Added new tests, Emmanuelle comments
  scripts/scil_bundle_alter_to_target_dice.py
  scripts/tests/test_bundle_alter_to_target_dice.py
Due: Scripts

Correct pep8
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

FIX: docstring and argparse
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts, Library

FIX: labels and cut tests
  scripts/tests/test_labels_from_mask.py
  scripts/tests/test_tractogram_cut_streamlines.py
Due: Scripts
