Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

remove remaining fury from non-viz packages
  scilpy/io/utils.py
  scilpy/viz/gradient_sampling.py
  scilpy/viz/legacy/__init__.py
  scripts/scil_bundle_diameter.py
Due: Scripts, Library

First refactor pass at the visualization module
  scilpy/viz/legacy.py
  scilpy/viz/screenshot.py
  scilpy/viz/volume_slicing.py
  scripts/scil_tractogram_assign_custom_color.py
Due: Scripts, Library

fix legacy descriptions and failing test
  scripts/legacy/scil_screenshot_bundle.py
  scripts/legacy/scil_screenshot_dti.py
  scripts/legacy/scil_screenshot_volume.py
  scripts/legacy/scil_screenshot_volume_mosaic_overlap.py
  scripts/legacy/scil_visualize_bingham_fit.py
  scripts/legacy/scil_visualize_bundles.py
  scripts/legacy/scil_visualize_bundles_mosaic.py
  scripts/legacy/scil_visualize_connectivity.py
  scripts/legacy/scil_visualize_fodf.py
  scripts/legacy/scil_visualize_gradients.py
  scripts/legacy/scil_visualize_histogram.py
  scripts/legacy/scil_visualize_scatterplot.py
  scripts/legacy/scil_visualize_seeds.py
  scripts/legacy/scil_visualize_seeds_3d.py
  scripts/tests/test_viz_bingham_fit.py
Due: Scripts

add comment to legacy, fix pep8
  scilpy/viz/gradients.py
  scilpy/viz/legacy/__init__.py
  scilpy/viz/legacy/chord_chart.py
  scripts/scil_bingham_visualize.py
  scripts/scil_bundle_diameter.py
  scripts/scil_connectivity_visualize.py
Due: Scripts, Library

move out of utils.util plus cleanup
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/utils.py
  scilpy/image/volume_operations.py
  scilpy/image/volume_space_management.py
  scilpy/io/utils.py
  scilpy/reconst/utils.py
  scilpy/tractograms/streamline_operations.py
  scilpy/utils/spatial.py
  scilpy/utils/tests/test_util.py
  scilpy/utils/util.py
  scilpy/viz/backends/fury.py
  scilpy/viz/screenshot.py
  scilpy/viz/utils.py
  scripts/scil_bingham_visualize.py
  scripts/scil_bundle_screenshot_mni.py
  scripts/scil_dti_screenshot.py
  scripts/scil_fodf_visualize.py
  scripts/scil_tractogram_segment_one_bundles.py
  scripts/scil_volume_crop.py
  scripts/scil_volume_screenshot.py
Due: Scripts, Library

pep8 and cleanup + cast ras axis index to int
  scilpy/utils/__init__.py
  scilpy/utils/spatial.py
  scripts/scil_bundle_screenshot_mni.py
  scripts/scil_bundle_visualize.py
  scripts/scil_gradients_screenshot.py
  scripts/scil_volume_screenshot_mosaic.py
  scripts/scil_volume_visualize_histogram.py
Due: Scripts, Library

move my todos to issues
  scilpy/io/utils.py
  scilpy/viz/backends/pil.py
  scilpy/viz/color.py
Due: Library

fix font fetch (load_default is already ImageFont)
  scilpy/viz/backends/pil.py
Due: Library

uniformize font searching
  scilpy/viz/backends/pil.py
  scripts/scil_viz_bundle_screenshot_mosaic.py
Due: Scripts, Library

answer charles comments, and others
  scilpy/io/utils.py
  scilpy/tractograms/streamline_operations.py
  scilpy/utils/spatial.py
  scilpy/utils/tests/__init__.py
  scilpy/utils/tests/test_util.py
  scilpy/viz/backends/vtk.py
Due: Library

remove todos
  scilpy/viz/gradients.py
Due: Library

update with the master
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/viz/backends/fury.py
  scilpy/viz/color.py
  scilpy/viz/utils.py
  scripts/scil_bundle_label_map.py
  scripts/scil_tractogram_assign_custom_color.py
  scripts/scil_tractogram_assign_uniform_color.py
Due: Scripts, Library

unused code
  scripts/scil_bundle_diameter.py
Due: Scripts

revert devcontainer changes
  .devcontainer/devcontainer.json
Due: none

move utils.util into init for now, it's a good place for it
  scilpy/image/volume_math.py
  scilpy/io/image.py
  scilpy/utils/__init__.py
  scilpy/utils/util.py
  scripts/scil_connectivity_math.py
  scripts/scil_json_harmonize_entries.py
  scripts/scil_volume_math.py
Due: Scripts, Library

fix bundle screenshot mni
  scripts/scil_viz_bundle_screenshot_mni.py
Due: Scripts

first assert on peaks and overlays
  scripts/scil_viz_volume_screenshot.py
  scripts/scil_viz_volume_screenshot_mosaic.py
Due: Scripts

docstring and typos
  scilpy/utils/spatial.py
  scilpy/viz/legacy/__init__.py
  scripts/scil_viz_fodf.py
  scripts/scil_viz_volume_screenshot.py
  scripts/scil_viz_volume_screenshot_mosaic.py
  scripts/tests/test_viz_bundle.py
Due: Scripts, Library

assert headers, fix docstring
  scilpy/io/utils.py
  scripts/scil_viz_bundle_screenshot_mni.py
Due: Scripts, Library

fix viz_fodf
  scripts/scil_viz_fodf.py
Due: Scripts

fix bingham
  scilpy/viz/slice.py
Due: Library

fix optional arguments
  scripts/scil_viz_volume_screenshot.py
  scripts/scil_viz_volume_screenshot_mosaic.py
Due: Scripts

pep8
  scripts/scil_viz_bundle_screenshot_mosaic.py
Due: Scripts

fix bundle screenshot mosaic text
  scripts/scil_viz_bundle_screenshot_mosaic.py
Due: Scripts

fix docstrings
  scripts/scil_viz_bundle.py
  scripts/scil_viz_tractogram_seeds_3d.py
  scripts/scil_viz_volume_histogram.py
  scripts/scil_viz_volume_scatterplot.py
  scripts/scil_viz_volume_screenshot.py
  scripts/scil_viz_volume_screenshot_mosaic.py
Due: Scripts

fix fodf
  scilpy/viz/backends/fury.py
  scilpy/viz/slice.py
  scripts/scil_viz_bingham_fit.py
  scripts/scil_viz_fodf.py
Due: Scripts, Library

fix input/output validation
  scilpy/io/utils.py
  scripts/scil_viz_volume_screenshot.py
  scripts/scil_viz_volume_screenshot_mosaic.py
Due: Scripts, Library

rebase and fixes
  scripts/scil_bundle_diameter.py
  scripts/scil_viz_bundle_screenshot_mosaic.py
Due: Scripts

fix test
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
Due: Library

fix LUT for tractogram seeds 3d
  scilpy/viz/backends/vtk.py
  scripts/scil_viz_tractogram_seeds.py
  scripts/scil_viz_tractogram_seeds_3d.py
Due: Scripts, Library

fix roi coloring
  scripts/scil_viz_tractogram_seeds_3d.py
Due: Scripts

Update scil_viz_tractogram_seeds_3d.py
  scripts/scil_viz_tractogram_seeds_3d.py
Due: Scripts

fix typo
  scripts/legacy/scil_recognize_single_bundle.py
  scripts/scil_tractogram_segment_one_bundle.py
Due: Scripts

fix typo
  scripts/tests/test_tractogram_segment_one_bundles.py
Due: Scripts

fix typo ---- again
  scripts/tests/test_tractogram_segment_one_bundles.py
Due: Scripts

add publish to testpypi
  .github/workflows/publish_to_testpypi.yml
  .python-version
  cibuildwheel.toml
Due: none

update action
  .github/workflows/publish_to_testpypi.yml
Due: none

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
