Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

ENH: script
  scripts/scil_bundle_compute_endpoints_map.py
Due: Scripts

Finalize demo
  docs/fibertube/DEMO.md
  docs/source/documentation/fibertube_tracking.rst
Due: none

Update fibertube_tracking.rst
  docs/source/documentation/fibertube_tracking.rst
Due: none

tiny fix
  docs/source/documentation/fibertube_tracking.rst
  scripts/scil_fibertube_tracking.py
Due: Scripts

goes with last commit
  docs/source/documentation/fibertube_tracking.rst
Due: none

fix: project.toml with minimal build and right cythonizing versions
  pyproject.toml
Due: none

Temp delete the toml
  pyproject.toml
Due: none

Big update fibertube_tracking.rst
  docs/source/documentation/fibertube_tracking.rst
Due: none

mini-fix
  scripts/scil_fibertube_score_tractogram.py
Due: Scripts

Test remove setup_requires
  setup.py
Due: none

Test with specific setup_requires
  setup.py
Due: none

fix: replace setup_requires by prproject.toml
  pyproject.toml
  setup.py
Due: none

fix: pep8 update
  setup.py
Due: none

ENH: better arguments
  scripts/scil_bundle_compute_endpoints_map.py
  scripts/tests/test_bundle_compute_endpoints_map.py
Due: Scripts

Fix pep8 and doc
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts, Library

new names
  scripts/scil_mrds_select_number_of_tensors.py
Due: Scripts

add tests
  scilpy/io/fetcher.py
  scripts/tests/test_mrds_select_number_of_tensors.py
Due: Scripts, Library

add tests
  scilpy/io/fetcher.py
  scripts/tests/test_mrds_metrics.py
Due: Scripts, Library

WIP adding tests for norm
  scripts/tests/test_bundle_fixel_analysis.py
Due: Scripts

Adding tests
  scripts/scil_bundle_fixel_analysis.py
  scripts/tests/test_bundle_fixel_analysis.py
Due: Scripts

Adding tests v2
  scripts/tests/test_bundle_fixel_analysis.py
Due: Scripts

Fix from invalid streamlines
  .python-version
  scilpy/segment/voting_scheme.py
  scilpy/tractanalysis/reproducibility_measures.py
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_bundle_explore_bundleseg.py
Due: Scripts, Library

Add fibertube density to metrics - first iteration
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts

Test passes
  scilpy/connectivity/connectivity.py
  scripts/scil_connectivity_compute_matrices.py
Due: Scripts, Library

Revert test back to single process
  scripts/scil_connectivity_compute_matrices.py
  scripts/tests/test_connectivity_compute_matrices.py
Due: Scripts

WIP. Simplifying
  scilpy/connectivity/connectivity.py
  scripts/scil_connectivity_compute_matrices.py
  scripts/tests/test_connectivity_compute_matrices.py
Due: Scripts, Library

Quasi ready
  scilpy/connectivity/connectivity.py
  scripts/scil_connectivity_compute_matrices.py
Due: Scripts, Library

Start cleaning
  scilpy/connectivity/connectivity.py
  scilpy/connectivity/matrix_tools.py
  scilpy/io/utils.py
  scripts/scil_connectivity_compute_matrices.py
  scripts/scil_connectivity_graph_measures.py
  scripts/scil_connectivity_normalize.py
  scripts/scil_connectivity_reorder_rois.py
  scripts/scil_tractogram_segment_connections_from_labels.py
Due: Scripts, Library
