Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

feat: Add surface feature and StatefulSurface support
  README.md
  scilpy/io/utils.py
  scilpy/tractanalysis/tests/test_reproducibility_measures.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
  scilpy/tractograms/tests/test_tractogram_operations.py
  scilpy/tractograms/tractogram_operations.py
  scilpy/utils/scilpy_bot.py
  scilpy/utils/tests/test_scilpy_bot.py
  scripts/scil_surface_assign_custom_color.py
  scripts/scil_surface_assign_uniform_color.py
  scripts/scil_surface_convert.py
Due: Scripts, Library

refactor: Remove scilpy_bot and nltk changes
  scilpy/utils/scilpy_bot.py
  scilpy/utils/tests/test_scilpy_bot.py
Due: Library

fix: Correct Space import in scilpy.io.utils
  scilpy/io/utils.py
Due: Library

feat: Add scilpy_bot and nltk support
  scilpy/utils/scilpy_bot.py
  scilpy/utils/tests/test_scilpy_bot.py
Due: Library

Fix peaks directions
  scilpy/reconst/sh.py
Due: Library

revert convert
  scripts/scil_surface_convert.py
Due: Scripts

Update fury
  requirements.txt
Due: none

FIX: tests
  scripts/tests/test_fodf_bundleparc.py
Due: Scripts

Fix uncompress float32
  requirements.txt
  scilpy/reconst/sh.py
  scilpy/tractanalysis/afd_along_streamlines.py
  scilpy/tractanalysis/bingham_metric_along_streamlines.py
  scilpy/tractanalysis/fixel_density.py
  scilpy/tractanalysis/mrds_along_streamlines.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
  scripts/scil_bundle_alter_to_target_dice.py
  scripts/scil_tractogram_segment_connections_from_labels.py
  scripts/tests/test_surface_convert.py
  scripts/tests/test_tractogram_convert.py
  scripts/tests/test_tractogram_flip.py
Due: Scripts, Library

Fix name keyword
  scilpy/denoise/asym_filtering.py
  scilpy/image/volume_operations.py
  scilpy/io/btensor.py
  scilpy/reconst/bingham.py
  scilpy/reconst/fodf.py
  scilpy/reconst/frf.py
  scilpy/reconst/sh.py
  scilpy/segment/recobundlesx.py
  scilpy/tracking/propagator.py
  scilpy/tracking/utils.py
  scilpy/tractanalysis/afd_along_streamlines.py
  scilpy/tractanalysis/reproducibility_measures.py
  scilpy/tractanalysis/todi.py
  scripts/scil_aodf_metrics.py
  scripts/scil_bundle_generate_priors.py
  scripts/scil_dki_metrics.py
  scripts/scil_dti_metrics.py
  scripts/scil_dwi_extract_b0.py
  scripts/scil_dwi_powder_average.py
  scripts/scil_dwi_to_sh.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/scil_fodf_memsmt.py
  scripts/scil_fodf_metrics.py
  scripts/scil_fodf_msmt.py
  scripts/scil_fodf_ssst.py
  scripts/scil_qball_metrics.py
  scripts/scil_sh_convert.py
  scripts/scil_sh_to_sf.py
  scripts/scil_tracking_local.py
  scripts/scil_tracking_pft.py
  scripts/tests/test_fibertube_score_tractogram.py
  scripts/tests/test_fibertube_tracking.py
Due: Scripts, Library

Fix warning about keyword in local modelling
  scilpy/reconst/bingham.py
  scilpy/reconst/frf.py
  scilpy/viz/plot.py
  scripts/scil_dti_metrics.py
  scripts/scil_fodf_msmt.py
  scripts/scil_fodf_ssst.py
  scripts/scil_qball_metrics.py
Due: Scripts, Library

Fix errors due to regex
  pytest.ini
  scripts/tests/test_bids_validate.py
  scripts/tests/test_connectivity_reorder_rois.py
  scripts/tests/test_sh_to_aodf.py
  scripts/tests/test_tractogram_filter_by_anatomy.py
  scripts/tests/test_tractogram_segment_connections_from_labels.py
Due: Scripts

Fix fibertube array error
  scilpy/tractograms/streamline_operations.py
  scripts/tests/test_fibertube_compute_density.py
  scripts/tests/test_fibertube_score_tractogram.py
  scripts/tests/test_fibertube_tracking.py
Due: Scripts, Library

add filtering overlap point + nb points
  scripts/scil_bundle_label_map.py
Due: Scripts

fix pep8
  scripts/scil_bundle_label_map.py
Due: Scripts

update version
  scilpy/version.py
Due: Library

RAPGraph 0.1 untested
  scilpy/tracking/rap.py
Due: Library

Handle empty labels
  scilpy/tractanalysis/reproducibility_measures.py
Due: Library

ENH: BundleParc from DWI
  scilpy/ml/bundleparc/utils.py
  scripts/scil_fodf_bundleparc.py
Due: Scripts, Library

ENH: update preamble
  scripts/scil_fodf_bundleparc.py
Due: Scripts

fix manifest
  MANIFEST.in
Due: none

try some test
  .github/workflows/test.yml
Due: none

source env
  .github/workflows/test.yml
Due: none

install VTK osmesa in the workflow, not provided with runner image anymore
  .github/workflows/test.yml
Due: none

tets add setup
  setup.py
Due: none

fix setup
  pyproject.toml
  setup.py
Due: none

Big mem energy
  .github/workflows/test-ml.yml
Due: none

FIX: missing pytest marker def
  pytest.ini
Due: none

FIX: vtk in test
  .github/workflows/test-ml.yml
Due: none

Support 3.10
  .python-version
Due: none

Fix Antoine comments
  scilpy/io/utils.py
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
  scripts/scil_surface_assign_custom_color.py
  scripts/scil_surface_assign_uniform_color.py
Due: Scripts, Library

use uv
  .github/workflows/test.yml
Due: none

Ignoring functions in viz.gradients
  scilpy/viz/gradients.py
Due: Library

Add test for viz_gradients_screenshot
  scripts/scil_viz_gradients_screenshot.py
  scripts/tests/test_viz_gradients_screenshot.py
Due: Scripts

Add option 'ambiant_occlusion' and 'local_orientation`
  scilpy/viz/backends/pil.py
  scripts/tests/test_tractogram_assign_custom_color.py
  scripts/tests/test_viz_volume_screenshot.py
Due: Scripts, Library

Add option in test_bundle_diameter
  scripts/tests/test_bundle_diameter.py
Due: Scripts

Add test in viz_volume_screenshot_mosaic
  scripts/tests/test_viz_volume_screenshot_mosaic.py
Due: Scripts

Simplify scil_viz_fodf
  scripts/scil_bundle_diameter.py
  scripts/scil_viz_bingham_fit.py
  scripts/scil_viz_fodf.py
Due: Scripts
