Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Fixing compute_snr
  scripts/scil_dwi_compute_snr.py
Due: Scripts

Fix bugs
  scripts/scil_tractogram_print_info.py
  scripts/tests/test_tractogram_segment_bundles.py
Due: Scripts

squash bad coverage history
  .coveragerc
  .github/workflows/test.yml
Due: none

update coveragerc
  .coveragerc
Due: none

simplify pytest.ini
  pytest.ini
Due: none

tests should now run
  .github/workflows/test.yml
Due: none

remove unused StatefulTractogram
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

removed extra spaces
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

removed default false
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

changed to nib.load
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

added dual keep_dpp and ovewrite args
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

changed map to map_volume
  scilpy/tractograms/dps_and_dpp_management.py
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts, Library

updated logging in project_map
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

remove if statement
  scilpy/tractograms/dps_and_dpp_management.py
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts, Library

fixed comments in dpp_math
  scripts/scil_tractogram_dpp_math.py
Due: Scripts

updated to mode required argument
  scripts/scil_tractogram_dpp_math.py
  scripts/scil_tractogram_project_map_to_streamlines.py
  scripts/tests/test_tractogram_dpp_math.py
Due: Scripts

added keep_all_dpp_dps option
  scripts/scil_tractogram_dpp_math.py
Due: Scripts

moved streamline ops to dps_and_dpp
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_tractogram_dpp_math.py
Due: Scripts, Library

blank tests to dps_dpp module
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
  scilpy/tractograms/tests/test_streamline_operations.py
Due: Library

pep8
  scilpy/tractograms/streamline_operations.py
  scripts/scil_tractogram_dpp_math.py
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts, Library

4D data stored as shape (#,) fixed checks
  scripts/scil_tractogram_dpp_math.py
Due: Scripts

fixed dimension on tuple
  scripts/scil_tractogram_dpp_math.py
Due: Scripts

updated dimension on data_shape
  scripts/scil_tractogram_dpp_math.py
Due: Scripts

Whole sphere confirmed. Removed half-sphere explanation
  scilpy/gradients/gen_gradient_sampling.py
  scilpy/gradients/tests/test_gradients_utils.py
  scilpy/gradients/utils.py
Due: Library

Rename reorder_philips to reorder_table
  scilpy/gradients/tests/test_gradients_utils.py
  scilpy/gradients/utils.py
  scripts/scil_dwi_reorder_philips.py
Due: Scripts, Library

split workflowin twain so we can re-run only codecov when it fails
  .github/workflows/test.yml
Due: none

for a workflow run
  .github/workflows/test.yml
Due: none

Updating for PR 904
  scilpy/dwi/operations.py
  scripts/scil_dwi_detect_volume_outliers.py
  scripts/tests/test_dwi_detect_volume_outliers.py
Due: Scripts, Library

Fixing detect_volume_outliers
  scilpy/dwi/operations.py
  scripts/scil_dwi_detect_volume_outliers.py
Due: Scripts, Library

inspect path content after artifact download
  .github/workflows/test.yml
Due: none

show hidden
  .github/workflows/test.yml
Due: none

download to scilpy path, workspace seems not to point to it
  .github/workflows/test.yml
Due: none

install coverage in upload step
  .github/workflows/test.yml
Due: none

python version is a string
  .github/workflows/test.yml
Due: none

Answer Philip's comments
  scilpy/gradients/tests/test_gradients_utils.py
  scilpy/gradients/utils.py
  scripts/scil_dwi_reorder_philips.py
Due: Scripts, Library

lean down tests and relaunch with new perm
  .github/workflows/test.yml
Due: none

Removing sft logging function
  scripts/scil_bundle_label_map.py
  scripts/scil_tracking_local_dev.py
  scripts/scil_tractogram_filter_by_anatomy.py
  scripts/scil_tractogram_filter_by_orientation.py
  scripts/scil_tractogram_filter_by_roi.py
  scripts/scil_tractogram_resample.py
  scripts/scil_tractogram_segment_bundles_for_connectivity.py
  scripts/scil_tractogram_split.py
Due: Scripts

set permission to delete artifact
  .github/workflows/test.yml
Due: none

reduce artifacts retention instead of delete. Exclude legacy main call of scripts from coverage
  .coveragerc
  .github/workflows/test.yml
Due: none

Include the main definition
  .coveragerc
Due: none
