Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

move coloring to vtk and fury
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/color.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_screenshot_volume.py
Due: Scripts, Library

dynamic font setting using matplotlib
  scilpy/viz/backends/pil.py
Due: Library

Update screenshotting to use generators to lower RAM usage
  scilpy/viz/screenshot.py
Due: Library

Propagate code standards in library
  scilpy/viz/gradient_sampling.py
  scilpy/viz/screenshot.py
Due: Library

Further split backend
  scilpy/viz/slice.py
Due: Library

filter data set to the slicer, so we don't render empty peaks volumes
  scilpy/viz/slice.py
Due: Library

minor fixes with new dependencies versions
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/screenshot.py
  scripts/scil_screenshot_volume.py
Due: Scripts, Library

initialize peaks_screenshots_generator
  scripts/scil_screenshot_volume.py
Due: Scripts

doc and fixes
  scilpy/viz/color.py
  scripts/scil_bundle_diameter.py
Due: Scripts, Library

name consistency and fixes
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/screenshot.py
Due: Library

apply last renaming through visualization
  scilpy/viz/gradients.py
  scripts/legacy/scil_screenshot_bundle.py
  scripts/legacy/scil_screenshot_dti.py
  scripts/legacy/scil_screenshot_volume.py
  scripts/legacy/scil_screenshot_volume_mosaic_overlap.py
  scripts/legacy/scil_visualize_bingham_fit.py
  scripts/legacy/scil_visualize_bundles.py
  scripts/legacy/scil_visualize_bundles_mosaic.py
  scripts/legacy/scil_visualize_connectivity.py
  scripts/legacy/scil_visualize_fodf.py
  scripts/legacy/scil_visualize_gradients.py
  scripts/legacy/scil_visualize_histogram.py
  scripts/legacy/scil_visualize_scatterplot.py
  scripts/legacy/scil_visualize_seeds.py
  scripts/legacy/scil_visualize_seeds_3d.py
  scripts/scil_bingham_visualize.py
  scripts/scil_bundle_screenshot_mni.py
  scripts/scil_bundle_screenshot_mosaic.py
  scripts/scil_bundle_visualize.py
  scripts/scil_connectivity_visualize.py
  scripts/scil_dti_screenshot.py
  scripts/scil_fodf_visualize.py
  scripts/scil_gradients_screenshot.py
  scripts/scil_script_rename.py
  scripts/scil_tractogram_visualize_seeds.py
  scripts/scil_tractogram_visualize_seeds_3d.py
  scripts/scil_volume_screenshot.py
  scripts/scil_volume_screenshot_mosaic.py
  scripts/scil_volume_visualize_histogram.py
  scripts/scil_volume_visualize_scatter.py
Due: Scripts, Library

fix pep8
  scilpy/io/utils.py
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
Due: Library

Add peaks overlay to screenshot_volumes
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
Due: Library

Fix pep8
  scilpy/viz/backends/fury.py
Due: Library

fix pep8. make script renamer less likely to create scripts with bad pep8
  scilpy/io/utils.py
  scilpy/viz/screenshot.py
  scripts/legacy/scil_screenshot_bundle.py
  scripts/legacy/scil_screenshot_dti.py
  scripts/legacy/scil_screenshot_volume.py
  scripts/legacy/scil_screenshot_volume_mosaic_overlap.py
  scripts/legacy/scil_visualize_bingham_fit.py
  scripts/legacy/scil_visualize_bundles.py
  scripts/legacy/scil_visualize_bundles_mosaic.py
  scripts/legacy/scil_visualize_connectivity.py
  scripts/legacy/scil_visualize_fodf.py
  scripts/legacy/scil_visualize_gradients.py
  scripts/legacy/scil_visualize_histogram.py
  scripts/legacy/scil_visualize_scatterplot.py
  scripts/legacy/scil_visualize_seeds.py
  scripts/legacy/scil_visualize_seeds_3d.py
  scripts/scil_fodf_visualize.py
  scripts/scil_script_rename.py
  scripts/scil_volume_screenshot.py
  scripts/scil_volume_screenshot_mosaic.py
Due: Scripts, Library

pep8 fixes
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/screenshot.py
Due: Library

fix
  scripts/scil_screenshot_volume.py
Due: Scripts

Create color module. Move PIL out of fury backend. Add todos.
  scilpy/viz/gradient_sampling.py
Due: Library

Start refactoring fury to merge legacy
  scilpy/viz/volume_slicing.py
Due: Library

improve error message and pep8
  scilpy/io/image.py
Due: Library

Propagate code standards in library
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/color.py
  scilpy/viz/gradient_sampling.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scilpy/viz/utils.py
  scripts/scil_visualize_bingham_fit.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

fix merge problems
  scilpy/io/utils.py
  scilpy/viz/backends/fury.py
  scilpy/viz/gradient_sampling.py
  scripts/scil_bundle_diameter.py
  scripts/scil_screenshot_bundle.py
  scripts/scil_tractogram_assign_custom_color.py
Due: Scripts, Library

Limit volume_shape to spatial extent
  scilpy/viz/backends/fury.py
Due: Library

Apply the correct annotations on sagittal
  scilpy/viz/backends/pil.py
  scilpy/viz/screenshot.py
  scripts/scil_screenshot_volume.py
Due: Scripts, Library

fix contour opacity. adjust opacity defaults
  scilpy/io/utils.py
  scripts/scil_volume_screenshot.py
  scripts/scil_volume_screenshot_mosaic.py
Due: Scripts, Library

create util for axis, coordinate and basis vector naming and indexing
  scilpy/io/utils.py
Due: Library

renaming and cleaning
  scilpy/io/utils.py
  scilpy/viz/backends/pil.py
  scilpy/viz/screenshot.py
  scripts/scil_screenshot_volume.py
  scripts/scil_screenshot_volume_mosaic_overlap.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

answer most of antoine comments
  scilpy/viz/backends/pil.py
  scilpy/viz/color.py
  scilpy/viz/legacy/__init__.py
  scilpy/viz/screenshot.py
Due: Library

document lut table function
  scilpy/viz/backends/vtk.py
Due: Library

Apply code standard to scripts
  scilpy/io/utils.py
  scripts/scil_screenshot_volume_mosaic_overlap.py
Due: Scripts, Library

Change camera parameters we use (setting view angle doesn't require knowing the viewport previous zoom factor)
  scilpy/viz/backends/fury.py
Due: Library

Create legacy module for stuff to move or change.
  scilpy/viz/legacy.py
Due: Library

Update scil_volume_screenshot_mosaic.py
  scripts/scil_volume_screenshot_mosaic.py
Due: Scripts

remove optional. move todo
  scilpy/io/utils.py
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
Due: Library

Add peaks overlay to screenshot_volumes
  scilpy/io/utils.py
  scilpy/viz/backends/fury.py
  scilpy/viz/backends/pil.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_screenshot_volume.py
Due: Scripts, Library

pep8 fix
  scilpy/viz/backends/pil.py
Due: Library

Update scil_gradients_screenshot.py
  scripts/scil_gradients_screenshot.py
Due: Scripts

Fix pep8. Add win_dims argument to estimate bundles diameter script
  scilpy/viz/color.py
  scripts/scil_bundle_diameter.py
  scripts/scil_screenshot_volume.py
Due: Scripts, Library

renaming and fixes
  scilpy/io/utils.py
  scilpy/viz/backends/pil.py
  scilpy/viz/screenshot.py
  scripts/scil_screenshot_volume.py
  scripts/scil_screenshot_volume_mosaic_overlap.py
Due: Scripts, Library
