Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Ignore some coverage
  scilpy/viz/backends/fury.py
Due: Library

Add test for viz_seeds_3d
  scripts/scil_viz_tractogram_seeds_3d.py
  scripts/tests/test_viz_tractogram_seeds_3d.py
Due: Scripts

Improving coverage in sclice
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scripts/scil_viz_bingham_fit.py
  scripts/scil_viz_fodf.py
  scripts/tests/test_viz_bingham_fit.py
  scripts/tests/test_viz_fodf.py
  scripts/tests/test_viz_volume_screenshot.py
Due: Scripts, Library

New test for scil_viz_volume_screenshot
  scilpy/viz/screenshot.py
  scripts/scil_viz_volume_screenshot.py
  scripts/tests/test_viz_volume_screenshot.py
Due: Scripts, Library

Remove ignore decorator, now ok
  scilpy/viz/backends/fury.py
Due: Library

Fixed test_viz_bingham_fit + added options in test_viz_fodf
  scilpy/reconst/bingham.py
  scilpy/tractanalysis/bingham_metric_along_streamlines.py
  scilpy/viz/slice.py
  scripts/scil_fodf_to_bingham.py
  scripts/scil_viz_bingham_fit.py
  scripts/tests/test_viz_bingham_fit.py
  scripts/tests/test_viz_fodf.py
Due: Scripts, Library

Fixed color
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/viz/color.py
Due: Library

WIP, in wait for end point mask
  scilpy/tracking/rap.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

Fix errors in all python version
  .github/workflows/test.yml
  scilpy/image/volume_operations.py
  scilpy/tractograms/dps_and_dpp_management.py
  scripts/scil_tractogram_dps_math.py
  scripts/tests/test_tractogram_dps_math.py
Due: Scripts, Library

First test matrix_tool
  scilpy/connectivity/matrix_tools.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

apply_olo not used anywhere. Deleting
  scilpy/connectivity/matrix_tools.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

Test triu_connectivity from endpoints
  scilpy/connectivity/connectivity.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

Update .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

Fix sparse in bundleseg
  scilpy/segment/bundleseg.py
Due: Library

Fix missing casting from list to ArraySequence
  scilpy/connectivity/connectivity.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_bundle_diameter.py
  scripts/scil_bundle_label_map.py
  scripts/scil_tractogram_assign_custom_color.py
Due: Scripts, Library

Fix last error
  scilpy/tractograms/intersection_finder.py
  scripts/scil_tractogram_commit.py
Due: Scripts, Library

Fix Arnaud and Emmanuel comments
  README.md
  scilpy/io/utils.py
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
Due: Library

Added back the pypi install
  README.md
Due: none

Update README.md
  README.md
Due: none

Add option 'ambiant_occlusion' and 'local_orientation`
  scilpy/viz/backends/pil.py
  scripts/tests/test_tractogram_assign_custom_color.py
  scripts/tests/test_viz_volume_screenshot.py
Due: Scripts, Library

Add option in test_bundle_diameter
  scripts/tests/test_bundle_diameter.py
Due: Scripts

Ignoring functions in viz.gradients
  scilpy/viz/gradients.py
Due: Library

Add test in viz_volume_screenshot_mosaic
  scripts/tests/test_viz_volume_screenshot_mosaic.py
Due: Scripts

Simplify scil_viz_fodf
  scripts/scil_bundle_diameter.py
  scripts/scil_viz_bingham_fit.py
  scripts/scil_viz_fodf.py
Due: Scripts

Add test for viz_gradients_screenshot
  scripts/scil_viz_gradients_screenshot.py
  scripts/tests/test_viz_gradients_screenshot.py
Due: Scripts

fix filtering_list when using multiple id for atlas_roi
  scripts/scil_tractogram_filter_by_roi.py
  scripts/tests/test_tractogram_filter_by_roi.py
Due: Scripts

fix typo and add comment
  scripts/scil_tractogram_filter_by_roi.py
Due: Scripts

update filtering.zip thanks to Alex
  scilpy/io/fetcher.py
Due: Library

Use more lightweight data in test_viz_fodf.sh
  scripts/tests/test_viz_fodf.py
Due: Scripts

Use smaller sphere in viz_fodf
  scripts/tests/test_viz_fodf.py
Due: Scripts

Fix test_tractogram_assigh_custom_color
  scilpy/viz/color.py
  scripts/scil_tractogram_assign_custom_color.py
  scripts/tests/test_tractogram_assign_custom_color.py
Due: Scripts, Library

Answer Alex: add --silent to plot each shell/proj shell
  scilpy/viz/gradients.py
  scripts/scil_gradients_validate_sampling.py
  scripts/scil_viz_gradients_screenshot.py
  scripts/tests/test_viz_gradients_screenshot.py
Due: Scripts, Library

Answer other comments Alex and Arnaud
  scripts/scil_viz_bingham_fit.py
  scripts/scil_viz_tractogram_seeds_3d.py
  scripts/tests/test_viz_gradients_screenshot.py
  scripts/tests/test_viz_tractogram_seeds_3d.py
  scripts/tests/test_viz_volume_screenshot_mosaic.py
Due: Scripts
