Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

create viz plot tool
  scilpy/utils/metrics_tools.py
  scilpy/viz/plot.py
  scripts/scil_dti_metrics.py
  scripts/scil_plot_stats_per_point.py
Due: Scripts, Library

FIX: div by 0 in residual
  scripts/scil_dti_metrics.py
  scripts/tests/test_dti_metrics.py
Due: Scripts

Graph measures ok. Making mask binary
  scripts/scil_connectivity_graph_measures.py
Due: Scripts

fix: add rejection testing scripts
  scripts/tests/test_tractogram_filter_by_length.py
Due: Scripts

fix: pep8
  scripts/tests/test_tractogram_filter_by_length.py
Due: Scripts

update tests
  .github/workflows/test.yml
  requirements.txt
  scripts/tests/test_aodf_metrics.py
Due: Scripts

connectivity math: did not check that ref_matrix exist. using load_matrix
  scripts/scil_connectivity_math.py
Due: Scripts

use only one process
  scripts/tests/test_aodf_metrics.py
Due: Scripts

pep8
  scilpy/utils/metrics_tools.py
  scilpy/viz/plot.py
Due: Library

fix data shape assertion so it recognizes dps
  scilpy/io/hdf5.py
Due: Library

Prototype. Bad result and full of prints.
  scilpy/gradients/bvec_bval_tools.py
  scripts/scil_gradients_validate_sphere.py
Due: Scripts, Library

add version string
  scilpy/version.py
Due: Library

fix: name of file that already exists
  scripts/tests/test_tractogram_filter_by_length.py
Due: Scripts

Fix common edges mask
  scripts/scil_connectivity_compute_pca.py
Due: Scripts

chmod scripts + update config for parallel test
  .github/workflows/test.yml
  pytest.ini
  requirements.txt
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
  scripts/scil_connectivity_compute_simple_matrix.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/scil_viz_tractogram_collisions.py
Due: Scripts, Library

Fix pep8
  scripts/scil_connectivity_compute_pca.py
Due: Scripts

Fixing bug
  scripts/scil_gradients_generate_sampling.py
Due: Scripts

BF - fixed voxel bundary conditions in uncompress streamlines
  scilpy/tractograms/uncompress.pyx
Due: Library

pep8 and merge
  scilpy/tractanalysis/distance_to_centroid.py
Due: Library

implement json bbox
  scilpy/io/fetcher.py
  scilpy/utils/spatial.py
  scripts/scil_volume_crop.py
  scripts/tests/test_volume_crop.py
Due: Scripts, Library

[VIS] Fury upcoming deprecated call Fixes #1059
  scilpy/io/fetcher.py
  scilpy/viz/backends/fury.py
  scripts/tests/test_viz_volume_screenshot.py
Due: Scripts, Library

Small update of read_bvals_bvecs
  scripts/scil_viz_gradients_screenshot.py
Due: Scripts

connectivity filter: add ref. Fix logging. Simplify
  scripts/scil_connectivity_filter.py
Due: Scripts

Remove quicktools.pyx
  docs/source/fake_files/quick_tools.py
  scilpy/tractanalysis/quick_tools.pyx
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/tests/test_tractogram_cut_streamlines.py
  setup.py
Due: Scripts, Library

Add language level
  scilpy/tractanalysis/streamlines_metrics.pyx
  scilpy/tractanalysis/voxel_boundary_intersection.pyx
  scilpy/tractograms/uncompress.pyx
Due: Library

Remove quick_tools from doc
  docs/source/modules/scilpy.tractanalysis.rst
Due: none

fix pep8
  scilpy/utils/spatial.py
Due: Library

Test triu_connectivity from endpoints
  scilpy/connectivity/connectivity.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

fix pep8
  scripts/scil_connectivity_filter.py
Due: Scripts

First test matrix_tool
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

Set wraparound to True in sections with negative indexing
  scilpy/tractanalysis/voxel_boundary_intersection.pyx
  scilpy/tractograms/uncompress.pyx
Due: Library

Add macro to disable deprecated numpy API
  setup.py
Due: none

add version p3
  scripts/scil_NODDI_maps.py
  scripts/scil_NODDI_priors.py
  scripts/scil_freewater_maps.py
  scripts/scil_frf_mean.py
  scripts/scil_frf_memsmt.py
  scripts/scil_frf_msmt.py
  scripts/scil_frf_set_diffusivities.py
  scripts/scil_frf_ssst.py
  scripts/scil_gradients_apply_transform.py
  scripts/scil_gradients_convert.py
  scripts/scil_gradients_generate_sampling.py
  scripts/scil_gradients_modify_axes.py
  scripts/scil_gradients_normalize_bvecs.py
  scripts/scil_gradients_round_bvals.py
  scripts/scil_gradients_validate_correct.py
  scripts/scil_gradients_validate_correct_eddy.py
  scripts/scil_header_print_info.py
  scripts/scil_header_validate_compatibility.py
  scripts/scil_json_convert_entries_to_xlsx.py
  scripts/scil_json_harmonize_entries.py
  scripts/scil_json_merge_entries.py
  scripts/scil_labels_combine.py
  scripts/scil_labels_dilate.py
  scripts/scil_labels_from_mask.py
  scripts/scil_labels_remove.py
  scripts/scil_labels_split_volume_by_ids.py
  scripts/scil_labels_split_volume_from_lut.py
  scripts/scil_lesions_generate_nawm.py
  scripts/scil_lesions_info.py
  scripts/scil_mrds_metrics.py
  scripts/scil_mrds_select_number_of_tensors.py
  scripts/scil_mti_adjust_B1_header.py
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts

ENH: remote sft._data usage
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/viz/color.py
  scripts/scil_tractogram_assign_custom_color.py
  scripts/scil_tractogram_assign_uniform_color.py
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts, Library

DOC - rename uncompress fct to streamlines_to_voxel_coordinates
  docs/source/fake_files/uncompress.py
  scilpy/tractanalysis/connectivity_segmentation.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
  scilpy/tractograms/uncompress.pyx
  scripts/scil_tractogram_segment_connections_from_labels.py
Due: Scripts, Library

PEP8
  setup.py
Due: none

pep8
  scripts/scil_gradients_round_bvals.py
  scripts/scil_gradients_validate_correct_eddy.py
  scripts/scil_labels_remove.py
Due: Scripts

PEP8!
  setup.py
Due: none

Starting new script
  scilpy/gradients/gen_gradient_sampling.py
  scripts/scil_gradients_validate_sampling.py
Due: Scripts, Library

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
