Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

FIX: pep8
  scilpy/tractograms/dps_and_dpp_management.py
Due: Library

check if input are compatible
  scripts/scil_NODDI_maps.py
Due: Scripts

Update scil_bundle_compute_endpoints_map.py
  scripts/scil_bundle_compute_endpoints_map.py
Due: Scripts

ENH: more tests to appease codecov gods + docstring
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
Due: Library

FIX: pep8 spaces comments
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
Due: Library

Update scil_NODDI_maps.py
  scripts/scil_NODDI_maps.py
Due: Scripts

FIX: comments
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
  scilpy/viz/color.py
Due: Library

add version string
  scilpy/version.py
Due: Library

allow extra option if overwrite
  scilpy/io/utils.py
  scripts/scil_dwi_prepare_eddy_command.py
  scripts/scil_dwi_prepare_topup_command.py
Due: Scripts, Library

first modifications with explicit arguments
  scilpy/image/volume_operations.py
  scilpy/io/deprecator.py
  scilpy/tracking/utils.py
Due: Library

Adding new check_b0_threshold function
  scripts/scil_gradients_validate_sampling.py
Due: Scripts

add an option to cut streamlines between blobs from labels without any point in the roi
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts, Library

fix name and add tests
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
  scripts/tests/test_tractogram_cut_streamlines.py
Due: Scripts, Library

fix pep8
  scripts/tests/test_tractogram_cut_streamlines.py
Due: Scripts

fix default values
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

bids_validate func get_data -> changed clean: Boolean definition from set -> true
  scripts/scil_bids_validate.py
Due: Scripts

fix cut between labels
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_tractogram_cut_streamlines.py
  scripts/tests/test_tractogram_cut_streamlines.py
Due: Scripts, Library

fix when all none
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

Pass single_value as an argument instead of a file - tested + pep8
  scripts/scil_tractogram_dps_math.py
  scripts/tests/test_tractogram_dps_math.py
Due: Scripts

Clarify doc in fibertube_scoring
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

Support .tck for commit
  scripts/scil_tractogram_commit.py
Due: Scripts

Fix order of folder creation
  scripts/scil_tractogram_segment_connections_from_labels.py
  scripts/tests/test_tractogram_segment_connections_from_labels.py
Due: Scripts

connectivity math: did not check that ref_matrix exist. using load_matrix
  scripts/scil_connectivity_math.py
Due: Scripts

Fix empty case
  scripts/scil_connectivity_filter.py
Due: Scripts

connectivity filter: add ref. Fix logging. Simplify
  scripts/scil_connectivity_filter.py
Due: Scripts

Graph measures ok. Making mask binary
  scripts/scil_connectivity_graph_measures.py
Due: Scripts

fix pep8
  scripts/scil_connectivity_filter.py
Due: Scripts

See coverage from scripts tests only
  pytest.ini
Due: none

remove scripts from tests
  pytest.ini
Due: none

NF - allow for multiple metrics input
  scripts/scil_volume_stats_in_labels.py
Due: Scripts

RF - removed the roi dict if a single ROI is used
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

RF - change variable names from mask to roi
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

DOC - updated script documentation
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

TST - updated tests, pep8
  scripts/scil_volume_stats_in_ROI.py
  scripts/scil_volume_stats_in_labels.py
  scripts/tests/test_volume_stats_in_ROI.py
  scripts/tests/test_volume_stats_in_labels.py
Due: Scripts

NF - added add_json_args to the arguments, format the output json
  scripts/scil_volume_stats_in_ROI.py
  scripts/scil_volume_stats_in_labels.py
Due: Scripts

NF - added input options for multiple ROI masks
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

TST - Scripts inputs
  scripts/tests/test_volume_stats_in_ROI.py
  scripts/tests/test_volume_stats_in_labels.py
Due: Scripts

BF - fixed errenous path when using metrics_dir
  scripts/scil_volume_stats_in_ROI.py
  scripts/scil_volume_stats_in_labels.py
Due: Scripts

DOC
  scripts/scil_volume_stats_in_ROI.py
  scripts/scil_volume_stats_in_labels.py
Due: Scripts

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
