Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

Add mask in test viz_fodf for more coverage
  scripts/scil_viz_fodf.py
  scripts/tests/test_viz_fodf.py
Due: Scripts

viz_volume_screenshot: Adding options for more coverage
  scilpy/io/utils.py
  scripts/scil_viz_volume_screenshot.py
  scripts/tests/test_viz_volume_screenshot.py
Due: Scripts, Library

apply_olo not used anywhere. Deleting
  scilpy/connectivity/matrix_tools.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

Fix missing casting from list to ArraySequence
  scilpy/connectivity/connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

WIP. CORRECTING ERROR
  scilpy/connectivity/connectivity.py
  scilpy/connectivity/tests/test_connectivity.py
Due: Library

Tried adding a test for vix_fodf. ERROR. Help?
  scripts/tests/test_viz_fodf.py
Due: Scripts

Charles comments and docstring
  scilpy/tractanalysis/distance_to_centroid.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

Fix tests
  scripts/scil_bundle_label_map.py
  scripts/tests/test_bundle_label_map.py
Due: Scripts

WIP: Proof of concept for ML in scilpy - LabelSeg
  scilpy/ml/labelseg/encodings.py
  scilpy/ml/labelseg/labelsegnet.py
  scilpy/ml/labelseg/utils.py
  scilpy/ml/utils.py
  scripts/scil_labelseg.py
  scripts/tests/test_labelseg.py
Due: Scripts, Library

FIX: opt dep
  scilpy/ml/utils.py
Due: Library

Fix list of list
  scilpy/image/labels.py
Due: Library

Adjusting MTI scripts
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
Due: Scripts

FIX: model loading
  scilpy/ml/labelseg/utils.py
  scripts/scil_labelseg.py
Due: Scripts, Library

FIX: model loading
  scilpy/ml/labelseg/utils.py
  scilpy/tractanalysis/reproducibility_measures.py
  scripts/scil_bundle_label_map.py
  scripts/scil_labelseg.py
  scripts/scil_volume_count_non_zero_voxels.py
Due: Scripts, Library

ENH: revert unwanted changes
  scilpy/tractanalysis/reproducibility_measures.py
  scripts/scil_bundle_label_map.py
  scripts/scil_volume_count_non_zero_voxels.py
Due: Scripts, Library

FIX: ckpt + zenodo
  scilpy/ml/labelseg/utils.py
  scripts/scil_labelseg.py
Due: Scripts, Library

New coloring scripts
  requirements.txt
  scilpy/io/utils.py
  scripts/scil_surface_assign_custom_color.py
  scripts/scil_surface_assign_uniform_color.py
  scripts/scil_surface_convert.py
Due: Scripts, Library

FIX: device usage
  scripts/scil_labelseg.py
Due: Scripts

code cleaning
  scripts/scil_tractogram_cut_streamlines.py
  scripts/scil_tractogram_filter_by_roi.py
  scripts/scil_viz_bundle.py
  scripts/scil_viz_gradients_screenshot.py
  scripts/scil_viz_tractogram_seeds_3d.py
  scripts/scil_volume_math.py
Due: Scripts

code cleaning
  scripts/scil_tractogram_segment_connections_from_labels.py
Due: Scripts

ENH: some cleanup, need to add docstring
  scilpy/ml/labelseg/encodings.py
  scilpy/ml/labelseg/labelsegnet.py
  scilpy/ml/labelseg/predict.py
  scilpy/ml/labelseg/utils.py
  scilpy/ml/utils.py
  scripts/scil_labelseg.py
Due: Scripts, Library

Update scilpy/viz/color.py
  scilpy/viz/color.py
Due: Library

Deleted script: fix_trk
  scripts/legacy/tests/test_legacy_scripts.py
Due: Scripts

Revert cut, copilot issues?
  scilpy/tractograms/streamline_operations.py
Due: Library

Fix change to sft spaces
  scilpy/tractograms/streamline_and_mask_operations.py
Due: Library

ENH: Doc + refactor complete, tests need to be fixed
  scilpy/ml/labelseg/predict.py
  scilpy/ml/labelseg/utils.py
  scripts/scil_labelseg.py
  scripts/tests/test_labelseg.py
Due: Scripts, Library

FIX: various
  scilpy/ml/labelseg/utils.py
  scripts/scil_labelseg.py
Due: Scripts, Library

FIX: ckpt download fixes
  scilpy/ml/labelseg/utils.py
  scripts/scil_labelseg.py
Due: Scripts, Library

ENH: half-precision to run on laptops
  scilpy/ml/labelseg/predict.py
  scripts/scil_labelseg.py
Due: Scripts, Library

FIX: address comments
  scilpy/ml/labelseg/labelsegnet.py
  scilpy/ml/labelseg/predict.py
  scilpy/ml/utils.py
Due: Library

ENH: refactoring + docstring
  scilpy/ml/labelseg/attention.py
  scilpy/ml/labelseg/labelsegnet.py
Due: Library

ENH: optional tests
  conftest.py
  scripts/tests/test_labelseg.py
Due: Scripts

FIX: exclude help test
  scripts/tests/test_labelseg.py
Due: Scripts

FIX: comments + cut
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/streamline_operations.py
  scilpy/viz/color.py
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts, Library

FIX: tests + per-point
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
Due: Library

ENH: simplify cut invalid
  scilpy/tractograms/streamline_operations.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

Improve intersection volume estimation. Now possible to track at extreme resolution. Test + pep8.
  scilpy/image/volume_space_management.py
  scilpy/tracking/fibertube_utils.py
Due: Library

Improve collision filtering. From random streamlines to random segments. Better out_colliding param. test + pep8.
  scilpy/tractograms/intersection_finder.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts, Library

Lied in previous commit. Here's the test that comes with it.
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts

version
  requirements.txt
Due: none

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
