Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

fix the issue with colorbar value display in visualization
  scilpy/viz/color.py
Due: Library

Adding test for colinearity
  scripts/scil_gradients_validate_sampling.py
Due: Scripts

fix_1_comment
  scripts/scil_bundle_mean_fixel_afd.py
Due: Scripts

answer_PK_comments
  scripts/scil_aodf_metrics.py
  scripts/scil_bundle_mean_fixel_afd.py
  scripts/scil_bundle_mean_fixel_afd_from_hdf5.py
  scripts/scil_bundle_shape_measures.py
  scripts/scil_connectivity_compare_populations.py
  scripts/scil_connectivity_compute_pca.py
  scripts/scil_dwi_prepare_eddy_command.py
Due: Scripts

answering PK comments
  scripts/scil_NODDI_maps.py
  scripts/scil_NODDI_priors.py
  scripts/scil_freewater_maps.py
  scripts/scil_frf_ssst.py
  scripts/scil_gradients_generate_sampling.py
  scripts/scil_labels_combine.py
  scripts/scil_labels_dilate.py
  scripts/scil_labels_remove.py
Due: Scripts

Remove obsolete warning
  scripts/scil_tractogram_commit.py
Due: Scripts

fix more positionnal arguments
  scilpy/denoise/asym_filtering.py
  scilpy/image/volume_b0_synthesis.py
  scilpy/image/volume_operations.py
  scilpy/reconst/bingham.py
  scilpy/reconst/fodf.py
  scilpy/reconst/frf.py
  scilpy/reconst/sh.py
  scilpy/reconst/tests/test_fodf.py
  scilpy/segment/recobundlesx.py
  scilpy/tracking/propagator.py
  scilpy/tracking/utils.py
  scilpy/tractanalysis/afd_along_streamlines.py
  scilpy/tractanalysis/reproducibility_measures.py
  scilpy/tractograms/tractogram_operations.py
  scilpy/viz/gradients.py
  scilpy/viz/slice.py
  scripts/scil_bundle_clean_qbx_clusters.py
  scripts/scil_bundle_generate_priors.py
  scripts/scil_dki_metrics.py
  scripts/scil_dti_metrics.py
  scripts/scil_dwi_extract_b0.py
  scripts/scil_dwi_powder_average.py
  scripts/scil_dwi_to_sh.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/scil_fodf_memsmt.py
  scripts/scil_fodf_msmt.py
  scripts/scil_fodf_ssst.py
  scripts/scil_qball_metrics.py
  scripts/scil_sh_convert.py
  scripts/scil_sh_to_sf.py
  scripts/scil_tracking_local.py
  scripts/scil_tracking_pft.py
  scripts/scil_viz_bundle_screenshot_mni.py
  scripts/scil_viz_dti_screenshot.py
  scripts/tests/test_fibertube_score_tractogram.py
  scripts/tests/test_fibertube_tracking.py
  scripts/tests/test_tracking_local.py
  scripts/tests/test_tractogram_filter_collisions.py
Due: Scripts, Library

fix pep8
  scilpy/denoise/asym_filtering.py
  scilpy/image/volume_operations.py
  scilpy/reconst/frf.py
  scilpy/reconst/sh.py
  scilpy/segment/recobundlesx.py
  scilpy/tractanalysis/afd_along_streamlines.py
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_bundle_clean_qbx_clusters.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/tests/test_tracking_local.py
Due: Scripts, Library

Ignore Viz in coverage
  codecov.yml
Due: none

Adding save option, fixing deprecated issue, and adding positive message
  scilpy/viz/gradients.py
  scripts/scil_gradients_validate_sampling.py
Due: Scripts, Library

Fixing assert_outputs_exist and removing Path
  scripts/scil_gradients_validate_sampling.py
Due: Scripts

fix tests and some forgotten positional arguments
  scilpy/denoise/asym_filtering.py
  scilpy/image/volume_operations.py
  scilpy/io/btensor.py
  scilpy/tractanalysis/todi.py
  scripts/scil_aodf_metrics.py
  scripts/scil_fodf_metrics.py
  scripts/scil_sh_to_sf.py
  scripts/scil_tracking_local.py
  scripts/scil_viz_bingham_fit.py
  scripts/scil_viz_fodf.py
  scripts/scil_viz_gradients_screenshot.py
  scripts/tests/test_tracking_local.py
Due: Scripts, Library

fix colorbar with nb_value
  scilpy/io/utils.py
  scripts/scil_NODDI_maps.py
  scripts/scil_dwi_prepare_eddy_command.py
  scripts/scil_dwi_prepare_topup_command.py
Due: Scripts, Library

Add new test for dps_math: Import single value with non-array value.
  scripts/tests/test_tractogram_dps_math.py
Due: Scripts

hopefully last commit
  scilpy/tracking/propagator.py
  scilpy/tracking/tracker.py
Due: Library

answer PK comment
  scripts/scil_gradients_generate_sampling.py
Due: Scripts

add missing import
  scripts/scil_connectivity_filter.py
Due: Scripts

Working in 3.12
  .python-version
  README.md
  pyproject.toml
  requirements.txt
  scilpy/io/utils.py
  scilpy/tractanalysis/tests/test_reproducibility_measures.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
  scilpy/tractograms/tests/test_tractogram_operations.py
  scilpy/tractograms/tractogram_operations.py
  scilpy/utils/scilpy_bot.py
  scilpy/utils/tests/test_scilpy_bot.py
  scripts/scil_surface_convert.py
Due: Scripts, Library

Optimize code
  scripts/scil_gradients_validate_sampling.py
Due: Scripts

Update scripts/scil_gradients_validate_sampling.py
  scripts/scil_gradients_validate_sampling.py
Due: Scripts

add tabs to references
  scripts/scil_aodf_metrics.py
Due: Scripts

fix some pep8
  scilpy/io/deprecator.py
Due: Library

revert change
  scripts/scil_dwi_prepare_eddy_command.py
Due: Scripts

fix colobar with nb_value
  scilpy/viz/color.py
Due: Library

Delete script fix_trk
  scripts/legacy/scil_fix_dsi_studio_trk.py
  scripts/scil_tractogram_fix_trk.py
  scripts/tests/test_tractogram_fix_trk.py
Due: Scripts

pep8
  scilpy/tractanalysis/distance_to_centroid.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

pep8 and merge
  scilpy/segment/voting_scheme.py
Due: Library

DOC - rename uncompress fct to streamlines_to_voxel_coordinates
  docs/source/fake_files/uncompress.py
  scilpy/tractanalysis/connectivity_segmentation.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
  scilpy/tractograms/uncompress.pyx
  scripts/scil_tractogram_segment_connections_from_labels.py
Due: Scripts, Library

PEP8
  scilpy/tractograms/tests/test_streamline_and_mask_operations.py
Due: Library

BF - fix import after rebase
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

Fix indices
  scilpy/segment/voting_scheme.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts, Library

BF - fixed intermidiate voxel identification (introduced by #1098)
  scilpy/tractograms/uncompress.pyx
Due: Library

Do not ignore legacy
  pytest.ini
Due: none

Add test for volume_metrics
  scilpy/image/tests/test_volume_metrics.py
  scilpy/image/volume_metrics.py
  scripts/scil_denoising_nlmeans.py
  scripts/tests/test_denoising_nlmeans.py
Due: Scripts, Library

Test triu_connectivity from endpoints
  scilpy/connectivity/connectivity.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

First test matrix_tool
  scilpy/connectivity/matrix_tools.py
  scilpy/connectivity/tests/test_connectivity.py
  scilpy/connectivity/tests/test_matrix_tools.py
Due: Library

viz.backends.fury: ignore cov + fix pep warnings
  scilpy/viz/backends/fury.py
Due: Library

viz.backends.pil: delete method not used anywhere. Fix pep warnings
  scilpy/viz/backends/pil.py
Due: Library

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
