Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

answer most of Emanuelle's comments
  scilpy/io/utils.py
  scilpy/utils/util.py
  scilpy/viz/backends/fury.py
  scilpy/viz/screenshot.py
  scilpy/viz/slice.py
  scilpy/viz/utils.py
  scripts/scil_bingham_visualize.py
  scripts/scil_btensor_metrics.py
  scripts/scil_dwi_compute_snr.py
  scripts/scil_fodf_visualize.py
  scripts/scil_script_rename.py
  scripts/scil_tractogram_cut_streamlines.py
  scripts/scil_volume_screenshot.py
  scripts/scil_volume_screenshot_mosaic.py
Due: Scripts, Library

pep8 fix
  scilpy/viz/backends/pil.py
Due: Library

improve error message and pep8
  scilpy/io/image.py
Due: Library

pep8 fixes
  scilpy/viz/backends/pil.py
  scilpy/viz/backends/vtk.py
  scilpy/viz/screenshot.py
Due: Library

renaming and cleaning
  scilpy/io/utils.py
  scilpy/viz/backends/pil.py
  scilpy/viz/screenshot.py
  scripts/scil_screenshot_volume.py
  scripts/scil_screenshot_volume_mosaic_overlap.py
  scripts/scil_visualize_fodf.py
Due: Scripts, Library

doc and fixes
  scilpy/viz/color.py
  scripts/scil_bundle_diameter.py
Due: Scripts, Library

fix mosaic
  scilpy/io/utils.py
  scilpy/viz/backends/pil.py
  scilpy/viz/screenshot.py
  scripts/scil_volume_screenshot_mosaic.py
Due: Scripts, Library

update with the master
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/viz/backends/fury.py
  scilpy/viz/color.py
  scilpy/viz/utils.py
  scripts/scil_bundle_label_map.py
  scripts/scil_tractogram_assign_custom_color.py
  scripts/scil_tractogram_assign_uniform_color.py
Due: Scripts, Library

pep8
  scilpy/tractograms/streamline_operations.py
Due: Library

move out of utils.util plus cleanup
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/utils.py
  scilpy/image/volume_operations.py
  scilpy/image/volume_space_management.py
  scilpy/io/utils.py
  scilpy/reconst/utils.py
  scilpy/tractograms/streamline_operations.py
  scilpy/utils/spatial.py
  scilpy/utils/tests/test_util.py
  scilpy/utils/util.py
  scilpy/viz/backends/fury.py
  scilpy/viz/screenshot.py
  scilpy/viz/utils.py
  scripts/scil_bingham_visualize.py
  scripts/scil_bundle_screenshot_mni.py
  scripts/scil_dti_screenshot.py
  scripts/scil_fodf_visualize.py
  scripts/scil_tractogram_segment_one_bundles.py
  scripts/scil_volume_crop.py
  scripts/scil_volume_screenshot.py
Due: Scripts, Library

move utils.util into init for now, it's a good place for it
  scilpy/image/volume_math.py
  scilpy/io/image.py
  scilpy/utils/__init__.py
  scilpy/utils/util.py
  scripts/scil_connectivity_math.py
  scripts/scil_json_harmonize_entries.py
  scripts/scil_volume_math.py
Due: Scripts, Library

add comment to legacy, fix pep8
  scilpy/viz/gradients.py
  scilpy/viz/legacy/__init__.py
  scilpy/viz/legacy/chord_chart.py
  scripts/scil_bingham_visualize.py
  scripts/scil_bundle_diameter.py
  scripts/scil_connectivity_visualize.py
Due: Scripts, Library

answer charles comments, and others
  scilpy/io/utils.py
  scilpy/tractograms/streamline_operations.py
  scilpy/utils/spatial.py
  scilpy/utils/tests/__init__.py
  scilpy/utils/tests/test_util.py
  scilpy/viz/backends/vtk.py
Due: Library

remove todos
  scilpy/viz/gradients.py
Due: Library

Delete filter_tractogram_data. Confirmed by Francois. Simply use sft[idx]
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_filter_by_anatomy.py
Due: Scripts, Library

Create official compression arg
  scilpy/io/utils.py
  scilpy/tracking/utils.py
  scripts/scil_tracking_pft.py
  scripts/scil_tractogram_cut_streamlines.py
  scripts/scil_tractogram_smooth.py
Due: Scripts, Library

extract u-shape: ok!
  scilpy/tractanalysis/bundle_operations.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_extract_ushape.py
Due: Scripts, Library

detect_loops: clarify argparser. Add --no_empty option
  scilpy/io/utils.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_extract_ushape.py
  scripts/tests/test_tractogram_detect_loops.py
Due: Scripts, Library

tractogram_dpp_math: checks before loading. More test coverage
  scripts/scil_tractogram_dpp_math.py
  scripts/tests/test_tractogram_dpp_math.py
Due: Scripts

Fix pep8
  scilpy/tracking/utils.py
Due: Library

fixes
  scripts/tests/test_surface_flip.py
  scripts/tests/test_tracking_local.py
Due: Scripts

New method to save only if not empty
  scilpy/io/streamlines.py
  scripts/scil_tractogram_apply_transform.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_extract_ushape.py
  scripts/scil_tractogram_filter_by_length.py
  scripts/scil_tractogram_filter_by_orientation.py
  scripts/scil_tractogram_filter_by_roi.py
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts, Library

Fix failed tests
  scilpy/io/utils.py
Due: Library

Answer Phil's comment
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

Scil_tractogram_commit: Cleaning. Tests pass
  scripts/scil_tractogram_commit.py
Due: Scripts

Use new hdf5 methods everywhere
  scripts/scil_bundle_mean_fixel_afd_from_hdf5.py
  scripts/scil_connectivity_compute_matrices.py
  scripts/scil_connectivity_hdf5_average_density_map.py
  scripts/scil_tractogram_apply_transform_to_hdf5.py
  scripts/scil_tractogram_convert_hdf5_to_trk.py
  scripts/scil_tractogram_segment_bundles_for_connectivity.py
  scripts/tests/test_tractogram_commit.py
Due: Scripts

tractogram_compute_density_map: OK!
  scripts/scil_tractogram_compute_density_map.py
Due: Scripts

convert_hdf5_to_trk: merged --save_empty and --labels_list
  scilpy/io/utils.py
  scripts/scil_tractogram_convert_hdf5_to_trk.py
Due: Scripts, Library

tractogram_convert: ok!
  scripts/scil_tractogram_commit.py
  scripts/scil_tractogram_convert.py
Due: Scripts

tractogram_compute_todi: add arg_group. move normalize out of if
  scripts/scil_tractogram_compute_TODI.py
  scripts/scil_tractogram_compute_density_map.py
  scripts/tests/test_tractogram_compute_TODI.py
Due: Scripts

tractogram_compress: ok!
  scilpy/io/utils.py
  scripts/scil_tractogram_compress.py
Due: Scripts, Library

convert_hdf5_to_trk: Add more test coverage
  scilpy/io/hdf5.py
  scripts/scil_tractogram_convert_hdf5_to_trk.py
  scripts/tests/test_tractogram_convert_hdf5_to_trk.py
Due: Scripts, Library

Fix failed tests
  scilpy/io/hdf5.py
Due: Library

Working prototype
  scilpy/viz/utils.py
  scripts/scil_tractogram_assign_custom_color.py
  scripts/scil_tractogram_assign_uniform_color.py
Due: Scripts, Library

volume_apply_transform: avoid loading fdata twice. Move warning
  scilpy/image/volume_operations.py
  scripts/scil_volume_apply_transform.py
Due: Scripts, Library

Encapsulate volume_b0_synthesis
  scilpy/image/volume_b0_synthesis.py
  scripts/scil_volume_b0_synthesis.py
Due: Scripts, Library

pytest skipping --help test. Fixing. Local run: fix t1_data (>0 but negative data)
  scilpy/image/volume_b0_synthesis.py
  scripts/scil_volume_b0_synthesis.py
  scripts/tests/test_volume_b0_synthesis.py
Due: Scripts, Library

Add more coverage for count_non_zero_voxel
  scripts/scil_volume_count_non_zero_voxels.py
  scripts/tests/test_volume_count_non_zero_voxels.py
Due: Scripts

volume_crop: add more coverage to test
  scripts/scil_volume_crop.py
  scripts/tests/test_volume_crop.py
Due: Scripts
