Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Update .python-version
  .python-version
Due: none

Update .github/workflows/publish_to_testpypi.yml
  .github/workflows/publish_to_testpypi.yml
Due: none

update freeze action and fix publish to testpypi
  .github/workflows/freeze_requirements.yml
  .github/workflows/publish_to_testpypi.yml
  .github/workflows/test.yml
Due: none

freezze on release only
  .github/workflows/freeze_requirements.yml
Due: none

fix typo
  .github/workflows/publish_to_testpypi.yml
Due: none

Update scilpy/tractograms/intersection_finder.py
  scilpy/tractograms/intersection_finder.py
Due: Library

Update cibuildwheel.toml
  cibuildwheel.toml
Due: none

fix instll
  .python-version
  cibuildwheel.toml
  setup.py
Due: none

remove python 3.11
  .python-version
  cibuildwheel.toml
Due: none

Update publish_to_testpypi.yml
  .github/workflows/publish_to_testpypi.yml
Due: none

Add test for volume registration
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
  scripts/scil_header_print_info.py
Due: Scripts, Library

Add verification of compute_snr with no mask
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
  scripts/scil_dwi_compute_snr.py
Due: Scripts, Library

Correlation test. (Major refactor!) + simplify tests
  scilpy/image/tests/test_volume_math.py
  scilpy/image/volume_math.py
  scilpy/io/utils.py
  scilpy/tractanalysis/reproducibility_measures.py
  scripts/scil_bundle_label_map.py
  scripts/scil_volume_math.py
Due: Scripts, Library

Add test for mask_default_cube
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
  scripts/scil_tractogram_fix_trk.py
Due: Scripts, Library

Finish docstring in compute_snr
  scilpy/image/volume_operations.py
Due: Library

Fix pep8
  scilpy/image/tests/test_volume_math.py
Due: Library

Fix test
  scilpy/image/tests/test_volume_math.py
Due: Library

Answer comments
  scilpy/image/volume_operations.py
  scripts/scil_dwi_compute_snr.py
Due: Scripts, Library

Don't use deprecated script
  scripts/tests/test_volume_crop.py
Due: Scripts

Fetch data in unit test
  scilpy/tractanalysis/tests/test_reproducibility_measures.py
Due: Library

Fix origin in reproducibility. Fix out data type in _corrcoef
  scilpy/image/volume_math.py
  scilpy/tractanalysis/reproducibility_measures.py
  scilpy/tractanalysis/tests/test_reproducibility_measures.py
  scripts/scil_tractogram_pairwise_comparison.py
Due: Scripts, Library

Fix tests, second pass
  scilpy/image/tests/test_volume_math.py
  scilpy/image/volume_math.py
  scilpy/tractanalysis/reproducibility_measures.py
  scripts/scil_bundle_label_map.py
  scripts/scil_tractogram_pairwise_comparison.py
Due: Scripts, Library

Add test for get_ventricles_max_fodf
  scilpy/reconst/fodf.py
  scilpy/reconst/tests/test_fodf.py
  scripts/scil_fodf_max_in_ventricles.py
Due: Scripts, Library

Add ded ssst_frf
  scilpy/reconst/frf.py
  scilpy/reconst/tests/test_frf.py
  scripts/tests/test_frf_ssst.py
Due: Scripts, Library

Add test replace frf
  scilpy/reconst/frf.py
  scilpy/reconst/tests/test_frf.py
  scripts/tests/test_frf_set_diffusivities.py
Due: Scripts, Library

Answer Phil's comments
  scilpy/reconst/fodf.py
  scilpy/reconst/frf.py
Due: Library

Fix_trk: more checks. dsi_studio: invalid management done twice. Saving twice.
  scripts/scil_tractogram_fix_trk.py
Due: Scripts

Fix_trk: WIP. WAITING FOR ARNAUD'S FIX. SEE OUR DISCUSSION TEAMS
  scripts/scil_tractogram_fix_trk.py
Due: Scripts

fix_trk: added fake tests for coverage
  scripts/scil_tractogram_fix_trk.py
  scripts/tests/test_tractogram_fix_trk.py
Due: Scripts

Update version.py
  scilpy/version.py
Due: Library

First working version
  scripts/scil_tractogram_convert_hdf5_to_trk.py
Due: Scripts

Add test to showcase error
  scripts/scil_volume_resample.py
  scripts/tests/test_volume_resample.py
Due: Scripts

Fix verification of header
  scilpy/image/volume_operations.py
  scripts/scil_volume_resample.py
Due: Scripts, Library

Add unit tests. Fix nomenclature: res meant image shape
  scilpy/image/tests/test_volume_operations.py
  scilpy/image/volume_operations.py
  scripts/scil_volume_resample.py
Due: Scripts, Library

Answer PK's comments
  scilpy/image/volume_operations.py
  scripts/scil_volume_resample.py
Due: Scripts, Library

forgot about adding
  scripts/scil_tractogram_convert_trk_to_hdf5.py
Due: Scripts

add paramsub_sphere to tracking_local_dev
  scilpy/tracking/propagator.py
  scripts/scil_tracking_local_dev.py
  scripts/tests/test_tracking_local_dev.py
Due: Scripts, Library
