Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

volume_stats_in_labels: reformat
  scilpy/image/labels.py
  scilpy/image/tests/test_labels.py
  scripts/scil_volume_stats_in_labels.py
Due: Scripts, Library

volume_resample: ok
  scripts/scil_volume_resample.py
Due: Scripts

volume_outliers_ransac: cleaning
  scilpy/image/tests/test_volume_operations.py
Due: Library

volume_stats_in_labels: add execution test
  scripts/tests/test_volume_stats_in_labels.py
Due: Scripts

Use new asser_headers_compatible in volumes scripts
  scripts/scil_volume_resample.py
  scripts/scil_volume_stats_in_labels.py
Due: Scripts

volume_stats_in_roi: simplify
  scilpy/utils/metrics_tools.py
  scripts/scil_volume_stats_in_ROI.py
  scripts/scil_volume_stats_in_labels.py
Due: Scripts, Library

Fix failed crop test
  scripts/tests/test_volume_crop.py
Due: Scripts

Answer Phil's comment
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts

volume_outliers_ransac: cleaning
  scilpy/image/volume_operations.py
  scripts/scil_volume_remove_outliers_ransac.py
Due: Scripts, Library

detect_loops: clarify argparser. Add --no_empty option
  scilpy/io/utils.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_extract_ushape.py
  scripts/tests/test_tractogram_detect_loops.py
Due: Scripts, Library

tractogram_dpp_math: checks before loading. More test coverage
  scripts/scil_tractogram_dpp_math.py
  scripts/tests/test_tractogram_dpp_math.py
Due: Scripts

Fix pep8
  scripts/scil_tractogram_detect_loops.py
Due: Scripts

extract u-shape: ok!
  scilpy/tractanalysis/bundle_operations.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_extract_ushape.py
Due: Scripts, Library

Fix failed tests
  scilpy/io/utils.py
Due: Library

Fix pep8
  scilpy/tracking/utils.py
Due: Library

New method to save only if not empty
  scilpy/io/streamlines.py
  scripts/scil_tractogram_apply_transform.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_extract_ushape.py
  scripts/scil_tractogram_filter_by_length.py
  scripts/scil_tractogram_filter_by_orientation.py
  scripts/scil_tractogram_filter_by_roi.py
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts, Library

Create official compression arg
  scilpy/io/utils.py
  scilpy/tracking/utils.py
  scripts/scil_tracking_pft.py
  scripts/scil_tractogram_cut_streamlines.py
  scripts/scil_tractogram_smooth.py
Due: Scripts, Library

Delete filter_tractogram_data. Confirmed by Francois. Simply use sft[idx]
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_filter_by_anatomy.py
Due: Scripts, Library

More fixes
  scripts/scil_tracking_local.py
  scripts/scil_tracking_local_dev.py
  scripts/scil_tractogram_segment_bundles_for_connectivity.py
  scripts/tests/test_tractogram_project_streamlines_to_map.py
  scripts/tests/test_tractogram_smooth.py
Due: Scripts

Answer Antoine
  scripts/tests/test_tractogram_commit.py
Due: Scripts

Answer Charles' comments
  scilpy/io/hdf5.py
  scripts/scil_tractogram_compute_TODI.py
  scripts/tests/test_tractogram_compute_TODI.py
Due: Scripts, Library

Add test to showcase error mentionned in issue
  scripts/scil_tractogram_uniformize_endpoints.py
  scripts/tests/test_tractogram_uniformize_endpoints.py
Due: Scripts

Fix error from issue 962
  scripts/scil_tractogram_uniformize_endpoints.py
  scripts/tests/test_tractogram_uniformize_endpoints.py
Due: Scripts

Mini-fix documentation
  scilpy/io/streamlines.py
  scilpy/tracking/propagator.py
Due: Library

Fix chunk id + few additions
  scilpy/io/utils.py
  scilpy/tracking/tracker.py
Due: Library

Modifying the BundleSeg reference from arXiv to CDMRI 2023
  scripts/scil_tractogram_segment_bundles.py
Due: Scripts

Answer Charles' comment
  scripts/scil_tractogram_compute_TODI.py
Due: Scripts

Answer Antoine's comments
  scilpy/io/hdf5.py
  scripts/scil_tractogram_compute_TODI.py
  scripts/scil_tractogram_convert_hdf5_to_trk.py
  scripts/scil_tractogram_segment_bundles_for_connectivity.py
Due: Scripts, Library

answer francois comments
  scripts/scil_tractogram_cut_streamlines.py
Due: Scripts

Add blank at EOF
  scilpy/io/utils.py
Due: Library

Remove v_enumerate for later pr
  scilpy/io/utils.py
Due: Library

remove scripts from coverage for testing
  .coveragerc
Due: none

remove scripts from tests
  .coveragerc
  pytest.ini
Due: none

Answer Charles: rename to save_tractogram
  scilpy/io/streamlines.py
  scripts/scil_tractogram_apply_transform.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_extract_ushape.py
  scripts/scil_tractogram_filter_by_length.py
  scripts/scil_tractogram_filter_by_orientation.py
  scripts/scil_tractogram_filter_by_roi.py
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts, Library

Answer Charles: rephrase spline explanation
  scilpy/io/utils.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_tractogram_smooth.py
Due: Scripts, Library

Rename scil_clean_qbx_cluster
  scripts/legacy/scil_clean_qbx_clusters.py
  scripts/legacy/tests/test_legacy_scripts.py
  scripts/scil_bundle_clean_qbx_clusters.py
  scripts/tests/test_bundle_clean_qbx_clusters.py
Due: Scripts

Rename outlier_rejection
  scripts/legacy/scil_outlier_rejection.py
  scripts/legacy/tests/test_legacy_scripts.py
  scripts/scil_bundle_reject_outliers.py
  scripts/tests/test_bundle_reject_outliers.py
Due: Scripts

Add 2 tests
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
  scilpy/viz/utils.py
Due: Library

Add test project map to streamlines
  scilpy/tractograms/dps_and_dpp_management.py
  scilpy/tractograms/tests/test_dps_and_dpp_management.py
Due: Library

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
