Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

Fixing pep8 again
  scripts/scil_bundle_fixel_analysis.py
Due: Scripts

First pass, Maxime comments
  scilpy/tractograms/intersection_finder.py
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts, Library

fix import
  scilpy/viz/color.py
Due: Library

New and improved version
  data/vocabulary.json
  scilpy/utils/scilpy_bot.py
  scilpy/utils/tests/test_scilpy_bot.py
  scripts/scil_search_keywords.py
Due: Scripts, Library

Fix a few mistakes, deleted a file
  scilpy/tractanalysis/bundle_operations.py
  scilpy/tractanalysis/distance_to_centroid.py
  scilpy/utils/streamlines.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

More demo work + fix for tests
  docs/fibertube/DEMO.md
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts

TODOs
  scilpy/tractanalysis/distance_to_centroid.py
Due: Library

Update fury requirements
  requirements.txt
Due: none

Improved RAM usage, speedup min scores retrival, working slider (WIP)
  scilpy/segment/recobundlesx.py
  scilpy/segment/voting_scheme.py
  scripts/scil_tractogram_segment_with_bundleseg.py
Due: Scripts, Library

Update filename
  scilpy/segment/bundleseg.py
  scilpy/segment/voting_scheme.py
  scripts/scil_tractogram_segment_with_bundleseg.py
Due: Scripts, Library

Working scripts for exploring
  requirements.txt
  scilpy/segment/bundleseg.py
  scilpy/segment/voting_scheme.py
  scripts/scil_bundle_explore_bundleseg.py
  scripts/scil_tractogram_segment_with_bundleseg.py
  scripts/tests/test_bundle_explore_bundleseg.py
Due: Scripts, Library

Fix errors in tests
  requirements.txt
  scripts/tests/test_labels_from_mask.py
  scripts/tests/test_volume_stats_in_labels.py
Due: Scripts

Fix import
  scilpy/utils/scilpy_bot.py
  scripts/scil_search_keywords.py
Due: Scripts, Library

Fix pep8
  scilpy/segment/voting_scheme.py
  scilpy/viz/color.py
  scripts/scil_bundle_explore_bundleseg.py
Due: Scripts, Library

Fix corner case for small thr
  scilpy/segment/bundleseg.py
  scilpy/segment/voting_scheme.py
  scripts/scil_tractogram_segment_with_bundleseg.py
Due: Scripts, Library

pep8 fix
  docs/fibertube/reconstruction_metrics.txt
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
  scripts/tests/test_fibertube_tracking.py
Due: Scripts

hotfix json
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts

Demo lab meeting
  scilpy/segment/bundleseg.py
  scilpy/segment/voting_scheme.py
  scripts/scil_tractogram_segment_with_bundleseg.py
Due: Scripts, Library

Final version for testing
  scilpy/segment/voting_scheme.py
Due: Library

Fix test
  scripts/tests/test_denoising_nlmeans.py
Due: Scripts

Revert test back to single process
  scripts/scil_connectivity_compute_matrices.py
  scripts/tests/test_connectivity_compute_matrices.py
Due: Scripts

Small fix
  scilpy/connectivity/connectivity.py
Due: Library

Change test file
  scripts/tests/test_bundle_label_map.py
  scripts/tests/test_compute_bundle_voxel_label_map.py
Due: Scripts

pep8
  scripts/tests/test_bundle_label_map.py
Due: Scripts

return option min_vol_lesion
  scripts/scil_lesions_info.py
Due: Scripts

Put json back in
  scripts/scil_fibertube_score_tractogram.py
  scripts/scil_fibertube_tracking.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts

add header when saving in nifti
  scripts/scil_fodf_ssst.py
Due: Scripts

explicit args
  scripts/scil_fodf_ssst.py
Due: Scripts

Working version and pep8
  scilpy/image/labels.py
  scripts/scil_lesions_harmonize_labels.py
Due: Scripts, Library

Update DEMO.md
  docs/fibertube/DEMO.md
Due: none

update doc
  scripts/scil_fibertube_score_tractogram.py
Due: Scripts

Add possibility of being a IC if we reach the START segment of another fibertube. Not just END.
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

pep8 fix
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
