Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

fix error when bundle has only one streamline
  scripts/scil_bundle_label_map.py
Due: Scripts

add logging error if no bundle to process
  scripts/scil_bundle_label_map.py
Due: Scripts

Add test for volume_metrics
  scilpy/image/tests/test_volume_metrics.py
  scilpy/image/volume_metrics.py
  scripts/scil_denoising_nlmeans.py
  scripts/tests/test_denoising_nlmeans.py
Due: Scripts, Library

Add changes to test
  scripts/tests/test_tractogram_compute_density_map.py
Due: Scripts

Add option for endpoints_map
  scripts/scil_tractogram_compute_density_map.py
Due: Scripts

add color for new bundles if needed
  scripts/scil_tractogram_assign_uniform_color.py
Due: Scripts

ENH: rename labelseg to bundleparc
  scilpy/ml/bundleparc/attention.py
  scilpy/ml/bundleparc/bundleparcnet.py
  scilpy/ml/bundleparc/encodings.py
  scilpy/ml/bundleparc/predict.py
  scilpy/ml/bundleparc/utils.py
  scripts/scil_fodf_bundleparc.py
  scripts/tests/test_fodf_bundleparc.py
Due: Scripts, Library

add an extra line for visibility
  scripts/scil_tractogram_assign_uniform_color.py
Due: Scripts

fix tests
  scripts/scil_tractogram_assign_uniform_color.py
  scripts/tests/test_tractogram_assign_uniform_color.py
Due: Scripts

Update scripts/scil_fodf_bundleparc.py
  scripts/scil_fodf_bundleparc.py
Due: Scripts

ENH: remove TODOs
  scilpy/ml/bundleparc/bundleparcnet.py
  scripts/scil_fodf_bundleparc.py
Due: Scripts, Library

fix pep8
  scilpy/utils/spatial.py
Due: Library

implement json bbox
  scilpy/io/fetcher.py
  scilpy/utils/spatial.py
  scripts/scil_volume_crop.py
  scripts/tests/test_volume_crop.py
Due: Scripts, Library

add option to use pickle
  scilpy/utils/spatial.py
  scripts/scil_volume_crop.py
Due: Scripts, Library

add non-root user to devcontainer
  .devcontainer/Dockerfile
  .devcontainer/setup_container.sh
Due: none

add hyperplane warning
  scripts/scil_bundle_label_map.py
Due: Scripts

use len for warning
  scripts/scil_bundle_label_map.py
Due: Scripts

Arrival fibertube segment -> Termination fibertube segment
  docs/source/documentation/fibertube_tracking.rst
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_fibertube_score_tractogram.py
Due: Scripts, Library

Improve variable names for fibertube density
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

answer francois comments
  scripts/scil_tractogram_assign_uniform_color.py
Due: Scripts

add more info when creating new color
  scripts/scil_tractogram_assign_uniform_color.py
Due: Scripts

DOC: Fix output label indices parameter name in script doc example
  scripts/scil_labels_combine.py
Due: Scripts

last comments
  scilpy/tractanalysis/distance_to_centroid.py
Due: Library

change remove_single_point with filter streamlines_by_nb_points
  scilpy/tractograms/streamline_and_mask_operations.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_bundle_alter_to_target_dice.py
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts, Library

fix typo
  scilpy/tractograms/streamline_operations.py
Due: Library

add test
  scilpy/tractograms/tests/test_streamline_operations.py
Due: Library

fix nb_point after cut with mask
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

Update streamline_operations.py
  scilpy/tractograms/streamline_operations.py
Due: Library

Update README.md
  README.md
Due: none

fix cut invalid streamlines
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tests/test_streamline_operations.py
Due: Library

fix some warning message
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts

Fix extend and save labels
  scripts/scil_bundle_explore_bundleseg.py
Due: Scripts

Merge and fix error
  scripts/scil_bundle_label_map.py
Due: Scripts

Move get_duration, arnaud comments, pep8+tests
  scilpy/segment/bundleseg.py
  scilpy/segment/voting_scheme.py
  scilpy/utils/__init__.py
Due: Library

ENH: optimize cut streamlines
  scilpy/tractograms/streamline_operations.py
Due: Library

FIX: proper function pick
  scilpy/tractograms/streamline_operations.py
Due: Library

FIX: argmax if every strmln is out of the vol
  scilpy/tractograms/streamline_operations.py
Due: Library

fix some issues coming from corner cases in tractometry_flow
  scripts/scil_bundle_compute_endpoints_map.py
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts

fix two small issues
  scripts/scil_bundle_compute_endpoints_map.py
  scripts/scil_tractogram_remove_invalid.py
Due: Scripts

Fix bug and add test related
  scripts/scil_gradients_validate_sampling.py
  scripts/tests/test_gradients_validate_sampling.py
Due: Scripts
