Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Fixing afd bug
  scilpy/tractanalysis/afd_along_streamlines.py
Due: Library

Rename --force_b0_threshold. Add official --b0_threshold option.
  scilpy/gradients/bvec_bval_tools.py
  scilpy/io/utils.py
Due: Library

scil_dwi_detect_volume_outliers: use official arg.
  scilpy/gradients/bvec_bval_tools.py
  scripts/scil_dwi_detect_volume_outliers.py
Due: Scripts, Library

scil_fodf_msmt: Only using tolerance. Link to dipy issue added.
  scilpy/gradients/bvec_bval_tools.py
  scripts/scil_fodf_msmt.py
Due: Scripts, Library

scil_fodf_ssst: [FIX] Was always using minimal b-value as threshold. Adding b0_treshold arg.
  scripts/scil_fodf_ssst.py
Due: Scripts

scil_dwi_to_sh: using official arg. + [FIX] force_b0 was not used! Data was loaded twice. Fixed
  scilpy/reconst/sh.py
  scripts/scil_dwi_to_sh.py
Due: Scripts, Library

scil_dti_metrics: use b0_threshold. Usage in dipy to be verified.
  scripts/scil_dti_metrics.py
Due: Scripts

scil_dwi_extract_b0: already ok. Use official b0_threshold.
  scripts/scil_dti_metrics.py
  scripts/scil_dwi_extract_b0.py
Due: Scripts

scil_sh_to_sf: No b0_threshold option existed. Added.
  scripts/scil_sh_to_sf.py
Due: Scripts

scil_qball_metrics: Only the minimal b-value was used. Adding b0_threshold.
  scripts/scil_qball_metrics.py
Due: Scripts

scil_dki_metrics: could not modify the identify_shells method right now. Only using tolerance.
  scilpy/gradients/bvec_bval_tools.py
  scripts/scil_dki_metrics.py
  scripts/scil_fodf_msmt.py
Due: Scripts, Library

scil_frf_ssst: Add the b0_threshold option.
  scilpy/reconst/frf.py
  scripts/scil_frf_ssst.py
Due: Scripts, Library

scil_frf_msmt: Cannot modify for now. Adding explanation, using tolerance.
  scilpy/reconst/frf.py
  scripts/scil_frf_msmt.py
Due: Scripts, Library

scil_frf_memsmt: Can't change. Added explanations.
  scilpy/io/btensor.py
  scripts/scil_frf_memsmt.py
Due: Scripts, Library

scil_fodf_memsmt: Idem
  scripts/scil_fodf_memsmt.py
Due: Scripts

scil_btensor_metrics: Idem. Removing unused option force_b0.
  scripts/scil_btensor_metrics.py
Due: Scripts

Answer some comments
  scilpy/gradients/bvec_bval_tools.py
  scilpy/io/btensor.py
  scilpy/reconst/frf.py
Due: Library

Fix pep8
  scripts/scil_dki_metrics.py
  scripts/scil_dti_metrics.py
Due: Scripts

Do no use 'args' in check_b0
  scilpy/gradients/bvec_bval_tools.py
  scilpy/io/utils.py
  scripts/scil_dki_metrics.py
  scripts/scil_dti_metrics.py
  scripts/scil_dwi_detect_volume_outliers.py
  scripts/scil_dwi_extract_b0.py
  scripts/scil_dwi_to_sh.py
  scripts/scil_fodf_msmt.py
  scripts/scil_fodf_ssst.py
  scripts/scil_frf_msmt.py
  scripts/scil_frf_ssst.py
  scripts/scil_qball_metrics.py
  scripts/scil_sh_to_sf.py
Due: Scripts, Library

Answer Phil: same explanation for tolerance everywhere
  scilpy/io/utils.py
  scripts/scil_btensor_metrics.py
  scripts/scil_dki_metrics.py
  scripts/scil_fodf_memsmt.py
  scripts/scil_fodf_msmt.py
Due: Scripts, Library

Answering a few more comments
  scilpy/io/btensor.py
  scilpy/reconst/frf.py
  scilpy/reconst/sh.py
  scripts/scil_btensor_metrics.py
  scripts/scil_fodf_memsmt.py
  scripts/scil_frf_memsmt.py
Due: Scripts, Library

pep8
  scilpy/reconst/frf.py
Due: Library

sh_to_sf: Fixes + Test more exhaustively
  scripts/scil_sh_to_sf.py
  scripts/tests/test_sh_to_sf.py
Due: Scripts

scil_sh_to_sf: FIX part2. Presence of b0s in the bvals actually not expected
  scilpy/gradients/bvec_bval_tools.py
  scripts/scil_sh_to_sf.py
  scripts/tests/test_sh_to_sf.py
Due: Scripts, Library

Added tests wrong b0
  scilpy/gradients/bvec_bval_tools.py
  scilpy/io/btensor.py
  scilpy/io/utils.py
  scripts/scil_dki_metrics.py
  scripts/scil_dti_metrics.py
  scripts/scil_dwi_detect_volume_outliers.py
  scripts/scil_dwi_extract_b0.py
  scripts/scil_dwi_to_sh.py
  scripts/scil_fodf_msmt.py
  scripts/scil_fodf_ssst.py
  scripts/scil_frf_memsmt.py
  scripts/scil_frf_msmt.py
  scripts/scil_frf_ssst.py
  scripts/scil_qball_metrics.py
  scripts/scil_sh_to_sf.py
  scripts/tests/test_dti_metrics.py
  scripts/tests/test_dwi_detect_volume_outliers.py
  scripts/tests/test_dwi_extract_b0.py
  scripts/tests/test_dwi_to_sh.py
  scripts/tests/test_fodf_ssst.py
  scripts/tests/test_frf_msmt.py
  scripts/tests/test_frf_ssst.py
  scripts/tests/test_qball_metrics.py
  scripts/tests/test_sh_to_sf.py
Due: Scripts, Library

Add unit test
  scilpy/gradients/bvec_bval_tools.py
  scilpy/gradients/tests/test_bvec_bval_tools.py
Due: Library

Removing peak_vals, adding future test, updating doc
  scripts/scil_gradients_validate_correct.py
  scripts/tests/test_gradients_validate_correct.py
Due: Scripts

Fixing pep8
  scripts/tests/test_gradients_validate_correct.py
Due: Scripts

Doc
  scilpy/io/utils.py
  scripts/scil_sh_convert.py
Due: Scripts, Library

Adding test
  scripts/tests/test_gradients_validate_correct.py
Due: Scripts

Adding msmt support and test
  scripts/scil_frf_mean.py
  scripts/tests/test_frf_mean.py
Due: Scripts

Pep8
  scripts/scil_frf_mean.py
Due: Scripts

fodf_max_in_ventricles: not sending args to method
  scilpy/reconst/fodf.py
  scripts/scil_fodf_max_in_ventricles.py
Due: Scripts, Library

Fodf_metrics: already ok
  scripts/scil_fodf_metrics.py
Due: Scripts

dwi_to_sh and fodf_metrics already ok!
  scripts/scil_fodf_memsmt.py
Due: Scripts

Frf_msmt: already ok!
  scripts/scil_frf_msmt.py
Due: Scripts

Frf_ssst: already ok!
  scripts/scil_frf_ssst.py
Due: Scripts

Freewater maps ok! Adding test for freewater_priors
  scripts/scil_NODDI_priors.py
  scripts/scil_freewater_maps.py
  scripts/scil_freewater_priors.py
  scripts/tests/test_freewater_priors.py
Due: Scripts

Fix: typo
  scripts/scil_fodf_max_in_ventricles.py
Due: Scripts
