Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

fix pep8
  scilpy/tracking/propagator.py
  scripts/scil_tracking_local_dev.py
Due: Scripts, Library

fix hemisphere
  scilpy/tracking/propagator.py
Due: Library

Remove todo; copy Francois's explanation
  scilpy/tractanalysis/tests/test_reproducibility_measures.py
Due: Library

Make changes suggested by Francois offline
  scilpy/image/volume_math.py
Due: Library

Fix wrong import in legacy file
  scripts/legacy/scil_recognize_single_bundle.py
Due: Scripts

fixed typo in convert script
  scripts/scil_surface_convert.py
Due: Scripts

fix mask type
  scripts/scil_dwi_apply_bias_field.py
Due: Scripts

fix tests
  scripts/tests/test_bundle_uniformize_endpoints.py
Due: Scripts

Update version.py
  scilpy/version.py
Due: Library

See coverage from scripts tests only
  pytest.ini
Due: none

remove scripts from tests
  pytest.ini
Due: none

Fetch data in unit test
  scilpy/tractanalysis/tests/test_reproducibility_measures.py
Due: Library

Tractogram_math: to_voxmm does not return None anymore. Fixing
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_math.py
Due: Scripts, Library

pairwise_comparison: out_dir empty not required. fix pep8
  scripts/scil_tractogram_pairwise_comparison.py
  scripts/tests/test_tractogram_pairwise_comparison.py
Due: Scripts

scil_tractogram_qbx: ok!
  scripts/scil_tractogram_qbx.py
Due: Scripts

scil_tractogram_project_streamlines_to_map: ok
  scripts/scil_tractogram_project_streamlines_to_map.py
  scripts/tests/test_tractogram_project_streamlines_to_map.py
Due: Scripts

project_map_to_streamlines: prints --> logging.
  scripts/scil_tractogram_project_map_to_streamlines.py
Due: Scripts

project_map_to_streamlines: use compatible header in test data
  scripts/tests/test_tractogram_project_map_to_streamlines.py
Due: Scripts

scil_tractogram_register: ok!
  scripts/scil_tractogram_register.py
Due: Scripts

Fix wrong outliers return in filter_grid_roi
  scilpy/segment/streamlines.py
  scripts/scil_tractogram_filter_by_anatomy.py
Due: Scripts, Library

Filter by orientation: OK
  scripts/scil_tractogram_filter_by_length.py
  scripts/scil_tractogram_filter_by_orientation.py
Due: Scripts

Answer Arnaud
  scilpy/segment/streamlines.py
  scripts/scil_tractogram_filter_by_roi.py
Due: Scripts, Library

Tests pass
  scilpy/segment/streamlines.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_tractogram_filter_by_roi.py
Due: Scripts, Library

Filter by length: OK
  scripts/scil_tractogram_filter_by_length.py
Due: Scripts

filter_by_roi: major refactor to make checks before the processing
  scripts/scil_tractogram_filter_by_roi.py
Due: Scripts

Filter_by_anatomy: move sub-methods
  scilpy/image/labels.py
  scilpy/image/volume_operations.py
  scripts/scil_tractogram_detect_loops.py
  scripts/scil_tractogram_filter_by_anatomy.py
Due: Scripts, Library

filter_by_anatomy: remove dilate_mask. Major refactor
  scilpy/segment/streamlines.py
  scilpy/segment/tractogram_from_roi.py
  scilpy/tractograms/streamline_operations.py
  scripts/scil_lesions_info.py
  scripts/scil_tractogram_filter_by_anatomy.py
Due: Scripts, Library

Fixes after rebase on master
  scripts/scil_tractogram_filter_by_anatomy.py
Due: Scripts

Answer Charles
  scripts/scil_tractogram_filter_by_anatomy.py
Due: Scripts

Remove now-unused dilate_mask
  scilpy/image/volume_operations.py
Due: Library

filter_by_roi: add more tests. Fixes.
  scripts/scil_tractogram_filter_by_roi.py
  scripts/tests/test_tractogram_filter_by_roi.py
Due: Scripts

Rename legacy names in doc
  scilpy/image/volume_math.py
  scilpy/tracking/tests/test_propagator.py
  scilpy/tracking/tests/test_tracker.py
  scilpy/tracking/utils.py
  scilpy/tractanalysis/todi.py
  scilpy/utils/metrics_tools.py
Due: Library

Add dilation change to script's doc
  scripts/scil_tractogram_filter_by_anatomy.py
  scripts/tests/test_tractogram_filter_by_roi.py
Due: Scripts

Change dilation radius from mm to voxel
  scilpy/image/volume_math.py
  scripts/scil_tractogram_filter_by_anatomy.py
  scripts/tests/test_tractogram_filter_by_anatomy.py
Due: Scripts, Library

fix pep8
  scripts/scil_tractogram_filter_by_anatomy.py
Due: Scripts

Added docstring
  scilpy/tractograms/tractogram_operations.py
  scilpy/utils/spatial.py
  scripts/scil_tractogram_alter.py
  scripts/tests/test_tractogram_alter.py
Due: Scripts, Library

Fix test after /0
  scilpy/tractograms/tests/test_tractogram_operations.py
Due: Library

Add shuffle options
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_alter.py
Due: Scripts, Library

Answer Charles' comments
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_tractogram_math.py
Due: Scripts, Library

Path conditions:
  Scripts: any of: scripts/
  Library: any of: scilpy/
