Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

Small fix
  scilpy/connectivity/connectivity.py
Due: Library

More cleaning. Removing log: nb connection. Wrong numbers
  scilpy/connectivity/connectivity.py
  scripts/scil_connectivity_compute_matrices.py
Due: Scripts, Library

Add missing space
  scripts/scil_connectivity_compute_matrices.py
Due: Scripts

Discussed off-line: Removing option --maps
  scripts/scil_connectivity_compute_matrices.py
Due: Scripts

answer em comments
  scripts/scil_mrds_select_number_of_tensors.py
  scripts/tests/test_mrds_select_number_of_tensors.py
Due: Scripts

Update scil_mrds_select_number_of_tensors.py
  scripts/scil_mrds_select_number_of_tensors.py
Due: Scripts

answer em comments
  scripts/scil_mrds_metrics.py
Due: Scripts

Update / fix fibertube scoring
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

Update fibertube_tracking.rst
  docs/source/documentation/fibertube_tracking.rst
Due: none

answer em comments
  scilpy/tractanalysis/mrds_along_streamlines.py
  scripts/scil_bundle_mean_fixel_mrds_metric.py
Due: Scripts, Library

Change hide_background to keep_background. Add hide_labels
  scilpy/connectivity/connectivity.py
  scripts/scil_connectivity_compute_simple_matrix.py
  scripts/tests/test_connectivity_compute_simple_matrix.py
Due: Scripts, Library

Create new script compute_simple_matrix
  scilpy/connectivity/connectivity.py
  scilpy/tractograms/dps_and_dpp_management.py
  scripts/scil_connectivity_compute_simple_matrix.py
  scripts/tests/test_connectivity_compute_simple_matrix.py
Due: Scripts, Library

Fix pep8
  scripts/scil_connectivity_compute_simple_matrix.py
Due: Scripts

Fix bad merge. Sorry
  scilpy/connectivity/connectivity.py
  scilpy/tractograms/dps_and_dpp_management.py
Due: Library

second round fix Em comments
  scripts/scil_mrds_select_number_of_tensors.py
Due: Scripts

fix commit
  scripts/scil_mrds_select_number_of_tensors.py
Due: Scripts

em comments answered
  scripts/scil_mrds_metrics.py
Due: Scripts

typo
  scripts/scil_mrds_metrics.py
Due: Scripts

answer em comments
  scripts/scil_bundle_mean_fixel_mrds_metric.py
Due: Scripts

Keep old space
  scilpy/tractograms/tractogram_operations.py
Due: Library

Continue density work
  scilpy/tracking/fibertube_utils.py
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts, Library

Fix case when diameter > seg_length
  scilpy/image/volume_space_management.py
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts, Library

try fixing strange behaviour with collisions
  scilpy/tractograms/intersection_finder.py
Due: Library

answer Max comments
  scilpy/io/fetcher.py
  scripts/scil_mrds_select_number_of_tensors.py
Due: Scripts, Library

Working version
  scilpy/tractanalysis/bundle_operations.py
  scilpy/tractanalysis/distance_to_centroid.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

answer max comments
  scilpy/io/fetcher.py
  scripts/scil_mrds_metrics.py
Due: Scripts, Library

FIX: arg bundle in volume pairwise
  scripts/scil_volume_pairwise_comparison.py
Due: Scripts

Ok I found the culprit. Cleaning.
  scilpy/tractanalysis/fibertube_scoring.py
  scilpy/tractograms/intersection_finder.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts, Library

Update demo for high precision data bug
  docs/source/documentation/fibertube_tracking.rst
Due: none

Update doc again
  docs/source/documentation/fibertube_tracking.rst
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts, Library

Fix a bunch of things
  scilpy/tractanalysis/bundle_operations.py
  scilpy/tractanalysis/distance_to_centroid.py
  scilpy/tractograms/streamline_and_mask_operations.py
  scripts/scil_bundle_label_map.py
Due: Scripts, Library

do not filter if no streamlines
  scilpy/segment/streamlines.py
  scripts/scil_bundle_fixel_analysis.py
  scripts/scil_volume_reshape.py
Due: Scripts, Library

fix elipsoid and cuboid
  scilpy/segment/streamlines.py
Due: Library

fix when empty ids
  scripts/scil_tractogram_filter_by_roi.py
Due: Scripts

update doc
  docs/source/documentation/fibertube_tracking.rst
  scilpy/tractanalysis/fibertube_scoring.py
  scripts/scil_tractogram_filter_collisions.py
Due: Scripts, Library

Fic pep8
  scilpy/tractanalysis/fibertube_scoring.py
Due: Library

Update scripts/scil_fibertube_tracking.py
  scripts/scil_fibertube_tracking.py
Due: Scripts

Update scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/streamline_operations.py
Due: Library

Update scripts/scil_viz_tractogram_collisions.py
  scripts/scil_viz_tractogram_collisions.py
Due: Scripts
