Repository scilus/scilpy: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts, Library

codecov.yml:

codecov:
  allow_coverage_offsets: True

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        target: 90%
        branches: 
          - master
        if_ci_failed: error
        only_pulls: false

component_management:
  individual_components:
    - component_id: scilpy_scripts
      name: Scripts
      paths:
        - scripts/
    - component_id: scilpy_library
      name: Library
      paths:
        - scilpy/

comment:
  layout: "condensed_header, diff, components"

FIX: text axis rotation
  scripts/scil_visualize_connectivity.py
Due: Scripts

test start
  scilpy/image/volume_operations.py
  scilpy/tractograms/tests/test_tractogram_operations.py
  scilpy/tractograms/tractogram_operations.py
Due: Library

Added test
  scilpy/tractograms/tests/test_tractogram_operations.py
  scilpy/tractograms/tractogram_operations.py
Due: Library

Adding msmt support
  scripts/scil_frf_set_diffusivities.py
  scripts/tests/test_frf_set_diffusivities.py
Due: Scripts

Pep 8
  scripts/tests/test_frf_set_diffusivities.py
Due: Scripts

run workflow on PR head
  .github/workflows/test.yml
Due: none

rollback to pull_request
  .github/workflows/test.yml
Due: none

debug print response content
  scilpy/io/fetcher.py
Due: Library

fix pep8
  scilpy/io/fetcher.py
Due: Library

pass fetcher to DVC
  scilpy/io/fetcher.py
Due: Library

pull request target does not refer to the PR head
  .github/workflows/test.yml
Due: none

remove debug prints
  scilpy/io/fetcher.py
Due: Library

First batch of modifs
  scilpy/io/utils.py
  scilpy/stats/matrix_stats.py
  scripts/scil_aodf_metrics.py
  scripts/scil_btensor_metrics.py
  scripts/scil_bundle_compute_centroid.py
  scripts/scil_bundle_compute_endpoints_map.py
  scripts/scil_bundle_diameter.py
  scripts/scil_bundle_filter_by_occurence.py
  scripts/scil_bundle_generate_priors.py
  scripts/scil_bundle_label_map.py
  scripts/scil_bundle_mean_fixel_afd.py
  scripts/scil_bundle_mean_fixel_bingham_metric.py
  scripts/scil_bundle_mean_std.py
  scripts/scil_bundle_pairwise_comparison.py
  scripts/scil_bundle_score_many_bundles_one_tractogram.py
  scripts/scil_bundle_score_same_bundle_many_segmentations.py
  scripts/scil_bundle_shape_measures.py
  scripts/scil_compute_pca.py
  scripts/scil_connectivity_compare_populations.py
  scripts/scil_connectivity_compute_matrices.py
  scripts/scil_connectivity_filter.py
  scripts/scil_connectivity_graph_measures.py
  scripts/scil_connectivity_math.py
  scripts/scil_denoising_nlmeans.py
  scripts/scil_dki_metrics.py
  scripts/scil_dti_metrics.py
  scripts/scil_dwi_compute_snr.py
  scripts/scil_dwi_concatenate.py
  scripts/scil_dwi_detect_volume_outliers.py
  scripts/scil_dwi_extract_shell.py
  scripts/scil_dwi_powder_average.py
  scripts/scil_dwi_prepare_eddy_command.py
  scripts/scil_dwi_prepare_topup_command.py
  scripts/scil_dwi_reorder_philips.py
  scripts/scil_dwi_split_by_indices.py
  scripts/scil_dwi_to_sh.py
Due: Scripts, Library

fix for infinite values
  scilpy/utils/metrics_tools.py
Due: Library

fix typo
  scilpy/utils/metrics_tools.py
Due: Library

Answer Arnaud's offline comment
  scilpy/gradients/tests/test_bvec_bval_tools.py
Due: Library

Test identify_shells. Added a warning. Renamed tol
  scilpy/gradients/bvec_bval_tools.py
  scilpy/gradients/tests/test_bvec_bval_tools.py
  scilpy/image/volume_operations.py
  scripts/scil_NODDI_maps.py
  scripts/scil_freewater_maps.py
  scripts/scil_tractogram_commit.py
Due: Scripts, Library

mrtrix2fsl and fsl2mrtrix: Moved to io.gradients. They load and save.
  scilpy/gradients/bvec_bval_tools.py
  scilpy/gradients/tests/test_bvec_bval_tools.py
  scilpy/io/gradients.py
  scripts/scil_NODDI_maps.py
  scripts/scil_freewater_maps.py
  scripts/scil_gradients_convert.py
  scripts/scil_tractogram_commit.py
Due: Scripts, Library

Add test flip and swap axis
  scilpy/gradients/bvec_bval_tools.py
  scilpy/gradients/tests/test_bvec_bval_tools.py
  scripts/scil_gradients_modify_axes.py
Due: Scripts, Library

Prepare tests
  scilpy/gradients/tests/test_bvec_bval_tools.py
Due: Library

normalize_bvecs: Remove unused variable (verified in all of our scripts)
  scilpy/gradients/bvec_bval_tools.py
Due: Library

Add test axis 'v' and fix pep8
  scilpy/gradients/tests/test_bvec_bval_tools.py
Due: Library

Fixing pep8
  scripts/scil_frf_set_diffusivities.py
Due: Scripts

Second batch of modifs
  scilpy/reconst/fodf.py
  scilpy/reconst/frf.py
  scripts/scil_fodf_max_in_ventricles.py
  scripts/scil_fodf_memsmt.py
  scripts/scil_fodf_msmt.py
  scripts/scil_fodf_ssst.py
  scripts/scil_freewater_maps.py
  scripts/scil_frf_mean.py
  scripts/scil_frf_memsmt.py
  scripts/scil_frf_msmt.py
  scripts/scil_frf_ssst.py
Due: Scripts, Library

Updating test structure for mti
  scilpy/reconst/tests/test_mti.py
Due: Library

disable test run on forks
  .github/workflows/test.yml
Due: none

Third batch of scripts
  scilpy/stats/stats.py
  scripts/scil_NODDI_maps.py
  scripts/scil_NODDI_priors.py
  scripts/scil_gradients_convert.py
  scripts/scil_gradients_generate_sampling.py
  scripts/scil_gradients_round_bvals.py
  scripts/scil_labels_combine.py
  scripts/scil_labels_dilate.py
  scripts/scil_labels_remove.py
  scripts/scil_labels_split_volume_by_ids.py
  scripts/scil_labels_split_volume_from_lut.py
  scripts/scil_lesions_info.py
  scripts/scil_mti_maps_MT.py
  scripts/scil_mti_maps_ihMT.py
  scripts/scil_outlier_rejection.py
  scripts/scil_project_streamlines_to_map.py
  scripts/scil_qball_metrics.py
  scripts/scil_score_tractogram.py
  scripts/scil_screenshot_bundle.py
  scripts/scil_sh_to_aodf.py
  scripts/scil_stats_group_comparison.py
  scripts/scil_surface_smooth.py
  scripts/scil_tracking_local.py
  scripts/scil_tracking_local_dev.py
  scripts/scil_tracking_pft.py
  scripts/scil_tracking_pft_maps.py
  scripts/scil_tractogram_apply_transform.py
  scripts/scil_tractogram_apply_transform_to_hdf5.py
  scripts/scil_volume_apply_transform.py
  scripts/scil_volume_math.py
  scripts/scil_volume_remove_outliers_ransac.py
  scripts/scil_volume_resample.py
  scripts/scil_volume_stats_in_ROI.py
Due: Scripts, Library

write sources relative to repository
  .coveragerc
Due: none

first try running only simple fast test to test upload and effect on codecov.io
  .github/workflows/test.yml
Due: none

Add gradient_utils tests
  scilpy/gradients/gen_gradient_sampling.py
  scilpy/gradients/tests/test_gradients_utils.py
  scilpy/gradients/utils.py
Due: Library

Fix pep8
  scilpy/gradients/tests/test_gradients_utils.py
  scilpy/gradients/utils.py
Due: Library

switch back to v4, to see if they fixed something
  .github/workflows/test.yml
Due: none

Add test files with empty tests
  scilpy/dwi/tests/__init__.py
  scilpy/dwi/tests/test_operations.py
  scilpy/dwi/tests/test_utils.py
Due: Library

use source pkgs instead of simple source
  .coveragerc
Due: none

check reports before codecov run
  .github/workflows/test.yml
Due: none

Finish cleaning the main of dwi_ scripts, for eventual unit tests
  scilpy/dwi/operations.py
  scilpy/dwi/tests/test_operations.py
  scilpy/io/varian_fdf.py
  scripts/scil_dwi_detect_volume_outliers.py
Due: Scripts, Library

use master as ref for PRs
  .github/workflows/test.yml
Due: none

remove force base, as it breaks PR coverage counters
  .github/workflows/test.yml
Due: none

Uniformize verbose level in modules
  scilpy/image/volume_operations.py
  scilpy/reconst/fodf.py
  scilpy/reconst/frf.py
  scilpy/stats/matrix_stats.py
  scilpy/stats/stats.py
  scilpy/stats/utils.py
  scilpy/tracking/tracker.py
  scilpy/tractanalysis/features.py
  scilpy/tractograms/streamline_operations.py
  scilpy/tractograms/tractogram_operations.py
  scripts/scil_dwi_compute_snr.py
Due: Scripts, Library
